/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
	font-family:Tahoma;
	font-size: 100%;
	background:#fff;
}
body a:hover{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
	-o-transition:0.5s all;
}
/*-- Header Part Starts Here --*/
.header{
	background:url(../images/banner.jpg)no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	min-height:800px;
	position:relative;
}
.navigation{
	background:#fcff00;
	width:43%;
	padding:1em;
	color:#000;
}
ul.navig{
	padding:0;
}
ul.navig li{
	display:inline-block;
}
ul.navig li a{
	color:#000;
	text-decoration: none;
	text-transform: uppercase;
	font-size:0.875em;
	font-weight: 400;
}
ul.navig li a:hover, ul.navig li a.active{
	color:#ff530d;
}
.logo{
	margin-top:15%;
}
.logo p{
	font-size:2em;
	font-weight:400;
	color:#fff;
	padding:0 5px;
	margin:1em 0;
}

.header-row{
	width: 1170px;
	position: absolute;
	bottom: -5%;
}
.header-column{
	background:#e92802;
	padding:1em 2em;
	text-align:center;
	min-height: 200px;
}
.h-c1{
	background:#e1e902;
}
.h-c2{
	background:#37e902;
}
.header-column i{
	width:64px;
	height:64px;
	background:url(../images/head-icons.png)no-repeat;
	display:inline-block;
}
.header-column i.buf{
	background-position:0px 0px;
}
.header-column i.tract{
	background-position:-68px 0px;
}
.header-column i.buff{
	background-position:-138px 0px;
}
.header-column h3{
	font-size:1.2em;
	color:#fff;
	text-transform:uppercase;
	margin:0.5em 0 ;
	font-weight:400;
}
.header-column p{
	font-size:0.875em;
	color:#fff;
	line-height:1.4em;
}

/*-- Header Part Ends Here --*/
/*-- What we Do Part Starts Here --*/
.what-we{
	margin-top:3em;
	padding:4em 0;
}
.what-we-column{}
h3.heding{
	color:#e92802;
	text-transform: uppercase;
	font-weight:400;
	font-size:2.5em;
}
h3.heding span{
	border-bottom:1px solid #555;
	padding:0.6em 0;
}
.what-we-column p{
	font-size:1.3em;
	font-weight:400;
	color:#808080;
	margin:2em 0 0;
}
.what-we-column1 p{
	font-size:1em;
	font-weight:400;
	color:#808080;
	line-height:1.6em;
}
.wt-w-row{
	margin:2em 0 0; 
}
.wt-w-col{
	padding:0;
}
.wt-w-col i{
	width:64px;
	height:64px;
	background:url(../images/grapo-icons.png)no-repeat;
	display:inline-block;
	margin-right:5%;
	float:left;
}
.wt-w-col i.grapo{
	background-position:0px 0px;
}
.wt-w-col i.grapos{
	background-position:-60px 0px;
}
.wt-w-col p{
	font-size: 0.875em;
	width: 70%;
	float:left;
	color:#808080;
	line-height:1.4em;
}
/*-- What we Do Part Ends Here --*/
/*-- Team Part Starts Here --*/
.team{
	background:#f5f5f5;
	padding:4em 0;
}
.team-top{
	margin-top:2em;
}
.team-top p{
	font-size: 1em;
	font-weight:400;
	color:#808080;
	line-height:1.6em;
	padding:0.5em 0;
}
.team-row{
	margin:1em 0;
	padding:0;
}
.team-column{
	padding:0;
}
.team-column img{
	width:210px;
	height:230px;
	display: block;
	position:relative;
}
.caption{
	background:rgba(255, 83, 13, 0.63);
	width:210px;
	height:230px;
	position:absolute;
	top:0;
	display: none;
	text-align:center;
	padding:27% 0 0 0;
}
.caption a img{
	width:80px;
	height:80px;
	display: inline-block;
}
.t_c_img:hover div.caption{
	display: block;
}
.t_act_img div.caption{
	display: block;
}
.team-column h3{
	font-size:1.2em;
	text-transform:uppercase;
	color:#ff530d;
	margin:1em 0 0.5em;
	font-weight:400;
}
.team-column p{
	font-size:0.875em;
	color:#303030;
	font-weight:400;
}
/*-- Team Part Ends Here --*/
/*-- Services Part Starts Here --*/
.services{
	padding:4em 0;
}
.services-row{
	margin:4em 0 0;
}
.services-column{
	padding:0;
}
.services-column h4{
	font-size:1.2em;
	color:#000;
	font-weight:400;
	text-transform:uppercase;
}
.ser_col{
	margin:2em 0 0; 
}
.ser_col i.tomoto{
	width:100px;
	height:100px;
	display: inline-block;
	float:left;
	margin-right:3%;
}
.ser-col-right{
	width:70%;
	float:left;
}
.ser-col-right h4{
	font-weight:400;
	font-size:1.2em;
	color:#000;
	margin:0 0 0.3em 0;
	text-transform:none;
}
.ser-col-right p{
	font-size:0.875em;
	font-weight:400;
	color:#303030;
	line-height:1.6em;
	margin-bottom:0.5em;
}
.ser-col-right a{
	font-weight:600;
	color:#e92802;
	text-transform:uppercase;
	font-size:0.875em;
	text-decoration:none;
}
.ser-col-right a:hover{
	color:#37e902;
}
ul.reserch{
	padding:0;
	margin:2em 0;
}
ul.reserch li{
	list-style-type:decimal;
	line-height:1.8em;
	color:#e92802;
}
ul.reserch li a{
	color:#e92802;
	text-decoration:none;
}
ul.reserch li a:hover{
	color:#555;
}
/*-- Services Part Ends Here --*/
/*-- Portfolio Part Starts Here --*/
.portfolios{
	background:#f5f5f5;
	padding:4em 0 1em;
}
.portfolios p{
	margin:2em 0;
	font-size:1.2em;
	color:#808080;
	font-weight:400;
}
/*	Strip
/*-----------------------------------------------------------------------------------*/
.b-link-stripe{
	position:relative;
	display:inline-block;
	vertical-align:top;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	overflow:hidden;
}
.b-link-stripe .b-wrapper{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	text-align:center;
	color:#ffffff;
	overflow:hidden;
}
.b-link-stripe .b-line{
	position:absolute;
	top:0;
	bottom:0;
	width:20%;
	background:rgba(15, 207, 140, 0.9);
	transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-ms-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	opacity:0;
	visibility:hidden; /* lt-ie9 */
}
/*-----------------------------------------------------------------------------------*/
/*	Animation effects
/*-----------------------------------------------------------------------------------*/
.b-animate-go{
	text-decoration:none;
}
.b-animate{
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	visibility: hidden;
	font-size:1.1em;
	font-weight:700;
}
.b-animate img{
	margin-top:16%;
	display: -webkit-inline-box;
}
/* lt-ie9 */
.b-animate-go:hover .b-animate{
	visibility:visible;
}
.b-from-left{
	position:relative;
	left:-100%;
}
.b-animate-go:hover .b-from-left{
	left:0;
}
span.m_4{
	font-size:14px;
	font-weight:400;
}
p.m_5 {
	margin: 2% auto 5%;
	width: 70%;
	color: #283A47;
	font-size: 1.1em;
	font-weight: 600;
	line-height: 1.5em;
	text-align: center;
}
ul#filters {
	padding: 0px;
}
/*--team--*/
.col_1_of_4:first-child {
	margin-left: 0;
}
.span_1_of_4 {
	width: 22.8%;
}
.col_1_of_4 {
	display: block;
	float: left;
	margin: 1% 0 1% 2.6%;
	background: #FFF;
}
.b-wrapper:hover {
	background: rgba(212, 86, 38, 0.57);
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
/* lt-ie9 */
.b-link-stripe:hover .b-line{
	visibility:visible;
}
.b-link-stripe .b-line1{
	left:0;
}
.b-link-stripe .b-line2{
	left:20%;
	transition-delay:0.1s !important;
	-moz-transition-delay:0.1s !important;
	-ms-transition-delay:0.1s !important;
	-o-transition-delay:0.1s !important;
	-webkit-transition-delay:0.1s !important;
}
.b-link-stripe .b-line3{
	left:40%;
	transition-delay:0.2s !important;
	-moz-transition-delay:0.2s !important;
	-ms-transition-delay:0.2s !important;
	-o-transition-delay:0.2s !important;
	-webkit-transition-delay:0.2s !important;
}
.b-link-stripe .b-line4{
	left:60%;
	transition-delay:0.3s !important;
	-moz-transition-delay:0.3s !important;
	-ms-transition-delay:0.3s !important;
	-o-transition-delay:0.3s !important;
	-webkit-transition-delay:0.3s !important;
}
.b-link-stripe .b-line5{
	left:80%;
	transition-delay:0.4s !important;
	-moz-transition-delay:0.4s !important;
	-ms-transition-delay:0.4s !important;
	-o-transition-delay:0.4s !important;
	-webkit-transition-delay:0.4s !important;
}
.b-link-stripe:hover .b-line{
	opacity:1;
}
}
#filters {
	margin: 3% 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
	#filters li {
		display: -webkit-inline-box;
	}
	#filters li span {
		display: block;
		padding: 5px 15px;
		text-decoration: none;
		color: rgba(31, 49, 63, 0.7);
		cursor: pointer;
		font-size:0.875em;
		font-weight: 400;
		text-transform:uppercase;
		background:#fff;
		margin:0 10px 0 0;
	}
	#filters li span.active {
		background:#fcff00;
		color: #e92802;
	}
 	#portfoliolist .portfolio {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		width: 30%;
		display:none;
		float:left;
		overflow:hidden;
		margin: 0 2% 5% 0;
	}
	div#portfoliolist {
		padding: 40px 0px;
}	
	.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		cursor:pointer;
	}
	.portfolio img {
		max-width:100%;
		/*--position: relative;--*/
		transition: all 300ms!important;
		-webkit-transition: all 300ms!important;
		-moz-transition: all 300ms!important;
	}
	.portfolio .label {
		position: absolute;
		width: 100%;
		height:40px;
		bottom:-40px;
	}
	.portfolio .label-bg {
			background: #22B4B8;
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}
		.portfolio .label-text {
			color:#fff;
			position: relative;
			z-index:500;
			padding:5px 8px;
		}
			
			.portfolio .text-category {
				display:block;
				font-size:9px;
				font-size: 12px;
				text-transform:uppercase;
			}
/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/*-- Portfolio Part Ends Here --*/
/*-- Triats part Starts here --*/
.triats{
	background:url(../images/triat-bg.jpg)no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	padding:4em 0 6em;
}
h3.ded{
	color:#fff;
}
h3.ded span{
	border-bottom:1px solid #fff;
}
.triats p{
	font-size:1.25em;
	color:#fff;
	text-align:left;
	font-weight:400;
	line-height:1.6em;
	margin:2em 0;
}
/*------------------ Slider Part starts Here----------*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;
}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}
.callbacks_nav {
  	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 52%;
	left: 0;
	opacity: 0.7;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 61px;
	width: 55px;
	background: transparent url("../images/themes.png") no-repeat left top;
	margin-top: -65px;
}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  width:100%;
}
.callbacks_tabs{
	list-style: none;
	position: absolute;
	top: 88%;
	z-index: 999;
	left: 47%;
	padding: 0;
	margin: 0;
}
.callbacks_tabs li{
	display:inline-block;
}
@media screen and (max-width: 600px) {
  .callbacks_nav {
    top: 47%;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "\f111";
  font-size:0;
  font-family: FontAwesome;
  visibility: visible;
  display: block;
  height:18px;
  width:18px;
  display:inline-block;
  border:2px solid #FFF;
  background:#fff;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
}
.callbacks_here a:after{
	border:2px solid #fcff00;
	background:#fcff00;
}	
/*-- Triats part Ends here --*/
/*-- Blog Part Starts Here --*/
.blog{
	padding:4em 0;
	background:#fff;
}
.blog p{
	margin:2em 0;
	font-size:1.2em;
	color:#808080;
	font-weight:400;
}
.blog-row{}
.blog-column{}
.blog-data{
	background:#f5f5f5;
	min-height:250px;
}
.blog-data img{
	width:100%;
}
.img-desc{
	padding:1em;
}
.img-desc h4{
	font-size:1.2em;
	text-transform:uppercase;
	color:#e92802;
	margin-bottom:0.5em;
	font-weight:300;
}
.img-desc p{
	font-size:0.875em;
	color:#808080;
	line-height:1.6em;
	font-weight:400; 
	margin:0 0 1em;
}
p.cmt{
	font-size:0.875em;
	color:#808080;
	
}
p.cmt span{
	width:24px;
	height:24px;
	background:url(../images/cmt.png)no-repeat;
	display:inline-block;
	margin-right:10px;
	vertical-align: bottom;
}	
i.stars{
	width:63px;
	height:17px;
	display: inline-block;
	margin:0 1em 0 3em;
	background:none;
	vertical-align: top;
	cursor: pointer;
}
i.bl-arw{
	width:35px;
	height:13px;
	display: inline-block;
	margin:0 1em 0 4em;
	background:none;
	vertical-align: top;
	cursor: pointer;
}
.blog-but{
	text-align:center;
	margin:3em 0 1em;
}
.blog-but a{
	font-size:1em;
	background:#e92802;
	color:#fff;
	padding:10px 20px;
	text-decoration: none;
	text-transform: uppercase;
}
.blog-but a:hover{
	background:#fcff00;
	color:#000;
}
.map{}
.map iframe{
	width:100%;
	height:350px;
}	
/*-- Blog Part Ends Here --*/
/*-- Contact Part Starts Here --*/
.contact{
	padding:4em 0;
}
.contact p{
	margin:2em 0;
	font-size:1.2em;
	color:#808080;
	font-weight:400;
}
.contact-box{
	width:50%;
	float:left;
}
.contact-box input[type="text"]{
	width:80%;
	margin:1em 0 2em;
	border:0;
	padding:10px;
	border-bottom:1px solid rgba(128, 128, 128, 0.49);
	outline:none;
	-webkit-appearance:none;
}
.contact-box textarea{
	width:100%;
	padding:0;
	border:0;
	border-bottom:1px solid rgba(128, 128, 128, 0.49);
	padding:10px;
	-webkit-appearance:none;
	outline:none;
	height:241px;
	resize:none;
}
.text{
	margin:2em 0;
	text-align:right;
}
.text input[type="submit"]{
	font-size:1em;
	text-transform:uppercase;
	border:0;
	background:#e92802;
	padding:20px 20px;
	color:#fff;
	font-weight:400;
	-webkit-appearance:none;
	outline:none;
	cursor: pointer;
}
.text input[type="submit"]:hover{
	background:#fcff00;
	color:#000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*-- Contact Part Ends Here --*/
/*-- Footer Part Starts Here --*/
.footer{
	background:#1c1f26;
	padding:4em 0;
	text-align:center;
}
i.locater{
	width:32px;
	height:32px;
	background:url(../images/locater.png)no-repeat;
	display:inline-block;
	margin:1em 0 0;
}
.footer p{
	font-size:1em;
	margin:1em 0;
	color:#808080;
	font-weight: 400;
}
ul.footer-list{
	padding:0;
	margin-top:3em;
}
ul.footer-list li{
	display:inline-block;
	margin:0px 10px;
}
ul.footer-list li i{
	width:32px;
	height:32px;
	background:url(../images/footer-icons.png)no-repeat;
	cursor: pointer;
	display: inline-block;
}
ul.footer-list li i.fa{
	background-position:0 0;
}
ul.footer-list li i.fb{
	background-position:-42px 0;
}
ul.footer-list li i.fc{
	background-position:-91px 0;
}
ul.footer-list li i.fd{
	background-position:-137px 0;
}
ul.footer-list li i.fa:hover{
	background-position:0 -32px;
}
ul.footer-list li i.fb:hover{
	background-position:-42px -32px;
}
ul.footer-list li i.fc:hover{
	background-position:-91px -32px;
}
ul.footer-list li i.fd:hover{
	background-position:-137px -32px;
}
.footer p a{
	color:#808080;
	text-decoration:none;
}
.footer p a:hover{
	color:#e92802;
}
p.copyright{
	background:#e92802;
	padding:2em 0;
	color:#fff;
	font-size:1em;
	text-align:center;
}
p.copyright a{
	color:#fcff00;
	text-decoration:none;
}
p.copyright a:hover{
	color:#808080;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 52px;
	height: 48px;
	border: none;
	text-indent: 100%;
	background: url(../images/top_move.png) no-repeat 0px 0px;
}
/*-- Footer Part Ends Here --*/
/*-- Media Queries Starts Here --*/
@media(max-width:1024px){
	.navigation {
		width: 52%;
	}
	.logo {
		margin-top: 10%;
	}
	.header-row {
		width: 960px;
	}
	.header {
		min-height: 620px;
	}
	i.stars {
		margin: 0 1em 0 2em;
	}
	i.bl-arw {
		margin: 0 1em 0 1em;
	}
}
@media(max-width:768px){
	.header-row {
		width: 720px;
		bottom: -13%;
	}
	.navigation {
		width: 68%;
	}
	.logo a img {
		width: 15%;
	}
	.logo p {
		font-size: 1.5em;
		margin: 0.5em 0;
	}
	.col-md-4.header-column {
		width: 33.33%;
		float: left;
		padding: 1em;
	}
	.header {
		min-height: 483px;
	}
	.header-column h3 {
		font-size: 0.85em;
	}
	.what-we-column p {
		margin: 2em 0 1em;
	}
	.wt-w-col {
		padding: 0;
		width: 50%;
		float: left;
	}
	.team-column {
		padding: 0;
		width: 50%;
		float: left;
		margin-bottom: 2em;
	}
	.team {
		padding: 4em 0 2em;
	}
	.ser-col-right {
		width: 80%;
	}
	.services-column {
		padding: 0;
		margin-bottom: 2em;
	}
	ul.reserch {
		margin: 2em 2em;
	}
	.services {
		padding: 3em 0 2em;
	}
	#portfoliolist .portfolio {
		width: 48%;
	}
	.blog-column {
		width: 50%;
		margin: 0 auto 2em;
	}
	.caption {
		padding: 21% 0 0 0;
	}
	
}
@media(max-width:640px){
	.navigation {
		width: 82%;
	}
	.logo p {
		font-size: 1.1em;
		margin: 0.2em 0;
	}
	.header-row {
		width: 600px;
	}
	.header-column i {
		width: 48px;
		height: 48px;
		background-size: 350%;
	}
	.header-column i.buf {
		background-position: -4px 0px;
	}	
	.header-column i.tract {
		background-position: -61px 0px;
	}
	.header-column i.buff {
		background-position: -119px 0px;
	}
	.col-md-4.header-column {
		padding: 1em 0.5em;
	}
	.team {
		padding: 2em 0 0em;
	}
	.portfolios {
		padding: 2em 0 1em;
	}
	.header-column h3 {
		font-size: 0.8em;
	}
	.header {
		min-height: 398px;
	}
	h3.heding {
		font-size: 1.5em;
	}
	.what-we-column p {
		margin: 1.5em 0 1em;
		font-size: 1em;
	}
	.what-we-column1 p {
		font-size: 0.85em;
	}
	.triats p {
		font-size: 0.85em;
		margin: 1em 0;
	}
	.blog-column {
		width: 57%;
		margin: 0 auto 2em;
	}
	.triats {
		padding: 2em 0 3em;
	}
	.blog p {
		margin: 1.5em 0;
		font-size: 1em;
	}
	.blog-but {
		margin: 0em 0 1em;
	}
	.blog {
		padding: 2em 0;
	}
	.contact {
		padding: 2em 0 1em;
	}
	.contact p {
		margin: 1.5em 0;
		font-size: 1em;
	}
}
@media(max-width:480px){
	.h-c1 {
		display: none;
	}
	.header-row {
		width: 400px;
		bottom:-20%;
	}
	.col-md-4.header-column {
		width: 50%;
	}
	span.menu{
		width:32px;
		height:32px;
		background:url(../images/nav.png)no-repeat;
		display:inline-block;
		cursor: pointer;
	}
	.navigation{
		display: none;
	}
	ul.navig{
		color:#fcff00;
	}
	ul.navig li{
		display: block;
	}
	.header {
		min-height: 315px;
	}
	.col-md-4.header-column {
		padding: 0.5em;
		min-height:140px;
	}
	.logo {
		margin-top: 7%;
	}
	.logo p {
		font-size: 1em;
	}
	.header {
		min-height: 269px;
	}
	.what-we {
		margin-top: 3em;
		padding: 2em 0;
	}
	h3.heding {
		font-size: 1.2em;
	}
	.what-we-column p {
		margin: 1.5em 0 0.5em;
		font-size: 0.85em;
	}
	.wt-w-col {
		width: 100%;
		margin-bottom: 1em;
	}
	.wt-w-col i {
		width: 40px;
		height: 40px;
		background-size: 200%;
	}
	.wt-w-col i.grapos {
		background-position: -37px 0px;
	}
	.what-we-column1 p {
		font-size: 0.8em;
	}
	.team-top p {
		font-size: 0.8em;
	}
	.team-top {
		margin-top: 1em;
	}
	.team-column img {
		display: block;
		height:auto;
		width: 55%;
	}
	.caption {
		width: 119px;
		height: 130px;
		padding:20% 0 0 0;
	}
	.caption a img {
		width: 40px;
		height: 40px;
	}
	.team-column h3 {
		font-size: 0.85em;
	}
	.team-column p {
		font-size: 0.8em;
	}
	.services {
		padding: 1em 0 1em;
	}
	.services-row {
		margin: 2em 0 0;
	}
	.services-column h4 {
		font-size: 0.875em;
	}
	.ser_col i.tomoto {
		width: 60px;
		height: 60px;
		background-size: 100%;
	}
	.ser-col-right p {
		font-size: 0.8em;
	}
	.ser-col-right a {
		font-size: 0.75em;
	}
	.portfolios p {
		margin: 2em 0 1em;
		font-size: 0.875em;
	}
	#filters li span {
		margin: 0 6px 0 0;
	}
	.triats p {
		font-size: 0.8em;
		margin: 1em 0;
	}
	.blog p {
		margin: 1.5em 0;
		font-size: 0.85em;
	}
	.blog-column {
		width: 72%;
	}
	.img-desc h4 {
		font-size: 0.875em;
	}
	.blog p {
		margin: 1em 0;
		font-size: 0.8em;
	}
	.map iframe {
		width: 100%;
		height: 200px;
	}
	.blog-but a {
		font-size: 0.8em;
		background: #e92802;
		color: #fff;
		padding: 7px 15px;
	}
	.contact p {
		margin: 1.5em 0;
		font-size: 0.87em;
	}
	.contact-box {
		width: 100%;
		float: left;
	}
	.contact-box input[type="text"] {
		width: 100%;
		margin: 1em 0 1em;
		padding: 4px;
	}
	.contact-box textarea {
		padding: 5px;
		height: 118px;
	}
	.text input[type="submit"] {
		font-size: 0.8em;
		padding: 10px 10px;
	}
	.contact {
		padding: 2em 0 0em;
	}	
	.footer {
		padding: 1em 0 2em;
	}
	.footer p {
		font-size: 0.8em;
		margin: 0em 0;
	}
	ul.footer-list {
		padding: 0;
		margin-top: 2em;
	}
	p.copyright {
		font-size: 0.8em;
	}
}
@media(max-width:320px){
	.h-c2 {
		display: none;
	}
	.col-md-4.header-column {
		width: 100%;
	}
	.header-row {
		width: 275px;
		bottom: -20%;
	}
	.logo a img {
		width: 20%;
	}
	.logo p {
		font-size: 0.875em;
	}
	.header {
		min-height: 236px;
	}
	h3.heding {
		font-size: 1em;
	}
	.team-column img {
		width: 82%;
	}
	.services-column h4 {
		font-size: 0.75em;
		line-height:1.6em;
	}
	.services-row {
		margin: 1em 0 0;
	}
	.ser_col {
		margin: 1em 0 0;
	}
	.ser-col-right {
		width: 100%;
	}
	.ser_col i.tomoto{
		margin-bottom:3%;
	}
	ul.reserch {
		margin: 1em 0em 0 2em;
	}
	ul.reserch li {
		font-size: 0.85em;
	}
	.services {
		padding: 1em 0 0em;
	}
	#filters li span {
		padding: 5px 4px;
		margin:0;
		font-size:0.7em;
	}
	.b-animate img {
		margin-top: 15%;
		width: 35%;
	}
	.callbacks_tabs a:after {
		height: 12px;
		width: 12px;
	}
	.callbacks_tabs {
		list-style: none;
		position: absolute;
		top: 93%;
		z-index: 999;
		left: 37%;
	}
	.blog-column {
		width: 100%;
	}
	i.stars {
		margin: 0 1em 0 1em;
	}
	.contact p {
		margin: 1.5em 0;
		font-size: 0.8em;
	}
	i.bl-arw{
		margin:0;
	}
	
}
/*-- Media Queries Ends Here --*/