/*.block1_count {
	behavior: url(js/PIE.htc);
	position: relative;
}*/

body {
	min-width: 1120px;
}

#form .invalid .error-message, 
#form .empty .empty-message {
	display: block;

}

#form .error-message, 
#form .empty-message {
	display: none;
}

.support:hover img  {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);
}


#contact-form .contact-form-loader  {
	display: none;
}

#contact-form.loading .contact-form-loader  {
	display: block;
}
