html, body{
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	background:#fff;
}
body a,.grid_1,plan_1,plan_1.one,plan_1.two,i.icon1, i.icon2, i.icon3, i.icon4, i.icon5, i.icon6 {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
 text-decoration:none;
}
input[type="button"],input[type="submit"],li.parallelogram{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label {
    margin: 0;
    color: #fff;
}
/*-- header --*/

.navbar-nav {
    float: none;
    margin: 0 auto;
    width:72% ! important;
}
.navbar-default {
    background:url(../images/shape-1.png) no-repeat 0px 0px !important;
	background-size:cover !important;
	
	height:90px;
}
.navbar {
    border-radius: 0px ! important;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: none ! important;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color:#3ea70f;
   
}
.glyphicon {
    position: relative;
    top: 0px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 2.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon {
    color: #212121;
    font-size: 4em;
    margin-right: 20px;
    display: inline-block;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 20px 49px ! important;
}
.logo h1 a {
    color: #fff;
    font-size: 1.3em;
    display: block;
    font-weight: 600;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    padding: 0.2em 0;
    background: url(../images/shape.png) no-repeat 0px 0px;
    height: 76px;
    background-size: cover;
}
.banner-info {
    padding: 12em 0;
    width: 61%;
}
/*-- header --*/
.banner {
    background: url(../images/1.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 750px;
}
.banner-info h2 {
    font-size: 4em;
    color:#fff;
    font-weight: 300;
   font-family: 'Source Sans Pro', sans-serif;
    margin: 0 0 1em;
}
.banner-info p {
    font-size: 1.2em;
    line-height: 1.8em;
    color: #fff;
    margin: 0 0 2em;
}
/*--redesig--*/
.redesig h3 {
    color: #212121;
    font-size: 3em;
    font-weight: 300;
    margin: 0 0 2em;
	text-align:center;
	font-family: 'Source Sans Pro', sans-serif;
}
.redesig span {
    color: #3ea70f;
}
.redesig {
    padding: 5em 0;
}
/*--redesig--*/
/*--content-middle--*/
.content-mid{
	padding: 0;
}
.content-middle {
  padding: 0 15px;
}
.content-mid1{
	padding: 1.63em;
	background: #3ea70f;
}
.content-mid1 h2{
	font-size: 2em;
  	font-family: 'Source Sans Pro', sans-serif;
  	color: #fff;
 	margin: 0.22em 0;
}
.content-mid1 p {
  color: #9DE87C;
  line-height: 1.9em;
  font-size: 1em;
  margin: 0 0 0.5em;
}
i.glyphicon.glyphicon-compressed{
	font-size:2.55em;
	color:#fff;
}
a i.glyphicon.glyphicon-arrow-right{
	font-size:1.5em;
	color:#fff;
}
a i.glyphicon.glyphicon-arrow-right:hover {
    color:#212121;
}
/*--//content-middle--*/
/*--wedo start here--*/
.wedo-grid {
  text-align: center;
}
.wedo {
  padding: 5em 0em;
  background:#F0F1F0;
}
.wedo-top h3 {
  text-align: center;
  font-size: 3em;
  color:#212121;
  font-weight:300;
 font-family: 'Source Sans Pro', sans-serif;
}
.wedo-top {
  padding: 0em 0em 3em 0em;
}
span.glyphicon.glyphicon-wrench {
  font-size: 4em;
  color: #212121;
}
span.glyphicon.glyphicon-scissors {
  font-size: 4em;
  color: #212121;
}
span.glyphicon.glyphicon-briefcase {
  font-size: 4em;
  color: #212121;
}
span.glyphicon.glyphicon-star {
  font-size: 4em;
  color: #212121;
}
span.glyphicon.glyphicon-globe {
  font-size: 4em;
  color: #212121;
}
span.glyphicon.glyphicon-user {
  font-size: 4em;
  color: #212121;
}
.wedo-grid h4 {
    font-size: 1.5em;
    color: #3ea70f;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
.wedo-grid p {
  font-size: 1em;
  color:#797979;
  line-height: 1.8em;
  margin:1em 0;
}
.wedo span{
	color:#3ea70f
}
/*--wedo end here--*/
/*--eevents start here--*/
.event {
  padding: 5em 0;
   background:#F0F1F0;
}
.events-top {
  text-align: center;
  padding: 0em 0em 3em 0em;
}
.events-top  h3 {
  font-size: 3em;
  color: #212121;
  font-weight:300;
 font-family: 'Source Sans Pro', sans-serif;
}
.event-grid {
  text-align: center;
}
span.date {
  background: #3ea70f;
  display: block;
  width: 20%;
  padding: 12px;
  margin: 0 auto 1em;
}
span.date h3 {
  font-size: 2em;
  color: #fff;
  margin: 0em;
  font-family: 'Source Sans Pro', sans-serif;
}
.event-grid h4 {
  font-size: 1.72em;
  color: #212121;
  margin: 0em 0em 1em 0em;
 font-family: 'Source Sans Pro', sans-serif;
}
.event-grid h5 {
  font-size: 1.5em;
  color: #3ea70f;
  margin: 0em 0em 0.4em 0em;
 font-family: 'Source Sans Pro', sans-serif;
}
.event-grid p {
  font-size: 1em;
  color: #797979;
  line-height: 1.8em;
}
.event span {
    color: #3ea70f;
}
/*--events end here--*/
/*--galler start here--*/
.gallery {
  padding: 5em 0;
}
.gallery-top h3 {
  font-size: 3em;
  color: #212121;
  margin: 0em;
  font-weight:300;
   font-family: 'Source Sans Pro', sans-serif;
}
.gallery-grid {
  margin: 0em 0em 3em 0em;
}
.gallery-top {
  padding: 0em 0em 2em 0em;
  text-align: center;
}
/*----*/
.col1 figure {
	position: relative;
	float: left;
	overflow: hidden;
	text-align: center;
	cursor: pointer;
	width:100%;
}
.col1 figure img {
	position: relative;
	display: block;
}

.features-grids figure figcaption {
	padding: 2em;
	color: #fff;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}
.col1 figure figcaption::before,
.fcol1 figure figcaption::after {
	pointer-events: none;
}
.col1 figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
figure.effect-bubba {
	background:rgba(53, 167, 15, 0.66);
}
figure.effect-bubba:hover img {
	opacity: 0.3;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s,-webkit-transform 0.35s;	
	-moz-transition: opacity 0.35s, -moz-transform 0.35s;
	-o-transition: opacity 0.35s, -o-transform 0.35s;
	-ms-transition: opacity 0.35s, -ms-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	-moz-transform: scale(0,1); 
	-o-transform: scale(0,1);
	-ms-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	-moz-transform: scale(1,0);
	-o-transform: scale(1,0);
	-ms-transform: scale(1,0);
	transform: scale(1,0);
}
figure.effect-bubba h4 {
	padding-top: 21%;
	-webkit-transition: transform 0.35s;
	-moz-transition: transform 0.35s;
	-o-transition: -o-transform 0.35s;
	-ms-transition: -ms-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	-moz-transform: translate3d(0,-20px,0);
	-o-transform: translate3d(0,-20px,0);
	-ms-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
	opacity:0;
	color:#fff;
    font-family:'Signika-Regular';
	font-size: 2em;
}
figure.effect-bubba h4.gal {
	padding-top: 21%;
}
figure.effect-bubba p {
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	-moz-transition: opacity 0.35s, -moz-transform 0.35s;
	-o-transition: opacity 0.35s, -o-transform 0.35s;
	-ms-transition: opacity 0.35s, -ms-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	-moz-transform: translate3d(0,20px,0);
	-o-transform: translate3d(0,20px,0);
	-ms-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
	color:#fff;
	font-size: 1em;
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h4,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.gallery span {
    color: #3ea70f;
}
/*--gallery end here--*/
.ftr-gd {
    padding: 5em 0;
    text-align: center;
}
.ftr-gd h3 {
    font-size: 3em;
    color: #212121;
    font-weight: 300;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0 0 1em;
    text-align: center;
}
.ftr-gd span {
    color: #3ea70f;
}
.ftr-gd input[type="text"] {
    font-size: 1em;
    color: #A5A5A5;
    padding: 1em 1em;
    width: 65%;
    outline: none;
    background: none;
    border: 1px solid #000;
}
.ftr-gd input[type="submit"]:hover {
    background: #212121;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.ftr-gd input[type="submit"] {
    padding:1.1em;
    font-size: 1em;
    width: 25%;
    background: #3ea70f;
    color: #fff;
    border: none;
    outline: none;
}
/*--team start here--*/
.tem-detail {
  text-align: center;
}
.team-mem {
  padding: 5em 0em;
   background:#F0F1F0;
}
.team-top {
  padding: 0em 0em 3em 0em;
  text-align: center;
}
.team-top h3 {
  font-size: 3em;
  color: #212121;
  margin: 0em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:300;
}
.tem-detail {
  text-align: center;
  padding: 1em 0.7em 0.7em 0.7em;
}
.tem-detail h4 {
  font-size: 1.5em;
  color: #3ea70f;
  padding: 0em 0em 0.3em 0em;
  margin: 0em;
  font-family: 'Source Sans Pro', sans-serif;
}
.tem-detail p {
  font-size: 1em;
  color: #999;
  line-height: 1.6em;
}
.team-mem span {
    color: #3ea70f;
}
/*--team end here---*/
/*--contact start here--*/
.contact {
  padding: 5em 0em;
}
.contact-top h3 {
  font-size: 3em;
  color: #212121;
  font-weight:300;
  font-family: 'Source Sans Pro', sans-serif;
}
.contact-top {
  text-align: center;
  padding: 0em 0em 3em 0em;
}
.contact-left h4 {
  font-size: 2.2em;
  color: #3ea70f;
  margin: 0em 0em 1em 0em;
  font-family: 'Source Sans Pro', sans-serif;
}
.contact-left h5 {
  font-size: 0.95em;
  color: #797979;
  line-height: 1.8em;
  width: 95%;
  margin: 0em 0em 2em 0em;
}
.contact-left p {
  font-size: 1em;
  color: #797979;
  line-height: 1.8em;
}
.contact-right input[type="text"] {
  font-size: 1em;
  color: #797979;
  outline: none;
  width: 100%;
  margin: 0em 0em 0.6em 0em;
  border: 1px solid #797979;
  padding: 0.4em 1em 0.4em 1em;
  border-radius: 3px;
  background: none;
  font-family: 'Source Sans Pro', sans-serif;
}
.contact-right textarea {
  font-size: 1em;
  color: #797979;
  outline: none;
  width: 100%;
  height: 12em;
  resize: none;
  border-radius: 5px;
  border: 1px solid #797979;
  background: none;
  padding: 0.5em 1em 0.5em 1em;
  font-family: 'Source Sans Pro', sans-serif;
}
.contact-right input[type="submit"] {
  font-size: 1em;
  color: #fff;
  padding: 0.4em 1em 0.4em 1em;
  background:#3ea70f;
  border: none;
  width: 20%;
  outline: none;
  margin: 0.6em auto 0em;
  display: block;
  border-radius: 4px;
}
.contact-right input[type="submit"]:hover {
	background:#212121;
	transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
	
}
.map {
  background: rgba(153, 153, 153, 0.2);
}
.map iframe {
  width: 100%;
  height: 300px;
  border: none;
}
.contact span {
    color: #3ea70f;
}
/*--contact end here--*/
.copyright p {
    color: #828080;
    font-size: 1em;
    line-height: 1.8em;
    margin: 0.3em 0;
}
.copyright p a {
    color:#3ea70f;
    text-decoration: none;
}
.copyright p a:hover{
    color:#828080;
    text-decoration: none;
}
.copyright {
    padding: 1em 0;
    text-align: center;
    background-color: #212121;
}
/* Shutter In Horizontal */
.hvr-shutter-in-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background: #212121;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    text-decoration: none;
    padding: 0.6em 1.5em;
    font-size: 1em;
    color: #fff;
}
.hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:#3ea70f;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-shutter-in-horizontal:hover, .hvr-shutter-in-horizontal:focus, .hvr-shutter-in-horizontal:active {
  color: white;
  text-decoration: none;
}
.hvr-shutter-in-horizontal:hover:before, .hvr-shutter-in-horizontal:focus:before, .hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
.more:hover{
	background: #fff;
	color:#000;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 48px;
	height: 48px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTop:hover{
	outline: none;
}
/*-- responsive-design --*/
@media (max-width: 1440px) {
.navbar-default {
    background: url(../images/shape-1.png) no-repeat 0px 0px !important;
    background-size: cover !important;
	width:100%;
    height: 85px;
}
.nav > li > a {
    padding: 20px 41.1px ! important;
}
}
/*-- responsive-design --*/
@media (max-width: 1366px) {
.logo h1 a {
    height: 72px;
}
.navbar-default {
    height: 81px;
}
.nav > li > a {
    padding: 20px 36px ! important;
}
}
/*-- responsive-design --*/
@media (max-width: 1280px) {
.nav > li > a {
    padding: 20px 33.5px ! important;
}
.navbar-default {
    height: 75px;
}
.navbar-nav {
    width: 73% ! important;
}
.logo h1 a {
    height: 67px;
}
}
/*-- responsive-design --*/
@media (max-width: 1024px) {
.logo h1 a {
    font-size: 1.2em;
    background: url(../images/shape.png) no-repeat -118px 0px;
    height: 67px;
	background-size:cover;
}
.banner-info h2 {
    font-size: 3em;
}
.banner-info {
    padding: 6em 0;
    width: 61%;
}
.banner {
    min-height: 632px;
}
.navbar-nav {
    width: 80% ! important;
}
.nav > li > a {
    padding: 20px 26px ! important;
}
.navbar-default {
    background: url(../images/shape-1.png) no-repeat -120px 0px !important;
    background-size: cover !important;
    width: 100%;
}
.redesig h3 {
    font-size: 2.5em;
    margin: 0 0 1em;
}
.redesig {
    padding: 3em 0;
}
.content-mid1 h2 {
    font-size: 1.8em;
}
.glyphicon {
    line-height: 1.5;
}
.content-mid1 {
    padding: 1.2em;
}
.content-mid1 p {
    line-height: 1.8em;
    font-size: 0.92em;
}
.wedo {
    padding: 3em 0em;
}
.wedo-top h3 {
    font-size: 2.5em;
}
.gallery {
    padding: 3em 0;
}
.gallery-top h3 {
    font-size: 2.5em;
}
figure.effect-bubba h4 {
    font-size: 1.5em;
}
figure.effect-bubba p {
    padding: 8px 2.5em;
    font-size: 0.9em;
}
.gallery-grid {
    margin: 0em 0em 2em 0em;
}
.event {
    padding: 3em 0;
}
.events-top h3 {
    font-size: 2.5em;
}
.ftr-gd {
    padding: 3em 0;
}
.ftr-gd h3 {
    font-size: 2.5em;
}
.team-top h3 {
    font-size: 2.5em;
}
.team-mem {
    padding: 3em 0em;
}
.contact {
    padding: 3em 0em;
}
.contact-top h3 {
    font-size: 2.5em;
}
.contact-left h4 {
    font-size: 1.8em;
}
}
/*-- responsive-design --*/
@media (max-width: 768px) {
.logo h1 a {
    background: url(../images/shape.png) no-repeat -247px 0px;
    background-size: cover;
}
.banner-info {
    padding: 5em 0;
    width: 86%;
}
.banner {
    min-height: 583px;
}
.nav > li > a {
    padding: 20px 17px ! important;
}
.navbar-default {
    background: url(../images/shape-1.png) no-repeat -113px 0px !important;
    background-size: cover !important;
    width: 100%;
	height:58px;
}
.navbar-nav {
    width: 92% ! important;
}
.redesig h3 {
    font-size: 2.2em;
}
.content-mid {
    padding: 0;
    float: left;
    width: 50%;
}
.content-mid1 {
    padding: 1em;
    float: right;
    width: 50%;
}
.content-mid1 h2 {
    font-size: 1.7em;
}
.content-mid1 p {
    font-size: 0.875em;
}
.content-mid img {
    min-height: 377px;
}
.wedo-top h3 {
    font-size: 2.2em;
}
.wedo-grid {
    width: 33.33%;
	float:left;
}
span.glyphicon.glyphicon-scissors {
    font-size: 3em;
}
span.glyphicon.glyphicon-wrench {
    font-size: 3em;
}
span.glyphicon.glyphicon-briefcase {
    font-size: 3em;
}
span.glyphicon.glyphicon-star {
    font-size: 3em;
}
span.glyphicon.glyphicon-globe {
    font-size: 3em;
}
span.glyphicon.glyphicon-user {
    font-size: 3em;
}
.wedo-grid h4 {
    font-size: 1.4em;
}
.gallery-top h3 {
    font-size: 2.2em;
}
.wedo-grid p {
    font-size: 0.875em;
}
.col1.gallery-grid {
    float: left;
    width: 50%;
}
.events-top h3 {
    font-size: 2.2em;
}
.event-grid {
    text-align: center;
    float: left;
    width: 33.33%;
}
.event-grid h5 {
    font-size: 1.3em;
}
span.date {
    width: 26%;
}
.event-grid h4 {
    font-size: 1.5em;
}
.event-grid p {
    font-size: 0.875em;
}
.team-grid {
    float: left;
    width: 50%;
    margin: 0 0 1em;
}
.team-top h3 {
    font-size: 2.2em;
}
span.date h3 {
    font-size: 1.5em;
}
.ftr-gd h3 {
    font-size: 2.2em;
}
.contact-top h3 {
    font-size: 2.2em;
}
.contact-right {
    margin: 2em 0 0;
}
}
/*-- responsive-design --*/
@media (max-width: 767px) {
.navbar-toggle {
    float: left;
}
.navbar-default .navbar-toggle {
    border-color:#3ea70f;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color:#3ea70f;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color:#262626;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #3EA70F;
    text-align: center;
}
.navbar-nav {
    width: 100% ! important;
    background-color: #3EA70F;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin: -434px 0;
}
.navbar-default .navbar-toggle {
    margin: -468px 10px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #51FB05;
}
}
/*-- responsive-design --*/
@media (max-width: 736px) {
.logo h1 a {
    background: url(../images/shape.png) no-repeat -262px 0px;
    background-size: cover;
}
.navbar-default .navbar-toggle {
    margin: -524px 10px 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin: -488px 0;
}
}
/*-- responsive-design --*/
@media (max-width: 667px) {
.logo h1 a {
    background: url(../images/shape.png) no-repeat -304px 0px;
    background-size: cover;
}
.navbar-default .navbar-toggle {
    margin: -524px 10px 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin: -489px 0;
}
}
/*-- responsive-design --*/
@media (max-width: 640px) {
.logo h1 a {
    background: url(../images/shape.png) no-repeat -313px 0px;
    background-size: cover;
}
.banner-info h2 {
    font-size: 2.5em;
}
.banner-info {
    padding: 4em 0;
    width: 98%;
}
.banner {
    min-height: 518px;
}
.navbar-default {
    background: url(../images/shape-1.png) no-repeat -113px 0px !important;
    background-size: cover !important;
    width: 100%;
    height: 50px;
}
.navbar-toggle {
    margin: 6px 18em;
}
.redesig h3 {
    font-size: 2em;
}
.content-mid img {
    min-height: 0px; 
}
.content-mid {
    padding: 0;
    float: left;
    width: 100%;
}
.content-mid1 {
    padding: 1em;
    float: right;
    width: 100%;
}
}
/*-- responsive-design --*/
@media (max-width: 600px) {
.logo h1 a {
    background: url(../images/shape.png) no-repeat -333px 0px;
    background-size: cover;
}
}
/*-- responsive-design --*/
@media (max-width: 568px) {
.logo h1 a {
    background: url(../images/shape.png) no-repeat -348px 0px;
    background-size: cover;
}
}
/*-- responsive-design --*/
@media (max-width: 480px) {
.logo h1 a {
    background: url(../images/shape.png) no-repeat -392px 0px;
    background-size: cover;
}
.banner-info h2 {
    font-size: 2em;
	margin: 0 0 0.5em;
}
.banner-info p {
    font-size: 1em;
    margin: 0 0 1em;
}
.banner {
    min-height: 470px;
}
.navbar-default {
    background: url(../images/shape-1.png) no-repeat -148px 0px !important;
    background-size: cover !important;
    width: 100%;
    height: 0px;
}
.redesig h3 {
    font-size: 2em;
}
.wedo-grid {
    width: 50%;
    float: left;
}
figure.effect-bubba h4.gal {
    padding-top: 8%;
}
figure.effect-bubba p {
    padding: 8px 1.5em;
    font-size: 0.9em;
}
figure.effect-bubba figcaption::before, figure.effect-bubba figcaption::after {
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px; 
}
figure.effect-bubba h4 {
    font-size: 1.3em;
}
.event-grid {
    text-align: center;
    float: left;
    width: 100%;
    margin: 0 0 2em;
}
.tem-detail h4 {
    font-size: 1.4em;
}
.tem-detail p {
    font-size: 0.9em;
}
.contact-left p {
    font-size: 0.875em;
}
.navbar-toggle {
    margin: 6px 13em;
}
.navbar-default .navbar-toggle {
    margin: -421px 10px;
}
.nav > li > a {
    padding: 11px 17px ! important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin: -386px 0;
}
}
/*-- responsive-design --*/
@media (max-width: 414px) {
.logo h1 a {
    background: url(../images/shape.png) no-repeat -427px 0px;
    background-size: cover;
}
.ftr-gd input[type="submit"] {
    width: 30%;
}
}
/*-- responsive-design --*/
@media (max-width: 384px) {
.logo h1 a {
    background: url(../images/shape.png) no-repeat -439px 0px;
    background-size: cover;
}
}
/*-- responsive-design --*/
@media (max-width: 375px) {
.logo h1 a {
    background: url(../images/shape.png) no-repeat -444px 0px;
    background-size: cover;
}
}
/*-- responsive-design --*/
@media (max-width: 320px) {
.logo h1 a {
    background: url(../images/shape.png) no-repeat -398px 0px;
    background-size: cover;
	font-size: 1.1em;
	height: 59px;
}
.banner-info h2 {
    font-size: 1.5em;
}
.banner-info p {
    font-size: 0.875em;
}
.hvr-shutter-in-horizontal {
    padding: 0.5em 1.1em;
    font-size: 0.875em;
}
.banner-info {
    padding: 3em 0 2em;
    width: 100%;
}
.banner {
    min-height: 375px;
}
.navbar-toggle {
    margin: 6px 8em;
}
.redesig h3 {
    font-size: 1.6em;
    line-height: 1.3em;
}
.redesig {
    padding: 2em 0;
}
i.glyphicon.glyphicon-compressed {
    font-size: 2em;
}
.content-mid1 h2 {
    font-size: 1.2em;
}
.wedo {
    padding: 2em 0em;
}
.wedo-grid {
    width: 100%;
    float: left;
    padding: 0;
}
.content-middle {
    padding: 0;
}
.wedo-top h3 {
    font-size: 2em;
}
.wedo-grid h4 {
    font-size: 1.3em;
}
.gallery-top h3 {
    font-size: 2em;
}
.col1.gallery-grid {
    float: left;
    width: 100%;
    padding: 0;
}
.gallery {
    padding: 2em 0;
}
.events-top h3 {
    font-size: 2em;
}
.event {
    padding: 2em 0;
}
.ftr-gd {
    padding: 2em 0;
}
.ftr-gd h3 {
    font-size: 2em;
}
.ftr-gd input[type="text"] {
    padding: 0.6em;
    width: 65%;
}
.ftr-gd input[type="submit"] {
    padding: 0.68em;
    font-size: 1em;
    width: 22%;
    background: #3ea70f;
    color: #fff;
    border: none;
    outline: none;
}
.ftr-gd input[type="text"] {
    font-size: 1em;
    color: #A5A5A5;
    padding: 0.6em;
    width: 63%;
    outline: none;
    background: none;
    border: 1px solid #000;
}
.ftr-gd input[type="submit"] {
    padding: 0.68em;
    width: 35%;
}
.team-mem {
    padding: 2em 0em;
}
.team-top h3 {
    font-size: 2em;
}
.team-grid {
    float: left;
    width: 100%;
    margin: 0 0 1em;
}
.contact-top {
    text-align: center;
    padding: 0em 0em 2em 0em;
}
.contact-top h3 {
    font-size: 2em;
}
.contact-left h4 {
    font-size: 1.6em;
}
.contact-left h5 {
    font-size: 0.875em;
	width:100%;
    margin: 0em 0em 2em 0em;
}
.contact-left {
    padding: 0;
}
.contact-right {
    padding: 0;
}
.contact-right input[type="submit"] {
    width: 35%;
}
.contact {
    padding: 2em 0em;
}
.copyright p {
    font-size: 0.875em;
}
.map iframe {
    width: 100%;
    height: 236px;
}
.contact {
    padding: 2em 0em;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    margin: -290px 0;
}
.navbar-default .navbar-toggle {
    margin: -325px 10px 0;
}
}