@font-face {
    font-family: 'aleoregular';
    src: url('../fonts/aleo_regular_macroman/Aleo-Regular-webfont.eot');
    src: url('../fonts/aleo_regular_macroman/Aleo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo_regular_macroman/Aleo-Regular-webfont.woff') format('woff'),
         url('../fonts/aleo_regular_macroman/Aleo-Regular-webfont.ttf') format('truetype'),
         url('../fonts/aleo_regular_macroman/Aleo-Regular-webfont.svg#aleoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

