body {
	background-image: url('../../images/body-bg-2.jpg');
	text-shadow: 1px 1px #222222;
	color:#ffffff;
}
.logo {
	background:url('../../images/qark-modern-logo-blue-dark.png');
	background-repeat:no-repeat;
}
h1, h2, h3, h4, h5 {
	color:#ffffff;
}
.sf-sub-indicator {
	background:url('../../images/arrows-blue.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
.sf-menu {
	text-shadow: none;
}
.sf-menu a:hover  { 
	color:#0099FF;
}
.colored{
	color:#0099FF;
}
.link {
	color:#0099FF;
}
.button_readmore {
    color:#0099FF;
	text-shadow:none;
}
.page-title a:hover {
	color:#0099FF;
}
.page-title {
	text-shadow:none;
}
.page-title p {
	color:#999999;
}
.quote-author {
	color:#0099FF;
}
.quote-author-full {
	color:#0099FF;
}
.content-navigation {
	text-shadow: none;
}
.content-navigation li a:hover {
	color:#0099FF;
}
.content-navigation li a.current {
	color:#0099FF;
}
.content-navigation ul li a:hover {
	color:#0099FF;
}
.content-navigation ul li a.current {
	color:#0099FF;
}
.pagination li.current a {
	background-color:#0099FF;
}
.pagination li.current a {
	background-color:#0099FF;
}
ul#output li a:hover {
	background: #0099FF;
}
.accordian-slider-caption:hover{
	background:#0099FF;
}
/*******************/
	.menu-left-closed {
		background:url('../../images/menu-left-closed-dark-cloud.png');
	}	
	.menu-right-closed {
		background:url('../../images/menu-right-closed-dark.png');
	}	
	.menu-bg {
		background:url('../../images/menu-bg-dark.png');
	}
	.menu-cloud{
		background:url('../../images/cloud-up-dark.png');
		background-repeat:no-repeat;
	}

/*********** Content headers************/
.header-one {
	background:url('../../images/grid12-dark.png');
}	
.header-two-third {
	background:url('../../images/two-third-dark.png');
}
.header-one-third {
	background:url('../../images/one-third-dark.png');
}
.header-one-fourth {
	background:url('../../images/one-fourth-dark.png');
}
.header-three-fourth {
	background:url('../../images/three-fourth-dark.png');
}
.header-one-half {
	background:url('../../images/one-half-dark.png');
}
.header-content {
	text-shadow:none;
}
/*******************/
.date, .month {
	color:#999999;
	text-shadow:none;
}
.blog-header h2 {
	text-shadow:none;
}
/*******************/
.pagination {
	text-shadow:none;
}
.pagination li a {
	border:none;
}
/*******************/
ul#tabs li a.current {
	background:  url('../../images/feature-tab-current-blue.png');
}
ul#tabs li a.current h2, ul#tabs li a.current .ls-descr {
	color:#ffffff;
	text-shadow:none;
}
div#feature_list {
	background: url('../../images/body-bg-1.jpg');
}
div#feature_list h2{
	color:#666666;
	text-shadow: 1px 1px #ffffff;
}
.ls-descr {
	color:#666666;
	text-shadow: 1px 1px #ffffff;
}
ul#tabs li a:hover {
	text-decoration: none;
	background:   url('../../images/feature-tab-current-transperent-dark.png');
	position:relative;
}
ul#tabs li a.current:hover {
	background:  url('../../images/feature-tab-current-blue.png');
}
/*******************/
.break2 {
	background:url('../../images/body-bg-1.jpg');
}
.footer, .footer h4 {
	color:#666666;
	text-shadow: 1px 1px #ffffff;
}
/*******************/
.static {
	color:#666666;
	text-shadow: 1px 1px #ffffff;
	background-image: url('../../images/body-bg-1.jpg');
	background-repeat:repeat;
}
.static h3 {
	color:#666666;
	text-shadow: 1px 1px #ffffff;
}
ul.list-box {
	color:#666666;
	text-shadow: 1px 1px #ffffff;
}
.blog-date .date {
	color:#0099ff;
}
.blog-style2 h6 {
	color:#ffffff;
}
.blog-style2 .content-navigation li a {
	color:#ffffff;
}
.pagination li.current a {
		background-color:#0099FF;
}
.pagination li a:hover {
		background-color:#0099FF;
}
#list ol {color:#0099ff;}

.button_readmore {
    color:#999999;
}

a.button_readmore:hover {
	color:#0099ff;
}
#list ol li p em {color:#ffffff;}
.blog-link:hover {color:#0099ff;}
.blog-style2 .content-navigation li a:hover {
	color:#0099ff;
}
.blog-style2 .content-navigation li a.current {
	color:#0099ff;
}
.blog-style2 .content-navigation ul li a:hover {
	color:#0099ff;
}
.blog-style2 .content-navigation ul li a.current {
	color:#0099ff;
}
.service h3 {
	border-bottom:1px dashed #666666;
	text-shadow: none;
	text-shadow:1px 1px #000;
}
.border-bottom {
	border-bottom:1px dashed #666666;
}
.order h3 {
	text-shadow:none;
	text-shadow: 1px 1px #000;
}
#list ol li p {border-left: 1px dashed #666666;}
#service-list ol li p {border-left: 1px dashed #666666;}
.border {
	border-bottom:1px dashed #666666;
}
.blog-style2 .content-navigation li {
	border-bottom:1px solid #666666 !important;
}
.blog-style2-first{
	border-top:1px solid #666666 !important;
}
.sidebar-title {
	text-shadow:none;
}