/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	background:#fff;
	font-family: 'Roboto', sans-serif;
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h2,h3,h4,h5,h6,p{
	margin:0;
}
 ul{
	padding: 0;
	margin: 0;
}
.header{
	background:#181b1e;
}
.header-top {
	float: left;
	width: 81%;
}
.required{
	float:right;
	width: 14%;
}
.required input[type="submit"]{	
	background: none;
	outline: none;
	border: 1px solid #00bad2;
	color: #fff;
	font-size: 1em;
	padding: 0.4em 1em;
	margin: 1.3em 0 0;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.required input[type="submit"]:hover{
	background:#00bad2;
}
.logo{
	float: left;
	margin-top: 0.8em;
}
.top-nav{
	float:right;
}
.top-nav ul li{
	display: inline-block;
	float: left;
	padding:0em 1.3em;
}
.top-nav ul li a{
	font-size: 1.1em;
	text-decoration: none;
	color: #bdbdbd;
	font-weight: 400;
	padding: 1.7em 0 1.1em;
	display:block;
	
}
.top-nav ul li a:hover,.top-nav ul li.active a{
	border-bottom: 7px solid #f44336;
}
.top-nav span.menu:before{
	content: url(../images/menu.png)no-repeat 0px 0px;
	cursor:pointer;	
	width:100%;
}
.top-nav span.menu{
	display: none;
}
/*--responsive media-quries--*/
@media(max-width:768px){
.top-nav ul{
	display: none;
	position:absolute;
	width:100%;
	z-index: 9999;
	left: 0%;
	margin: 0em;
	background:#f44336;
	top:4.3em;
}
.top-nav span.menu{
	display: block;
	width:100%;
	position:relative;
	text-align: right;
	padding: 1.4em 0 1.1em;
}
.top-nav ul li{
	display: block;
	float:none;
	padding: 1em 0.8em;
	text-align: center;
}
.top-nav ul li a,.top-nav ul li.active a{
	color:#fff;
	border: none;
	padding: 0;
}

.top-nav ul li a:hover,.top-nav ul li.active:hover{
	color:#000;
}
.top-nav ul li a:hover,.top-nav ul li.active{
	border:none;
}
}
/*----*/
.banner{
	background:url(../images/banner.jpg) 0px 0px no-repeat;
	width:100%;
	min-height:600px;
	display:block;
	background-size:cover;
	text-align:center;
	position:relative;
}
.banner-matter{
	position:absolute;
	top:10em;
	width:100%;
}
.banner h2{
	font-size: 4em;
	color: #fff;
	font-weight: 100;
	width: 61%;
	margin: 0 auto;
	padding: 0 0 1em;
	line-height: 1.2em;
}
a.down{
	text-decoration: none;
	color: #fff;
	background: #f44336;
	padding: 0.6em 1em;
	font-size: 1.2em;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
}
a.down:hover{
	background:#9C2820;
}
a.arrow{
	position: absolute;
	bottom: 49px;
	left: 54em;
}
/*--content--*/
.about{
	text-align:center;
	background:#f2f2f2;
	padding:4em 0;
}
.about h3{
	color:#000;
	font-size:2.8em;
	font-weight: 300;
}
.about p{
	color:#000;
	font-size:1.1em;
	line-height:1.7em;
	margin: 0 auto;
	width: 68%;
	font-weight: 300;
	padding: 1.1em 0;
}
p.dummy-about{
	font-size: 1.8em;
	line-height: 1.5em;
	font-weight: 200;
	width: 80%;	
}
a.down-in{
	padding:1em 0;
	display:block;
}
/*----*/
.work-in {
	padding: 3em 0;
}
.work-in img {
	width:100%
}
.work{
	text-align:center;
	padding:4em 0;
}
.work h3{
	color:#000;
	font-size:2.8em;
	font-weight: 300;
}
.work-grid{
	float: left;
	width: 50%;
	margin: 0.5%;
	position:relative;
}
.work-grid1{
	width: 47.9%;
	margin: 0.5% 0% 0.5% 0.5%;
}
.work-grid2{
	width: 23%;
}
.work-grid3{
	width: 24%;
	float: right;
	margin: 0.5%;
}
.work-grid4{
	width: 25%;
	margin: 0.5%;
	float: left;
}
.work-grid5{
	width: 48%;
}
.work-on{
	margin-top: 3.5%;
}
.simple h5{
	font-size:2.5em;
	margin: 0;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
}
.simple h5 span{
	border-bottom:5px solid #ffc36e;
	padding: 0.2em 0;
}
.simple {
	text-align: center;
	padding: 9em 0;
	display: none;
	position: absolute;
	top: 32px;
	width: 92%;
	height: 87%;
	background:rgba(210, 89, 80, 0.88);
	left: 23px;
}
.simple p {
	font-size: 1.1em;
	padding: 1.5em 0;
	color: #E2E2E2;
	width: 75%;
	margin: 0 auto;
	font-weight: 200;
	line-height:1.3em;
}
.work-grid:hover .simple,.work-bird:hover .simple{
	display:block;
}
.work-bird{
	position:relative;
}
.simple-in{
	padding:2em 0;
	height: 74%;
}
.simple-out{
	padding: 2.5em 0;
	height: 79%;
	top: 25px;
	left: 20px;
	width: 85%;
}
.simple-out h5,.sim-2 h5{
	font-size:1.5em;
}
.sim-1{
	height: 85%;
	width: 91%;
	top: 31px;
	left: 29px;
}
.sim-2 {
	padding: 10em 0;
	height: 89%;
	top: 25px;
	left: 20px;
	width: 85%;
}
.blog-down{
	padding:1em 0;
	display:block;
}
/*----*/
.wmuSlider {
	position: relative;
	overflow: hidden;
}
.wmuSlider .wmuSliderWrapper article img {
	max-width: 100%;
	width: auto;
	height: auto;
	display:block;
}
/* Default Skin */
.wmuSliderPagination {
	z-index: 2;
	position: absolute;
	right:46%;
	bottom:35px;
}
ul.wmuSliderPagination {
	padding:0;
}
.wmuSliderPagination li {
	float: left;
	margin: 0 8px 0 0;
	list-style-type: none;
}
.wmuSliderPagination a {
	text-indent: -9999px;
	display: block;
	width: 30px;
	height: 5px;
	margin: 5px 6px;
	background:#171918 ;	
}
.wmuSliderPagination a.wmuActive {
	background:#f8d62e;
}
.design{
	background:url(../images/ba.jpg)0px 0px no-repeat;
	width:100%;
	min-height:439px;
	background-size:cover;
	display:block;
	padding:4em 0;
}
.item-in{
	text-align:center;
	padding:2em 0 6em;
}
.item-in p{
	font-size: 1.8em;
	color: #e2e2e2;
	width: 50%;
	margin: 0 auto;
	font-weight: 300;
	line-height: 1.3em;
	padding: 1.2em 0 0.6em;
}
.item-in span{
	font-size:1.3em;
	color:#00bad2;
}
.dotted{
	margin:0 auto;
}
/*----*/
.blog {
	padding: 6em 0;
	text-align:center;
}
.blog-grids{
	padding:3em 0;
}
.blog h3{
	color:#000;
	font-size:2.8em;
	font-weight: 300;
}
.blog-grid{
	background:#fff;
	box-shadow:2px 2px 2px 2px #D7D7D7;
	margin-right:2.4%;
	padding:0;
	width:23.15%;
	float:left;
	position:relative;
}
.blog-top p{
	font-size:1em;
	color:#000;
	line-height:1.5em;
	padding: 0 0 0.5em;
	text-align:left;
}
.blog-top {
	padding: 0.8em;
}
a.read{
	text-decoration:none;
	color:#99d5d0;
	font-size:1em;
	float: right;
}
a.read:hover{
	color:#f88279;
}
.blog-in{
	margin-right:0;
}
.agency{
	position:absolute;
	top:142px;
	width: 100%;
	padding:0 0.5em;
}
.agency-left{
	float:left;
	text-align: left;
}
.agency-left h6{
	color:#fff;
	font-size: 1.5em;
	font-weight: 300;
}
.agency-left span{
	color:#e2e2e2;
	font-size:1em;
}
.agency-right{
	float:right;
}
ul.social li{
	display:inline-block;
	color:#fff;
}
ul.social li span{
	display:block;
	background:url(../images/img-sprite.png)0px 0px no-repeat;
	width:24px;
	height:24px;
}
ul.social li span.text{
	background-position:-22px 0px;
}
i.flower{
	display:block;
	background: url(../images/fl.png)0px 0px no-repeat;
	width: 43px;
	height: 43px;
	margin: 2em auto 4em;
}
.blog-grid img{
	width:100%;
}
/*----*/
.contact{
	background:#f2f2f2;
	text-align:center;
	padding: 4em 0;
}
.contact h3{
	color:#000;
	font-size:3em;
	padding:0.5em 0;
	font-weight: 300;
}
.contact p span{
	font-weight: 500;
}
.contact p{
	color:#000;
	font-size:1.3em;
	padding:0.5em 0;
	font-weight: 300;
}
.contact-us input[type="text"],.contact textarea,.send input[type="submit"]{
	font-size: 1em;
	width: 100%;
	padding: 1em;
	margin:2em 0;
	background: #fff;
	outline:none;
	border:1px solid #DDDBDB;
	color: #000;
}
.contact textarea{
	resize:none;
	width: 97%;
	margin: 0.5em;
}
.send input[type="submit"]{
	background:none;
	color: #000;
	width: 96%;
	-webkit-appearance: none;
	padding: 1em;
	border:1px solid #00bad2;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.send {
	text-align: center;
}
.send input[type="submit"]:hover{
	background:#00bad2;
	color:#fff;
}
/*--popup--*/
/*--- slider-css --*/
.slider{
	position:relative;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 100px;
	width: 47px;
	background: url("../images/a-left.png") no-repeat -10px 0px;
  }
.callbacks_nav.next {
  left: auto;
  background: url("../images/a-right.png") no-repeat -10px 0px;
  right: 0;
 }
 /*--single--*/
 .single{
	background:#f2f2f2;
 }
 small.pub-left{
	float:left;
	font-size: 1.1em;
	color:#b8b8b8;
}
a.pub-right{
	float:right;
	font-size: 1.1em;
	color:#7c7c7c;
	text-decoration:none;
}
a.pub-right:hover{
	color:#000;
}
.pub-right i.left-arrow{
	background: url(../images/img-sprite.png) no-repeat -281px -17px;
	width: 16px;
	height: 17px;
	display: inline-block;
	vertical-align: middle;
}
.single-top{
	padding: 3em 0 0;
}
.single h3{
	font-size: 2.8em;
	color: #000;
	font-weight: 100;
	padding: 0.5em 0 0.3em;
}
p.she-it{
	font-size: 1.8em;
	color: #000;
	font-weight: 200;
	line-height: 1.5em;
	padding: 1.5em 0 2.5em;
}
 span.by{
	font-size:1.1em;
	color:#000;
	font-weight:300;
}
.sub-head h6{
	font-size:1.8em;
	color:#000;
	font-weight: 300;
}
.sub-head p{
	font-size:1.2em;
	color:#000;
	padding:1.5em 0;
	line-height:1.9em;
	font-weight: 300;
}
small.tech{
	float:left;
	font-size: 1em;
	color: #4C4C4C;
}
.share{
	float:right;
	font-size: 1.1em;
	color: #888;
}
.share a{
	font-weight:300;
	color:#00bad2;
	margin: 0 0 0 1em;
	text-decoration:none;
}
.share a:hover{
	color:#000;
}
.tag {
	padding: 3em 0;
}
.share i.load{
	background: url(../images/img-sprite.png) no-repeat -261px -17px;
	width: 23px;
	height: 17px;
	display: inline-block;
	vertical-align: middle;
}
h6.com-in{
	float:left;
	font-size:1.8em;
	font-weight:300;
	color:#000;
}
.twelve{
	float:right;
}
.twelve i.star-left{
	background: url(../images/img-sprite.png) no-repeat -301px -18px;
	width: 23px;
	height: 17px;
	display: inline-block;
	vertical-align: middle;
}
.twelve label{
	background: url(../images/gr.png) no-repeat -5px 0px;
	width: 7px;
	height: 14px;
	display: inline-block;
	margin: 0;
}
.twelve small{
	background: #b8b8b8;
	font-size: 0.9em;
	color: #000;
	border-radius: 5px;
	padding: 3px 11px;
}
.comment-top{
	border-top:1px solid #D9D7D7;
	padding: 1.1em 0;
}
.comment-top p{
	font-size:1em;
	color:#727272;
	padding: 0.5em 0;
	line-height: 1.6em;
}
.comment-top label{
	font-size:1.1em;
	color:#000;
	margin:0;
	font-weight: 400;
}
.comment-in{
	margin-left: 9em;
}
.comment-top label small{
	color:#b8b8b8;
}
a.load-more{
	text-align:center;
	text-decoration:none;
	color:#00bad2;
	font-size:1.2em;
	display:block;
	padding:1em 0;
}
a.load-more:hover{
	color:#000;
}
.comment h5{
	font-size:2em;
	color:#000;
	font-weight: 300;
	padding:0.3em 0;
}
.comment label{
	color: #000;
	font-size: 1.2em;
	vertical-align: top;
	padding: 1em 0;
	font-weight: 300;
}
label.sit{
	margin-right: 2em;
}
label.sit-in{
	margin-right: 3.5em;
}
label.sit-on{
	margin-right: 3.8em;
}
.comment  input[type="text"],.comment textarea{
	font-size: 1em;
	width: 32%;
	padding: 1em;
	margin: 0.4em 0em;
	background:#f8f8f8;
	outline:none;
	border:1px solid #DDDBDB;
	color: #000;
}
.comment {
	padding: 3em 0 6em;
}
.comment textarea{
	resize: none;
	width: 50%;
	margin: 0.4em 0em;
}
.post-comment input[type="submit"]{	
	background: none;
	outline: none;
	border: 1px solid #00bad2;
	color: #000;
	font-size: 1em;
	padding: 0.5em 1.5em;
	margin: 1em 0;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.post-comment input[type="submit"]:hover{
	background:#00bad2;
	color:#fff;
}
.post-comment {
	margin-left: 8em;
}
.single-bottom{
	background:url(../images/blo.jpg) no-repeat bottom;
	width:100%;
	min-height:330px;
	background-size:cover;
	display:block;
	padding:6em 0;
	text-align:center;
}
.single-matter-bottom h6{
	color:#fff;
	font-size:3em;
	font-weight:200;
	padding:0.8em 0;
}
.single-matter-bottom p{
	color:#fff;
	font-size:1.35em;
	font-weight:300;
}
a.read-next{
	color:#E74C3C;
	text-decoration:none;
	font-size:1.2em;
	font-weight:400;
	border-bottom:1px solid #E74C3C;
}
a.read-next:hover{
	border-bottom:none;
}
/*----*/
.footer{
	background: #181b1e;
	padding: 2em 0;
	text-align: center;
	position:relative;
}
.footer p{
	margin:0;
	font-size: 1.3em;
	color:#fff;	
	padding: 1.5em 0 0 0;
}
.footer-top{
	position:absolute;
	top:-37px;
	left: 54em;
}
.footer a{
	color:#626262;
	text-decoration:none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
}
.footer a:hover{
	color:#fff;
}
ul.social-ic-icons li{
	display:inline-block;
	padding:0 1.5em;
}
ul.social-ic-icons li a span{
	background: url(../images/img-sprite.png)no-repeat -59px -54px;
	width: 35px;
	height: 30px;
	display:block;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
ul.social-ic-icons {
	padding: 0 0 1em;
}
b.yellow{
	width: 110px;
	height: 6px;
	background: #f8d62e;
	display: block;
	margin: 0 auto;
}
ul.social-ic-icons li.twitter a span{
	background-position: -102px -7px;
}
ul.social-ic-icons li.dribble a span{
	background-position: -143px -54px;
}
ul.social-ic-icons li.linked a span{
	background-position: -178px -54px;
}
ul.social-ic-icons li.behance a span{
	background-position:-218px -54px;
}
ul.social-ic-icons li.message a span:hover{
	background-position:-59px -7px;
}
ul.social-ic-icons li.dribble a span:hover{
	background-position: -143px -9px;
}
ul.social-ic-icons li.linked a span:hover{
	background-position: -178px -7px;
}
ul.social-ic-icons li.behance a span:hover{
	background-position:-218px -7px;
}
/*--responsive media-quries--*/
@media(max-width:1440px){
a.arrow {
	left: 48em;
}
.footer-top{
	left: 48em;
}
.wmuSliderPagination {
	right: 44%;
}
@media(max-width:1336px){
a.arrow {
	left: 45em;
}
.footer-top{
	left: 45em;
}
}
@media(max-width:1280px){
a.arrow {
	left: 42em;
}
.footer-top{
	left: 42em;
}
}
@media(max-width:1024px){
.header-top {
	width: 78%;
}
.required {
	width: 19%;
}
.banner h2 {
	font-size: 3.5em;
	width: 83%;
}
.banner {
	min-height: 530px;
}
a.arrow {
	left: 33em;
}
.footer-top{
	left: 33em;
}
.about p {
	width: 82%;
}
p.dummy-about {
	width: 95%;
}
.work-grid {
	margin: 0.4%;
}
.work-grid3,.work-grid4 {
	margin: 0.4%;
}
.work-on {
	margin-top:3%;
}

.agency-left h6 {
	font-size: 1.3em;
}
i.flower {
	margin: 2em auto 2em;
}
.item-in p {
	font-size: 1.6em;
	width: 71%;
}
.wmuSliderPagination {
	right: 42%;
}
.simple-in {
	padding: 1em 0;
}
.simple-in h5,.simple-out h5,.sim-2 h5{
	font-size:1.6em;
}
.simple-in p,.simple-out p,.sim-2 p{
	height: 65px;
	overflow: hidden;
}
.simple-out {
	padding: 2em 0;
}
.sim-2 {
	padding: 8em 0;
}
.sim-1{
	padding:6em 0;
}

.agency {
	top: 114px;
}
.blog {
	padding: 4em 0;
}
.work-grid1 {
	margin: 0.5% 0% 0.5% 0.5%;
}
}
@media(max-width:768px){
.header-top {
	width: 52%;
}
.required {
	width: 25%;
}
.blog-grid {
	width: 48.8%;
	margin-top: 1.5em;
}
.blog-grid:nth-child(2){
	margin-right:0;
}
.blog-in {
	margin-right: 0;
}
.blog-grids {
	padding: 1em 0em 1em 0em;
}
.footer-top {
	left: 24em;
}
a.arrow {
	left: 24em;
}
.banner h2 {
	font-size: 2.8em;
	width: 87%;
}
.banner-matter {
	top: 8em;
}
.banner {
	min-height: 419px;
}
.work-grid {
	width: 49.5%;
}
.work-grid1 {
	width: 47.4%;
}
.work-grid2 {
	width: 22.5%;
}
.work-grid5 {
	width: 48.4%;
}
.work-grid3 {
	width: 24.3%;
}
.work-grid4 {
	width: 24.1%;
}
.simple h5 {
	font-size: 2em;
}
.work-grid {
	margin: 5px;
}
.work-on {
	margin-top: 5%;
}
.simple {
	padding: 4.5em 0;
	top: 19px;
	width: 91%;
	height: 88%;
	left: 16px;
}
.simple-in {
	padding: 1.5em 0;
	height: 80%;
}
.simple-in h5 {
	font-size: 1.6em;
}
.simple-out h5{
	font-size: 1.3em;
}
.sim-2 h5{
	font-size:1.1em;
}
.simple-out{
	padding:1em 0;
	top: 9px;
	left: 6px;
}
.sim-2{
	padding:5em 0;
	top: 11px;
	height: 93%;
	left: 8px;
}
.agency {
	top: 209px;
}
.about {
	padding: 3em 0;
}
.work {
	padding: 3em 0;
}
.design {
	min-height: 373px;
	padding: 1em 0;
}
.blog {
	padding: 3em 0;
}
.contact {
	padding: 4em 0;
}
.contact-us input[type="text"], .contact textarea, .send input[type="submit"] {
	margin: 1em 0;
}
.wmuSliderPagination {
	right: 39%;
}
}
@media(max-width:640px){
.required {
	width: 30%;
}
.banner {
	min-height: 380px;
}
.footer-top {
	left: 19.5em;
}
a.arrow{
	left: 19.5em;
}
.banner-matter {
	top: 7em;
}
.about h3 ,.work h3,.blog h3{
	font-size: 2.5em;
}
.agency {
	top: 161px;
}
.contact {
	padding: 2em 0;
}
.contact h3 {
	font-size: 2.5em;
}
.blog {
	padding: 2em 0;
}
p.dummy-about {
	font-size: 1.5em;
}
.work-grid1 {
	display: none;
}
.work-grid {
	width: 49%;
	margin:0.5%;
}
.work-grid3{
	width: 49%;
	margin:0.5%;
}
.work-grid4{
	width: 49%;
	margin:0.5%;
}
.work-on{
	margin:1.5% 0 0;
}
.motor-in {
	height: 245px;
}
.motor {
	height: 433px;
}
.simple {
	padding: 2.5em 0;
	top: 17px;
	left: 14px;
}
.simple-out{
	padding:4em 0;
	top: 16px;
	left: 11px;
}
.sim-2 {
	padding: 11em 0;
	top: 16px;
	left: 13px;
}
.sim-1 p {
	height: 86px;
	overflow:hidden;
}
.single-bottom {
	min-height: 278px;
	padding: 4em 0;
}
.comment input[type="text"]{
	width: 40%;
}
.comment textarea {
	width: 55%;
}
.wmuSliderPagination {
	right: 36%;
}
}
@media(max-width:480px){
.header-top {
	width: 100%;
}
.required {
	display:none;
}
a.arrow {
	left: 14em;
	bottom: 30px;
}
.footer-top {
	left: 14em;
}
.banner h2 {
	font-size: 2em;
}
.banner {
	min-height: 291px;
}
.about h3,.work h3,.blog h3 ,.contact h3{
	font-size: 2em;
}
p.dummy-about {
	font-size: 1.3em;
	height: 95px;
	overflow: hidden;
}
.about p {
	height: 73px;
	overflow: hidden;
}
.about {
	padding: 2em 0;
}
.work {
	padding: 2em 0;
}
.motor-in {
	height: 173px;
}
.motor {
	height: 314px;
}
.work-in {
	padding: 2em 0;
}
.item-in p {
	font-size: 1.2em;
}
.item-in span {
	font-size: 1.2em;
}
.item-in {
	padding: 1em 0 5em;
}
.design {
	min-height: 309px;
}
.wmuSliderPagination {
	right: 33%;
}
.agency-left h6 {
	font-size: 1em;
}
.agency {
	top: 109px;
}
.blog-top p {
	height: 45px;
	overflow: hidden;
}
i.flower {
	margin: 1em auto 1em;
}
.contact p {
	font-size: 1.1em;
}
.simple p {
	padding: 1em 0;
	height: 57px;
	overflow: hidden;
}
.simple {
	padding: 3em 0;
	top: 12px;
	left: 11px;
}
.simple-out {
	padding: 2.5em 0;
	top: 12px;
	left: 10px;
}
.sim-2 {
	padding: 7em 0;
	top: 13px;
	left: 10px;
}
.banner-matter {
	top: 4em;
}
.simple h5 {
	font-size: 1.3em;
}

.single h3 {
	font-size: 2em;
}
p.she-it {
	font-size: 1.4em;
}
p.she-it {
	font-size: 1.3em;
	padding: 1em 0 1.5em;
}
.sub-head p {
	font-size: 1.1em;
	padding: 1em 0;
	line-height: 1.7em;
	height: 99px;
	overflow: hidden;
}
.comment {
	padding: 3em 0 4em;
}
.comment-top p {
	height: 51px;
	overflow: hidden;
}
.comment {
	padding: 1em 0 2em;
}
.comment h5 {
	font-size: 1.8em;
}
.comment input[type="text"] {
	width: 50%;
}
.comment textarea {
	width: 70%;
}
.single-bottom {
	min-height: 199px;
	padding: 2em 0;
}
.single-matter-bottom h6 {
	font-size: 2em;
}
.comment input[type="text"], .comment textarea {
	padding: 0.7em;
}
.footer p {
	font-size: 1.1em;
}
.callbacks_nav {
	top: 34%;
}
}
@media(max-width:320px){
.banner-matter {
	top: 2em;
}
.banner {
	min-height: 150px;
}
.banner h2 {
	font-size: 1.4em;
}
a.down {
	display: none;
}
.footer-top {
	left: 8em;
}
a.arrow{
	left: 8em;
	bottom:12px;
}
.about h3, .work h3, .blog h3, .contact h3 {
	font-size: 1.5em;
}
p.dummy-about {
font-size: 1.2em;
}
.about p {
	height: 54px;
	padding: 0.5em 0;
	line-height:1.4em;
}
.about {
	padding: 1.5em 0 0.5em;
}
.work {
	padding: 1.5em 0;
}
.work-in {
	padding: 1em 0;
}
.motor-in {
	height: 108px;
}
.motor {
	height: 192px;
}
.simple h5 {
	font-size: 1em;
}
.simple p {
	font-size: 1em;
	height: 52px;
}
.simple {
	padding: 1.2em 0;
	top: 6px;
	left: 7px;
}
.sim-2{
	padding:4.2em 0;
}
.blog-down {
	padding: 0.5em 0 0;
}
.item-in p {
	font-size: 1.1em;
	height: 67px;
	overflow: hidden;
	padding:0.2em 0 0.6em;
}
.item-in span {
	font-size: 1em;
}
.wmuSliderPagination {
	right: 23%;
}
.design {
	min-height: 196px;
	padding: 0;
}
.item-in {
	padding: 1em 0 4em;
}
.agency {
	top: 56px;
}
.agency-right {
	display: none;
}
.blog-top p {
	height: 38px;
	line-height:1.3em;
}
a.read {
	float: left;
}
.blog-top {
	padding: 0.5em;
}
i.flower {
	margin: 0.5em auto;
}
.blog-grids {
	padding: 0em;
}
.blog {
	padding: 1.5em 0;
}
.contact {
	padding: 1.5em 0 2em;
}
.contact-us input[type="text"], .contact textarea, .send input[type="submit"] {
	margin: 0.5em 0;
}
.contact textarea {
	width: 90%;
}
.send input[type="submit"] {
	padding:0.7em 0;
	width: 90%;
}
ul.social-ic-icons li {
	padding: 0 0.5em;
}
b.yellow {
	width: 85px;
	height: 4px;
}
.single-top {
	padding: 1.5em 0 0;
}
a.pub-right {
	font-size: 0.9em;
}
small.pub-left {
	font-size: 0.9em;
}
.single h3 {
	font-size: 1.4em;
}
p.she-it {
	font-size: 1.2em;
	height: 72px;
	overflow: hidden;
}
.sub-head h6,.comment h5 {
	font-size: 1.5em;
}
.sub-head p {
	font-size: 1em;
	padding: 0.6em 0;
	line-height: 1.5em;
	height:50px;
}
.tag {
	padding: 1.5em 0;
}
.share {
	float: left;
}
h6.com-in {
	float: left;
	font-size: 1.5em;
}
a.load-more{
	padding:0;
}
label.sit {
	margin-right: 0em;
}
label.sit-on {
	margin-right: 1.8em;
}
label.sit-in {
	margin-right: 1.5em;
}
.comment label {
	padding: 0.3em 0;
}
.post-comment {
	margin-left: 5.8em;
}
.comment {
	padding: 1em 0 1em;
}
.single-matter-bottom h6 {
	font-size: 1.4em;
}
.single-matter-bottom p {
	font-size: 1.1em;
}
.single-bottom {
	min-height: 137px;
	padding: 1.5em 0;
}
.post-comment input[type="submit"] {
	margin: 0.5em 0;
	padding:0.5em 1em;
}
.callbacks_nav {
	height: 68px;
	width: 27px;
	background: url("../images/a-left.png") no-repeat -3px 0px;
	background-size: 34px;
}
.callbacks_nav.next {
	background: url("../images/a-right.png") no-repeat -3px 0px;
	background-size: 34px;
}
}
