h1 {background:url(../images/theme_5_logo_top.png) center 50px no-repeat;}
a.logo {background:url(../images/theme_5_logo.png) left top no-repeat;}
.gallery_item figcaption {background-image:url(../images/theme_5_gallery_item_bg.png);}
h3{ color:#fff;}
.header_top_wrap {background:url(../images/theme_5_header_top.jpg) center top no-repeat;}

.blog_title,.blog_post_preview_bg .btn_1:hover,.flexslider,.icon_bg,.btn_1,.flex-control-nav li a.flex-active,.flex-control-nav li a:hover {background:#f07057;} /** 1/5 **/
body,.container-fill {background:#f2f2e8;} /** 2 **/
.btn_1:hover,.box_1:hover .icon_bg,.blog_post_preview_bg .btn_1 {background:#16a6b6;} /** 4 **/
h1,h2,h3,h4,h5,h6,h6 a,.gallery_item figcaption h6 {color:#34322a;} /** 3 **/
p.testim,.testim_post h3 a,h3 a:hover,h5 a,h5 span,.blog_post_preview_bg h5 a:hover,ul.menu li a:hover,ul.menu li a.active {color:#f07057;} /** 1/5 **/
p.testim:hover,.testim_post h3 a:hover,h6 a:hover,h5 a:hover,.blog_post_preview_bg h5 a {color:#16a6b6;} /** 4 **/

