/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
h4, h5, h6,
h1, h2, h3 {margin-top: 0;}
ul, ol {margin: 0;}
p {margin: 0;}
html, body{
   font-family: 'Asap', sans-serif;
   font-size: 100%;
   background:#fff; 
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.header {
	background: url(../images/1.jpg)no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	min-height:1150px;
	padding-top: 3em;
}
.header_responsive{
	display:none;
}
.tiles {
	background: url(../images/tiles.png)no-repeat center top;
	position: relative;
	min-height:910px;
	text-align:center;
}
.header_mac {
	position: absolute;
	left: 353px;
	top: 277px;
}
.header_mac i.icon1 {
	background-position:-314px -326px;
}
.header_mac i {
	width:50px;
	height:43px;
	background: url(../images/img-sprite.png)no-repeat;
	display: inline-block;
}
.header_mac h3, .header_book h3, .header_team h3, .header_about h3, .header_contact h3 {
	font-size:1.2em;
	color:#fff;
	margin: 0;
}
.header_mac a:hover, .header_book a:hover, .header_team a:hover, .header_about a:hover, .header_contact a:hover{
	text-decoration:none;
}
.header_mac a:hover h3, .header_book a:hover h3, .header_team a:hover h3, .header_about a:hover h3, .header_contact a:hover h3{
	color: #e83a93;
}
.header_book {
	position: absolute;
	left: 585px;
	top: 271px;
}
.header_book i.icon2 {
	background-position:-383px -323px;
}
.header_book i {
	width: 50px;
	height: 48px;
	background: url(../images/img-sprite.png)no-repeat;
	display: inline-block;
}
.logo {
	position: absolute;
	left: 266px;
	top: 471px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}
.header_team {
	position: absolute;
	left: 470px;
	top: 635px;
}
.header_team i.icon3 {
	background-position:-23px -400px;
}
.header_team i {
	width: 55px;
	height: 44px;
	background: url(../images/img-sprite.png)no-repeat;
	display: inline-block;
}
.header_about {
	position: absolute;
	left: 722px;
	top: 635px;
}
.header_about i.icon4 {
	width: 50px;
	height: 43px;
	background: url(../images/img-sprite.png)no-repeat -99px -401px;
	display: inline-block;
}
.header_contact {
	position: absolute;
	left: 946px;
	top: 387px;
}
.header_contact i.icon5{
	width: 50px;
	height: 43px;
	background: url(../images/img-sprite.png)no-repeat -173px -400px;
	display: inline-block;
}
.menu{
	float:right;
	margin: 0em 1em 0 0;
}
.menu img{
	display:block;
}
/*-----stat-header----*/
/*--//header-welcome-note--*/
.box{
	position:absolute;
	top:-1200px;
	width:100%;
	color:#7F7F7F;
	margin:auto;
	padding:0px;
	z-index:999999;
	text-align:center;
	left:0px;
}
a.boxclose{
	cursor: pointer;
	text-align: center;
	display: block;
	position: absolute;
	top: 1.5em;
	right:1.5em;
}
.box_content_center{
	background:rgba(232, 58, 147, 0.45);
}
.menu_box_list{
	display: inline-block;
	padding:6% 0;
}
.menu_box_list ul li {
	display:block;
}
.menu_box_list li a{
	color: #FFF;
	font-size:1em;
	display: block;
	margin: 0.3em;
	text-transform: uppercase;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	letter-spacing: 0.1em;
}
.menu_box_list li a:hover{
	color:#000000;
}
.menu_box_list li a > i > img{
	vertical-align:middle;
	padding-right:10px;
}
a#activator1{
	top: 1018px;
	position: absolute;
	right: 6em;
	background: url(../images/menu.png) no-repeat;
	width: 168px;
	height: 168px;
}
.header_arrow {
	text-align: center;
	top:57em;
	position: absolute;
	left: 48em;
}
.header_arrow a span {
	width: 90px;
	height: 117px;
	display: inline-block;
	background: url(../images/scroller.png) no-repeat 0px 0px;
	vertical-align: middle;
}
/*--content--*/
.content_top{
	padding:8em 0;
}
.content_top h1{
	color:#777;
	font-size:4em;
}
span.m_1{
	color:#e83a93;
}
.top_grids{
	margin-top:5em;
}
.grid1{
	position:relative;
}
.grid1 span {
	width: 235px;
	height: 242px;
	display: inline-block;
	background: url(../images/base.png) no-repeat 0px 0px;
}
.grid1:hover .top_grid h3{
	color:#777;
}
.grid1:hover .top_grid p{
	color:#777;
}
.top_grid {
	position: absolute;
	top:74px;
	left: 80px;
}
.top_grid h3 {
	font-size:3em;
	text-transform: uppercase;
	margin: 0;
	color:#e83a93;
}
.top_grid p{
	font-size:1.3em;
	color:#e83a93;
}
/*--about--*/
.about{
	background:#eee;
	padding:8em 0;
}
.about_top{
	text-align:center;
}
h2.m_3{
	color: #777;
	font-size: 4em;
}
p.head_text{
	color:#777;
	font-size:1.6em;
	line-height:2em;
	margin-top:2em;
}
p.m_2{
	color: #777;
	font-size: 1.6em;
	line-height: 2em;
	margin-bottom:2em;
}
.about_bottom {
	margin-top: 5em;
}
.about_left a, .feature_right a, .post_but a, .subscribe label, .contact_but label, .planContainer .button a{
	position: relative;
	z-index: 1;
}
.btn1 {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding:30px 80px;
	display: inline-block;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-1 {
	font-size:2em;
	color: #fff;
	background:#e83a93;
}
/* Button 1b */
.btn-1b:after {
	width: 100%;
	height: 0;
	top: 0;
	left: 0;
	background: #fff;
}
.btn-1b:hover,
.btn-1b:active {
	color: #e83a93;
	text-decoration:none;
}
.btn-1b:hover:after,
.btn-1b:active:after {
	height: 100%;
}
.btn1:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
/*--services-*/
.services{
	padding:8em 0;
}
.services_box {
	margin-top: 5em;
}
ul.service_grid {
	padding: 0;
	list-style: none;
}
.service_bottom{
	margin-top:5em;
}
i.s1, i.s2, i.s3, i.s4, i.s5, i.s6{
	width:100px;
    height:100px;
	margin:0 1em 0 0;
	float: left;
}
i.s1 {
	background: url(../images/icons.png) no-repeat -4px -8px;
}
i.s1:hover{
	background: url(../images/icons.png) no-repeat -4px -113px;
}
i.s2 {
	background: url(../images/icons.png) no-repeat -111px -8px;
}
i.s2:hover{
	background: url(../images/icons.png) no-repeat -111px -113px;
}
i.s3 {
	background: url(../images/icons.png) no-repeat -216px -8px;
}
i.s3:hover{
	background: url(../images/icons.png) no-repeat -217px -115px;
}
i.s4{
	background: url(../images/icons.png) no-repeat -325px -8px;
}
i.s4:hover{
	background: url(../images/icons.png) no-repeat -324px -116px;
}
i.s5 {
	background: url(../images/icons.png) no-repeat -435px -8px;
}
i.s5:hover{
	background: url(../images/icons.png) no-repeat -435px -114px;
}
i.s6 {
	background: url(../images/icons.png) no-repeat -543px -8px;
}
i.s6:hover{
	background: url(../images/icons.png) no-repeat -543px -114px;
}
ul.service_grid li.desc {
	overflow: hidden;
}
ul.service_grid li.desc h4{
	margin-bottom:1em;
}
ul.service_grid li.desc  h4 a {
	color: #777;
	font-size: 1.5em;
}
ul.service_grid li.desc  h4 a:hover{
	text-decoration:none;
	color:#e83a93;
}
ul.service_grid li.desc  p {
	color: #888;
	font-size:1.2em;
	line-height: 1.5em;
}
/*--features--*/
.feature {
	background: url(../images/feature.jpg)no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height:830px;
	padding-top:8em;
}
.feature_left span{
	width:550px;
	height:470px;
	background:url(../images/mockup.png)no-repeat 0px 0px;
	display:block;
}
i.f1{
	width: 100px;
	height: 100px;
	background: url(../images/img-sprite.png)no-repeat -378px -8px;
	float: left;
	margin-right: 1em;
}
ul.service_grid li.desc1{
	overflow: hidden;
}
ul.service_grid li.desc1 h4 {
	margin-bottom: 1em;
}
ul.service_grid li.desc1 h4 a {
	color:#fff;
	font-size: 1.5em;
}
ul.service_grid li.desc1 p {
	color:#fff;
	font-size: 1.3em;
	line-height: 1.5em;
}
.feature_lst{
	margin-bottom:4em;
}
a.btn1.btn2.btn-1.btn-1b {
	padding: 20px 50px;
}
/*--team--*/
.team{
	padding:8em 0;
}
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
	margin-bottom:8em;
	padding: 2.5em 0;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	width:90%;
	margin: 0 auto;
}
.nbs-flexisel-item {
	float: left;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	positon: relative;
	max-width:200px;
	max-height:120px;
}
/*** Navigation ***/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width: 180px;
	height: 180px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	margin-top: 2.5em;
}
.nbs-flexisel-nav-left {
	left: 0px;
	background: url(../images/img-sprite.png) no-repeat -10px -100px;
}
.nbs-flexisel-nav-right {
	right: 0px;
	background: url(../images/img-sprite.png) no-repeat -205px -100px;
}
.team_grid h3{
	font-size:1.5em;
	margin-top:1em;
}
.team_grid h3 a{
	color:#e83a93;
}
.team_grid:hover h3 a{
	color:#777;
	text-decoration:none;
}
h3.m_4 {
	color:#777;
	font-size: 4em;
	text-align:center;
	padding:0em 0 1em;
}
.post_desc{
	background:#fff;
	padding:2em;
}
.post_desc h4{
	font-size:1.5em;
}
.post_desc h4 a{
	color:#777;
}
.post_desc h4 a:hover{
	text-decoration:none;
	color:#e83a93;
}
.post_desc p{
	color:#999;
	font-size:1.1em;
	line-height:1.8em;
}
.info {
    display: inline-block;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 0.8125em;
	position: absolute;
	top: -190px;
	left: 115px;
}
.view-fifth img {
    -webkit-transition: all 0.2s ease-in;
   -moz-transition: all 0.2s ease-in;
   -o-transition: all 0.2s ease-in;
   -ms-transition: all 0.2s ease-in;
   transition: all 0.2s ease-in;
}
.view-fifth .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: translate(0px, 0px) rotate(0deg);
   -moz-transform: translate(0px, 0px) rotate(0deg);
   -o-transform: translate(0px, 0px) rotate(0deg);
   -ms-transform: translate(0px, 0px) rotate(0deg);
   transform: translate(0px, 0px) rotate(0deg);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-fifth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translate(0px, 0px) rotate(0deg);
   -moz-transform: translate(0px, 0px) rotate(0deg);
   -o-transform: translate(0px, 0px) rotate(0deg);
   -ms-transform: translate(0px, 0px) rotate(0deg);
   transform: translate(0px, 0px) rotate(0deg);
}
.view {
 	position: relative;
}
.post_bottom{
	margin-top:2em;
}
ul.time{
	padding:0;
	list-style:none;
	float:left;
}
ul.post_list{
	margin-right:2em;
}
i.time1{
	width: 36px;
	height: 36px;
	background: url(../images/img-sprite.png)no-repeat -397px -172px;
	float: left;
	margin-right:1em;
}
i.bubble{
	width: 36px;
	height: 36px;
	background: url(../images/img-sprite.png)no-repeat -448px -172px;
	float: left;
	margin-right:1em;
}
ul.time li.time_desc{
	overflow: hidden;
	font-size: 1em;
	color: #999;
	margin-top: 6px;
}
.post_grid{
	border-bottom:5px solid #fff;
}
.post_grid:hover{
	border-bottom:5px solid #e83a93;
}
.post_but{
	margin-top:5em;
	text-align:center;
}
/*--skills--*/
.skills{
	padding:8em 0;
}
.circle {
	color:#aaa;
}
div#canvas {
	margin-bottom: 8em;
}
.skill-grid h3 {
	font-size: 1.5em;
	margin-top:1em;
}
.skill-grid h3 a {
	color:#aaa;
}
.skill-grid h3 a:hover{
	color:#e83a93;
	text-decoration:none;
}
/*========================
 Transitions
 ========================*/
.searchfield:focus, .searchfield:not(:focus) {
	-webkit-transition-property: width;
	-webkit-transition-duration: 0.5s, 0.5s;
	-webkit-transition-timing-function: linear, ease-out;
}
.lb-album {
	margin: 0 auto;
	padding:0;
	list-style:none;
}
.lb-album li {
	width: 16.6666%;
	float: left;
	position: relative;
}
.lb-album li:nth-child(4), .lb-album li:nth-child(8), .lb-album li:nth-child(12) {
	margin-right: 0;
}
.lb-album li > a, .lb-album li > a img {
	display: block;
	width: 100%;
}
.lb-album li > a {
	position: relative;
}
.lb-album li > a span {
	position:absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
	line-height:10em;
	color: #fff;
	font-size: 24px;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	background:rgba(232, 58, 147, 0.45);
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}
.lb-album li > a:hover span {
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
.lb-overlay {
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 99;
	text-align: center;
	background:#000;
}
.lb-overlay > div {
	position: relative;
	color: rgba(27,54,81,0.8);
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	width: 550px;
	margin: 10px auto 0px auto;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
	-webkit-transition: opacity 0.3s linear 1.3s;
	-moz-transition: opacity 0.3s linear 1.3s;
	-o-transition: opacity 0.3s linear 1.3s;
	-ms-transition: opacity 0.3s linear 1.3s;
	transition: opacity 0.3s linear 1.3s;
}
.lb-overlay div h3, .lb-overlay div p {
	padding: 0px 20px;
	width: 200px;
	height: 60px;
	color: #fff;
}
.lb-overlay div h3 {
	color: #fff;
	font-size:30px;
	float: left;
	text-align: right;
	border-right: 1px solid rgba(27,54,81,0.4);
}
.lb-overlay div h3 span, .lb-overlay div p {
	font-size: 13px;
	font-style: italic;
}
.lb-overlay div h3 span {
	display: block;
	line-height: 6px;
}
.lb-overlay div p {
	text-align: left;
	float: left;
	width: 260px;
}
.lb-overlay a.lb-close {
	font-size: 0.924em;
	padding: 4px;
	background: rgba(64, 72, 109, 0.61);
	z-index: 1001;
	color: #fff;
	position: absolute;
	top: 43px;
	left: 50%;
	font-size: 15px;
	line-height: 26px;
	text-align: center;
	width: 50px;
	height: 23px;
	overflow: hidden;
	margin-left: -25px;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-webkit-transition: opacity 0.3s linear 1.2s;
	-moz-transition: opacity 0.3s linear 1.2s;
	-o-transition: opacity 0.3s linear 1.2s;
	-ms-transition: opacity 0.3s linear 1.2s;
	transition: opacity 0.3s linear 1.2s;
}
.lb-overlay img {
	/* height: 100%; For Opera max-height does not seem to work */
	max-height: 100%;
	position: relative;
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
}
.lb-overlay:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
	padding: 80px 100px 120px 100px;
}
.lb-overlay:target img {
	-webkit-animation: fadeInScale 1.2s ease-in-out;
	-moz-animation: fadeInScale 1.2s ease-in-out;
	-o-animation: fadeInScale 1.2s ease-in-out;
	-ms-animation: fadeInScale 1.2s ease-in-out;
	animation: fadeInScale 1.2s ease-in-out;
	display: inline-block;
}
.lb-overlay:target a.lb-close, .lb-overlay:target > div {
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
@-webkit-keyframes fadeInScale {
0% { -webkit-transform: scale(0.6); opacity: 0; }
100% { -webkit-transform: scale(1); opacity: 1; }
}
@-moz-keyframes fadeInScale {
0% { -moz-transform: scale(0.6); opacity: 0; }
100% { -moz-transform: scale(1); opacity: 1; }
}
@-o-keyframes fadeInScale {
0% { -o-transform: scale(0.6); opacity: 0; }
100% { -o-transform: scale(1); opacity: 1; }
}
@-ms-keyframes fadeInScale {
0% { -ms-transform: scale(0.6); opacity: 0; }
100% { -ms-transform: scale(1); opacity: 1; }
}
@keyframes fadeInScale {
0% { transform: scale(0.6); opacity: 0; }
100% { transform: scale(1); opacity: 1; }
}

/*
 100% Height for Opera as the max-height seems to be ignored, not optimal for large screens
 http://bricss.net/post/11230266445/css-hack-to-target-opera
 */
x:-o-prefocus, .lb-overlay img {
	height: 100%;
}
.lb-album h2 {
	color:#999;
	font-size:3em;
	font-weight:700;
}
.lb-album p {
	color:#333;
	font-size:13px;
	line-height:1.5em;
}
/*--plans--*/
.plans{
	padding:4% 0;
}
.pricing{
	padding:5% 0 0%;
}
#plans,#plans ul,#plans ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}
#pricePlans {
	text-align: center;
}
#pricePlans #plans .plan {
	background: #fff;
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 0 0 20px 0;
}
.planContainer .title h2 {
	font-size: 2.125em;
	color: #3e4f6a;
	margin: 0;
	padding: .6em 0;
	padding: 25px 0;
}
.planContainer .title1 h3 {
	font-size: 2.125em;
	color:#777;
	margin: 0;
	padding: .6em 0;
}
.planContainer .title h2.bestPlanTitle {
	color:#e83a93;
}
.text{
	padding: 0px 0 10px;
}
.planContainer .price p {
	color: #645035;
	font-size:4em;
	line-height:1.6em;
}
.planContainer .price p span {
	color:#B3823F;
}
.planContainer .options {
	margin-top: 10em;
}
.planContainer .options li {
	color:#777;
	line-height:3em;
	border-bottom: 1px solid #E9E9E9;
	font-size: 1.2em;
}
.planContainer .options li span {
	color: #333;
}
.planContainer .button a {
	background: #555;
	display: inline-block;
	padding: 15px 35px;
	margin: 1.5em 0 -15px;
	font-size: 1.5em;
}
.planContainer .button a:hover {
	color:#e83a93;
	background: #e83a93;
}
.planContainer .button a.bestPlanButton {
	background:#523E23;
}
.planContainer .button a.bestPlanButton {
	background:#e83a93;
	border:none;
}
.planContainer .button a.bestPlanButton:hover {
	background:#777;
}
#pricePlans #plans .plan {
	width: 30.9999%;
	margin: 0 2.33% 0px 0;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
li.plan-middle{
	width:30.9999%;
	margin: 0 3.33% 20px 0;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	-ms-transition: all .25s;
	-o-transition: all .25s;
	transition: all .25s;
}
#pricePlans #plans > li:last-child {
	margin-right: 0;
}
.planContainer .button a {
	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
}
.planContainer .price1 p {
	color:#e83a93;
}
/*--subscribe--*/
.subscribe {
	background: url(../images/subscribe.jpg)no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height:830px;
	padding-top:7em;
	text-align:center;
}
.subscribe h4 {
	color:#fff;
	font-size:3em;
	text-align: center;
	padding: 1em 0;
}
.subscribe p{
	color:#fff;
	font-size:1.6em;
	margin-bottom: 4em;
}
.subscribe input[type="text"] {
	display: block;
	width: 100%;
	padding: 40px;
	border: none;
	outline: none;
	margin: 1.5em 0;
	font-size: 1.6em;
	color: #fff;
	background:rgba(174, 166, 164, 0.45);
	text-align: center;
}
.subscribe input[type="submit"], .contact input[type="submit"] {
	-webkit-appearance: none;
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	font-weight: 100;
}
label.btn1.btn3.btn-1.btn-1b {
	padding: 30px 50px;
}
/*--contact--*/
.contact{
	padding:5em 0;
}
.contact_left input[type="text"] {
	padding: 30px;
	width: 100%;
	font-size: 1.6em;
	margin:0px 0 50px;
	border: none;
	color:#aaa;
	background: #eee;
	outline: none;
}
.contact_right textarea {
	width:100%;
	font-size:1.6em;
	border: none;
	color:#aaa;
	outline: none;
	background:#eee;
	height:390px;
	padding:30px;
	resize: none;
}
.contact_but{
	margin-top:2em;
	text-align:center;
}
label.btn1.btn4.btn-1.btn-1b {
	padding: 30px 100px;
}
.contact h4 {
	color:#777;
	font-size:4em;
	text-align: center;
	padding: 1em 0;
}
.contact p {
	color:#777;
	font-size: 1.6em;
	margin-bottom: 4em;
	text-align:center;
}
.social{
	text-align:center;
	margin-top:6em;
}
.social ul {
	list-style:none;
	padding: 0;
}
.social ul li:first-child, ol li:first-child {
	margin-top: 0px;
	margin-left: 0;
}
.social li {
	background: none;
	display: inline-block;
	margin-right:1em;
}
.social ul li a i {
	width:75px;
	height: 75px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat;
}
.social ul li a i:hover{
	opacity:0.8;
}
.social ul li a i.fb {
	background-position:-13px -310px;
}
.social ul li a i.tw {
	background-position:-109px -310px;
}
.social ul li a i.db{
	background-position:-215px -309px;
}
p.copy {
	font-size:1.5em;
	color: #aaa;
	margin: 3em 0 0 0;
}
p.copy a{
	color:#e83a93;
}
p.copy a:hover{
	color:#aaa;
	text-decoration:none;
}
.header_social ul{
	padding:0;
	list-style:none;
}
.header_social ul li:first-child, ol li:first-child {
	margin-top: 0px;
	margin-left: 0;
}
.header_social li {
	background: none;
	display: inline-block;
	margin-right: 1em;
}
.header_social ul li a i.fb1 {
	width: 32px;
	height: 40px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -245px -404px;
	position: absolute;
	left:991px;
	top: 192px;
}
.header_social ul li a i.fb1:hover, .header_social ul li a i.tw1:hover, .header_social ul li a i.db1:hover, .header_social ul li a i.g1:hover, .header_social ul li a i.skype:hover, .header_social ul li a i.vimeo:hover{
	opacity:0.8;
}
.header_social ul li a i.tw1 {
	width: 32px;
	height: 40px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -294px -404px;
	position: absolute;
	left: 1071px;
	top: 192px;
}
.header_social ul li a i.db1 {
	width: 36px;
	height: 40px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -342px -404px;
	position: absolute;
	left: 1148px;
	top: 192px;
}
.header_social ul li a i.g1 {
	width: 36px;
	height: 40px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -389px -405px;
	position: absolute;
	left: 1030px;
	top: 265px;
}
.header_social ul li a i.skype{
	width: 36px;
	height: 40px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -444px -405px;
	position: absolute;
	left: 1151px;
	top: 270px;
}
.header_social ul li a i.vimeo{
	width: 36px;
	height: 40px;
	display: block;
	background: url(../images/img-sprite.png)no-repeat -27px -452px;
	position: absolute;
	left: 1108px;
	top: 314px;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width:70px;
	height:70px;
	border: none;
	text-indent: 100%;
	background: url(../images/back-top.png) no-repeat 0px 0px;
}
/*--responsive design--*/
@media (max-width:1366px){
.header_mac {
	left: 228px;
}
.header_book {
	left: 460px;
}
.logo {
	left: 143px;
	top: 471px;
}
.header_team {
	left: 343px;
}
.header_about {
	left: 595px;
}
.header_contact {
	left: 823px;
}
.header_social ul li a i.fb1 {
	left: 866px;
}
.header_social ul li a i.tw1 {
	left: 946px;
}
.header_social ul li a i.db1 {
	left: 1024px;
}
.header_social ul li a i.g1 {
	left: 905px;
}
.header_social ul li a i.skype {
	left: 1028px;
}
.header_social ul li a i.vimeo {
	left: 984px;
}
.header_arrow {
	left: 40em;
}
}
@media (max-width:1280px){
.header_mac {
	left: 185px;
}
.header_book {
	left: 418px;
}
.logo {
	left: 94px;
	top: 469px;
}
.header_team {
	left: 300px;
}
.header_about {
	left: 556px;
}
.header_contact {
	left: 778px;
}
.header_social ul li a i.fb1 {
	left: 823px;
}
.header_social ul li a i.tw1 {
	left: 903px;
}
.header_social ul li a i.db1 {
	left:981px;
}
.header_social ul li a i.g1 {
	left: 860px;
}
.header_social ul li a i.skype {
	left: 984px;
}
.header_social ul li a i.vimeo {
	left: 941px;
}
.header_arrow {
	left: 40em;
}
}
@media (max-width:1024px){
.tiles {
	height: 700px;
	width: 1000px;
	display: inline-block;
	background-size: 100%;
}
.header_mac {
	left: 127px;
	top: 226px;
}
.header_book {
	left: 320px;
	top: 223px;
}
.logo {
	left: -30px;
	top: 454px;
}
.header_team {
	left: 224px;
	top: 525px;
}
.header_about {
	left: 436px;
	top: 527px;
}
.header_contact {
	left: 621px;
	top: 318px;
}
.header_social ul li a i.fb1 {
	left: 663px;
	top: 158px;
}
.header_social ul li a i.tw1 {
	left: 730px;
	top: 158px;
}
.header_social ul li a i.db1 {
	left: 794px;
	top: 157px;
}
.header_social ul li a i.g1 {
	left: 694px;
	top: 216px;
}
.header_social ul li a i.skype {
	left: 797px;
	top: 221px;
}
.header_social ul li a i.vimeo {
	left: 762px;
	top: 259px;
}
.header {
	min-height: 900px;
	padding-top: 2em;
}
.header_arrow {
	left: 29em;
	top: 47em;
}
a#activator1{
	top:826px;
	right:2em;
}
.content_top h1, h2.m_3, h3.m_4, .planContainer .price p{
	font-size: 3em;
}
p.head_text {
	font-size: 1.3em;
	margin-top: 1em;
}
.grid1 span {
	width: 200px;
	height: 200px;
	background-size: 100%;
}
.top_grid h3 {
	font-size: 2em;
}
.top_grid p{
	font-size: 1em;
}
.top_grid {
	top: 71px;
	left: 72px;
}
.top_grids {
	margin-top: 3em;
}
.content_top, .about, .services, .team, .skills{
	padding: 5em 0;
}
p.m_2, ul.service_grid li.desc h4 a, ul.service_grid li.desc1 h4 a, .post_desc h4{
	font-size: 1.3em;
}
.btn1 {
	padding: 20px 50px;
}
.btn-1 {
	font-size:1.6em;
}
ul.service_grid li.desc p, ul.service_grid li.desc1 p{
	font-size: 1em;
}
.feature_left span {
	width: 400px;
	height: 390px;
	background-size: 114%;
}
.feature {
	background: url(../images/feature.jpg)no-repeat center top;
	min-height: 740px;
	padding-top: 5em;
	-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
a.btn1.btn2.btn-1.btn-1b {
	padding: 15px 40px;
}
.post_desc p {
	font-size: 0.95em;
}
.post_desc {
	padding: 1em;
}
i.time1, i.bubble{
	margin-right: 0.5em;
}
#canvas {
	margin-bottom: 5em;
}
.planContainer .options li {
	line-height: 2.5em;
	font-size: 1em;
}
.planContainer .title1 h3, .planContainer .title h2{
	font-size: 1.5em;
}
.planContainer .button a {
	padding: 12px 25px;
	font-size: 1.2em;
}
.subscribe h4 {
	color: #fff;
	font-size: 2.5em;
	text-align: center;
	padding: 1em 0 0.5em;
}
.subscribe input[type="text"] {
	padding: 30px;
	margin: 0 0 1.5em;
	font-size: 1.3em;
}
.subscribe p {
	color: #fff;
	font-size: 1.3em;
	margin-bottom: 2em;
}
.subscribe {
	min-height: 550px;
	padding-top: 3em;
}
label.btn1.btn3.btn-1.btn-1b {
	padding: 25px 40px;
}
.contact h4 {
	color: #777;
	font-size: 3em;
	padding:0;
}
.contact p {
	font-size: 1.3em;
	margin-bottom: 2em;
}
.contact_left input[type="text"] {
	padding: 20px;
	width: 100%;
	font-size: 1.3em;
	margin: 0px 0 30px;
}
.contact_right textarea {
	width: 100%;
	font-size: 1.3em;
	height: 271px;
	padding: 20px;
}
label.btn1.btn4.btn-1.btn-1b {
	padding: 20px 60px;
}
.social {
	margin-top: 3em;
}
.copy {
	font-size: 1.3em;
	margin: 2em 0 0 0;
}
}
@media (max-width:800px){
.header{
	display:none;
}
.header_responsive {
	background: url(../images/1.jpg)no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	min-height:670px;
	padding-top:1em;
	display: block;
}
.tiles_resp{
	background: url(../images/res_tiles.png)no-repeat center;
	width: 766px;
	background-size: 100%;
	height: 585px;
}
.header_arrow {
	left:23em;
	top:35em;
}
.header_arrow a span {
	width: 60px;
	height: 76px;
	background-size: 100%;
}
.top_grid {
	top: 72px;
	left: 315px;
}
p.m_2, ul.service_grid li.desc h4 a, ul.service_grid li.desc1 h4 a, .post_desc h4 {
	font-size: 1.1em;
	margin-bottom: 1em;
}
p.head_text {
	font-size: 1.1em;
	margin-top: 1em;
	line-height: 1.8em;
}
.about_bottom {
	margin-top: 1em;
}
.about_left {
	text-align: center;
	margin-bottom:3em;
}
.feature_left{
	text-align: center;
}
.feature_left span {
	width: 350px;
	height: 310px;
	background-size: 100%;
	display: inline-block;
}
.feature_lst {
	margin-bottom: 1em;
}
.feature {
	background: url(../images/feature.jpg)no-repeat center top;
	min-height: 825px;
	padding-top: 3em;
	-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width: 90px;
	height: 90px;
}
.nbs-flexisel-nav-left {
	left: 0px;
	background: url(../images/img-sprite.png) no-repeat -6px -7px;
}
.nbs-flexisel-nav-right {
	right: 0px;
	background: url(../images/img-sprite.png) no-repeat 27% -7px;
}
.nbs-flexisel-container {
	margin-bottom: 2em;
}
.team_grid img, .view-fifth img {
	display: inline-block;
}
.view {
	text-align: center;
}
.post_grid {
	margin-bottom: 2em;
}
.info {
	left: 280px;
}
.skill-grid {
	margin-bottom: 3em;
}
div#canvas {
	margin-bottom: 1em;
}
.lb-album li {
	width: 24.9999%;
	float: left;
}
}
@media (max-width:768px){
.tiles_resp {
background: url(../images/res_tiles.png)no-repeat center;
	width: 750px;
	background-size: 90%;
	height: 500px;
	margin: 0 auto;
}
.header_arrow {
	left: 23em;
	top: 32em;
}
.header_responsive {
	min-height: 617px;
}
.content_top h1, h2.m_3, h3.m_4, .planContainer .price p {
	font-size: 2em;
}
.content_top, .about, .services, .team, .skills {
	padding: 2em 0;
}
p.head_text {
	font-size: 1em;
	margin-top: 1em;
}
.top_grids {
	margin-top: 1em;
}
.service_bottom {
	margin-top: 2em;
}
}
@media (max-width:640px){
.tiles_resp {
	background: url(../images/res_tiles.png)no-repeat center;
	width: 622px;
	background-size: 90%;
	height: 400px;
	margin: 0 auto;
}	
.header_responsive {
	min-height: 500px;
}
.header_arrow {
	left: 18em;
	top: 25em;
}
.top_grid {
	top: 72px;
	left: 254px;
}
}
@media (max-width:480px){
.tiles_resp {
	background: url(../images/res_tiles.png)no-repeat center;
	width: 455px;
	background-size: 100%;
	height: 340px;
	margin: 0 auto;
}
.header_arrow a span {
	width: 40px;
	height: 50px;
	background-size: 100%;
}
.header_arrow {
	left: 13em;
	top: 22em;
}
.header_responsive {
	min-height: 420px;
}
.grid1 span {
	width: 130px;
	height: 130px;
	background-size: 100%;
}
.top_grid h3 {
	font-size: 1.6em;
}
.top_grid p {
	font-size:0.85em;
}
.top_grid {
	top: 40px;
	left: 176px;
}
.btn1 {
	padding: 10px 30px;
}
.btn-1 {
	font-size: 1.2em;
}
.services_box {
	margin-top: 2em;
}
ul.service_grid li.desc h4 {
	margin-bottom: 0em;
}
ul.service_grid li.desc p, ul.service_grid li.desc1 p {
	font-size: 0.95em;
}
.feature_left span {
	width: 240px;
	height: 230px;
	background-size: 100%;
	display: inline-block;
}
.feature {
	background: url(../images/feature.jpg)no-repeat center top;
	min-height: 730px;
	padding-top: 3em;
}
a.btn1.btn2.btn-1.btn-1b {
	padding: 10px 20px;
}
#pricePlans #plans .plan {
	width: 100%;
	margin: 0 0 3em;
}
.subscribe h4 {
	color: #fff;
	font-size: 1.8em;
	text-align: center;
	padding: 1em 0 0.5em;
}
.subscribe p {
	font-size: 1.1em;
}
.subscribe input[type="text"] {
	padding: 20px;
	margin: 0 0 1.5em;
	font-size: 1.1em;
}
label.btn1.btn3.btn-1.btn-1b {
	padding: 15px 30px;
}
.subscribe {
	min-height: 385px;
	padding-top: 1em;
}
.contact h4 {
	font-size: 2em;
}
.contact {
	padding: 2em 0;
}
.contact p {
	font-size: 1.1em;
	margin-bottom: 1em;
}
.contact_left input[type="text"] {
	padding:12px;
	font-size: 1.1em;
	margin: 0px 0 20px;
}
.contact_right textarea {
	font-size: 1.1em;
	height:200px;
	padding: 10px;
}
p.copy {
	font-size: 1.3em;
	margin-top: 1em;
}
.info {
	left: 140px;
}
}
@media (max-width:320px){
.tiles_resp {
	width: 300px;
	background-size: 100%;
	height: 245px;
}
.header_arrow {
	left: 8em;
	top: 15em;
}
.header_responsive {
	min-height: 300px;
}
.top_grid {
	top: 40px;
	left: 100px;
}
.info {
	left: 59px;
	top: -145px;
}
.post_desc {
	padding: 10px;
}
ul.time li.time_desc {
	font-size: 0.85em;
}
.social li {
	margin-right: 0em;
}
p.copy {
	font-size: 0.95em;
}
.post_but {
	margin-top: 0em;
}
.subscribe h4 {
	font-size: 1.5em;
}
.lb-album li {
	width: 33.3333%;
}
}
