/*--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	background:#fff;
	font-family: 'Open Sans', sans-serif;
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
 ul{
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,h5,h6,p,label{
	margin:0;
}
.header{
	background:url(../images/banner.jpg)no-repeat 0px 0px;
	width:100%;
	min-height:600px;
	display:block;
	background-size:cover;
}
.header-in{
	background:url(../images/banner.jpg)no-repeat 0px 0px;
	width:100%;
	min-height:130px;
	display:block;
	background-size:cover;
}
.logo{
	float: left;
	margin-top: 1.5em;
}
.logo a{
	text-decoration:none;
}
.logo h1{
	font-size:2em;
	margin:0;
	color:#fff;
}
.logo h1 span{
	color:#e84c3d;
}
.top-nav{
	float:right;
	margin-top: 2.5em;
}
.top-nav ul{
	background: url(../images/nav.png)no-repeat 0px -10px;
	width: 479px;
	min-height: 57px;
	display: block;
	background-size: cover;
	padding: 13px 0em 0 3em;
}
.top-nav ul li{
	display: inline-block;
	float: left;
	border-right: 1px solid #b99403;
}
.top-nav ul li:nth-child(3){
	border-right:none;
}
.top-nav ul li a{
	font-size: 1.2em;
	text-decoration: none;
	color: #b99403;
	font-weight: 400;
	text-transform:uppercase;
	padding:6px 15px 0 8px;
	display:block;
}
.top-nav ul li a:hover{
	color:#fff;
}
.top-nav ul li a span{
	background: url(../images/img-sprite.png)no-repeat 0px 0px;
	width: 35px;
	height: 35px;
	display: inline-block;
	vertical-align: middle;
}
.top-nav ul li a span.service{
	background-position: -34px 0px
}
.top-nav ul li a span.mail{
	background-position:-68px -5px
}
/*----*/
.top-nav span.menu:before{
	content: url(../images/menu.png)no-repeat 0px 0px;
	cursor:pointer;	
	width:100%;
}
.top-nav span.menu{
	display: none;
}
/*--responsive media-quries--*/
@media(max-width:768px){
.top-nav ul{
	display: none;
	position:absolute;
	width:100%;
	z-index: 9999;
	left: 0%;
	margin: 2em 0em;
	background:#f5c506;
}
.top-nav ul li label{
	display:none;
}
.top-nav span.menu {
	display: block;
	width: 100%;
	position: relative;
	text-align: center;
	padding: 1em 1em 0;
}
.top-nav ul li{
	display: block;
	float:none;
	padding: 0;
	text-align: center;
}
.top-nav ul li a{
	border: none;
	padding: 0;
	background:none;
	margin: 0.3em 1em;
}

}
/* Default Skin */
.wmuSlider {
	position: relative;
	overflow: hidden;
}
ul.wmuSliderPagination{
	display:none;
}
.wmuGallery .wmuGalleryImage {
	margin-bottom: 10px;
}
.wmuSliderPrev, .wmuSliderNext {
	position: absolute;
	width: 40px;
	height: 66px;
	text-indent: -9999px;
	background: url(../images/img-sprite.png)no-repeat;
	z-index: 2;
	cursor: pointer;
	bottom: 13em;
}
.wmuSliderPrev {
	background-position:-114px 0px;
	left: 0em;	
}
.wmuSliderNext {
	background-position:-157px 0px;
	right: 0em;
}
.parrot{
	float:left;
	width:57%;	
}
.cool{
	float:left;
	width:43%;
}
.parrot iframe{
	border:0;
	min-height:400px;
	width:100%;
}
h2.cool{
	color:#fff;
	font-size:4.3em;
	text-align:center;
	text-transform: uppercase;
	padding: 2.2em 25px 0;
}
h2.cool span{
	color:#f5c506;
	display:block;
}
.banner {
	padding: 6em 0;
}
/*----*/
.free{
	background:url(../images/banner1.jpg)no-repeat 0px 0px;
	width:100%;
	min-height:224px;
	display:block;
	background-size:cover;
}
.design{
	padding:1.5em 0 2em;
	border-right:1px solid #ccc;
	text-align:center;
	
}
.design:hover{
	background: rgba(190, 190, 174, 0.17);
	
}
.design span{
	font-size:2.5em;
	color:#000;
	display:block;
	text-transform:uppercase;
	font-weight:100;
}
.design:nth-child(1){
	border-left:1px solid #ccc;
}
/*----*/
.men{
	background:url(../images/banner2.jpg)no-repeat 0px 0px;
	width:100%;
	min-height: 452px;
	display: block;
	background-size: cover;
	padding: 5em 0 4em;
}
.men h3{
	color:#fff;
	font-size:2.5em;
	text-transform:uppercase;
	padding: 1em 0;
}
.sit{
	background:#ec9e03;
	padding: 1.5em;
}
img.twit-plus {
	display: block;
	margin: 0 auto;
}
.col-d{
	padding:0;
	width:33.33%;
}
.twitter{
	padding:2.8em 1.5em;
	background:#ec9e03;
	text-align:center;
}
.cap{
	padding:0;
}
.cap iframe{
	border:0;
	min-height: 257px;
	width: 351px;	
}
.sit p{
	color: #fff;
	font-size: 2em;
	line-height: 1.4em;
	font-weight: 100;
}
span.number-two{
	float:right;
	color:#fff;
	font-size:1.8em;
}
i.icon{
	width: 20px;
	height: 20px;
	background: url(../images/img-sprite.png)no-repeat -234px -23px;
	float:right;
	display:block;
}
.april{
	background:#ddb101;
	display: inline-block;
	padding:0.2em 2em;
	text-align:center;
}
.april b{
	color: #fff;
	font-size: 4em;
	font-weight: 700;
	line-height:1em;
}
.april small{
	color: #c88b15;
	font-size: 1.5em;
	font-weight: 400;
	display:block;
}
/*----*/
.white{
	width:100%;
	min-height:18px;
	background:#fae58f;
	display:block;
	border-radius:20px;
	margin: 3em 0 2.1em;
}
.white div{
	background:#ec9e03;
	width:20%;
	min-height:18px;
	display:block;
	border-radius:20px;
	margin-left:20em;
}
/*----*/
.sed-ut{
	background:url(../images/banner3.jpg)no-repeat 0px 0px;
	width:100%;
	min-height:500px;
	display:block;
	background-size:cover;
	padding: 3em 0 5em;
}
.sed-ut h3{
	color:#f5c506;
	font-size:3.2em;
	text-transform:uppercase;
	text-align:center;
	padding: 0em 0 1em;
}
.design-free{
	position:relative;
}
.design-free span{
	position: absolute;
	background: #f5c506;
	width: 125px;
	height: 125px;
	border-radius: 100px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 600;
	text-align: center;
	padding: 3em 0;
	top: 0;
}
.design-in ul li{
	list-style-image:url(../images/dot.png) ;
}
.design-in ul li a{
	color:#a9a9a7;
	text-decoration:none;
	text-transform:uppercase;
	padding:0.7em 0;
	display:block;
	font-size: 1.5em;
}
.design-in ul li a:hover{
	color:#f5c506;
	padding-left:0.2em;
}
/*--about--*/
.about{
	background:url(../images/banner1.jpg) 0px 0px;
	width:100%;
	min-height:640px;
	display:block;
	text-align: center;
	padding: 3em 0;
}
.about h3{
	margin:0;
	font-size: 3em;
	color: #000;
	font-weight: 600;
}
.about-in h6{
	font-size: 1.6em;
	line-height: 1.3em;
	width: 80%;
	margin: 0 auto;
	padding: 1em 0 0.3em;
	color:#f5c506;
}
.about-in {
	padding: 2em 0;
}
.about-in p{
	color:#9A9898;
	font-size:1.2em;
	line-height:1.5em;	
	width: 70%;
	margin: 0 auto;
}
.zoom-img{
	margin:0 auto;
}
/*--services--*/
.services{
	background:url(../images/banner1.jpg)0px 0px;
	width:100%;
	min-height:500px;
	display:block;	
	padding: 3em 0;
}
.services h3{
	margin:0;
	font-size: 3em;
	color: #000;
	font-weight: 600;
	text-align:center;
}
.service-in {
	padding:2em 0 0;
}
.number,.number-in{
	float:left;
}
.number-in{
	width:78%;
	padding: 1em 0 2em;
}
span.number{
	font-size:2.5em;
	color:#f5c506;
	font-weight: 600;
	margin-right: 15px;
}
.number-in h6{
	margin:0 0 0.5em;
	font-size:1.5em;
}
.number-in h6 a{
	text-decoration:none;
	color:#f5c506;
}
.number-in h6 a:hover{
	color:#000;
}
.number-in p{
	margin:0;
	font-size:1em;
	color:#9A9898;
	line-height:1.5em;
}
/*----*/
/*--living--*/
.living_middle{
	padding:5em 0;
	background: #f3f1f2;
}
.zoom-icon {
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
	background: rgba(64, 72, 109, 0.61);
	display: block;
	left: 0;
	top: -152px;
	width: 290px;
	height: 219px;
	background: url(../images/zoom.png) center center no-repeat;
	cursor: pointer;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}
.grid_box .zoom-icon {
	top: -50px;
	width: 100%;
	height: 182px;
}
.grid_box2{
	background:#fff;
	padding:1em;
}
.grid_box2 h4{
	text-transform:uppercase;
	font-size:1.2em;
	font-weight:500;
	margin-bottom:5px;
}
.grid_box2 h4 a{
	color:#000;
}
.grid_box:hover .grid_box2 h4 a{
	color:#e94e38;
	text-decoration:none;
}
.grid_box2 p{
	text-transform:uppercase;
	font-size:0.8125em;
	color:#e94e38;
	font-weight:500;
}
.grid_box a:hover .zoom-icon {
	top: 14%;
	opacity: 1;
	filter: alpha(opacity=99); 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
}
.entertain_box{
	margin-bottom:3em;
}
/*--contact--*/
.contact{
	background:url(../images/banner1.jpg)0px 0px;
	width:100%;
	min-height:594px;
	display:block;	
	padding:2em 0 3em;
}
.contact h3{
	margin:0.5em 0;
	font-size:3em;
	color:#000;
	text-transform:uppercase;
	text-align:center;
}
.contact-left  h5,.contact-inline  h5 {
	color:#5f5f5f;
	margin-bottom:0.5em;
	font-size:1.7em;
	margin-top: 0px;
}
.contact-in{
	padding: 2em 0 0;
}
.contact-inline p{
	font-size:1em;
	color:#333;
	line-height: 1.8em;
}
.contact-inline p span,.contact-inline p a{
	text-decoration:underline;
	color:#333;
	cursor:pointer;
}
.contact-inline p a:hover{
	text-decoration:none;
}
.contact-inline p span:hover{
	text-decoration:none;
}
p.your-para,p.message-para{
	color: #333;
	margin: 0;
}
p.message-para{
	padding: 0 1em;
}
.contact-grid input[type="text"]{
	width: 100%;
	padding: 1em;
	margin: 1em 0;
	background: none;
	outline:none;
	border: 1px solid #333;
}
.contact-left textarea{
	resize:none;
	width: 98%;
	padding: 1em;
	margin: 1em ;
	outline:none;
	border:  1px solid #333;
	background:none;
}
.contact-left input[type="submit"]{
	width: 21%;
	font-size: 1.5em;
	background: #f5c506;
	padding: 0.6em 1em;
	text-align: center;
	color: #fff;
	border: none;
	outline:none;
	margin: 0 auto;
	-webkit-appearance: none;
}
.contact-left input[type="submit"]:hover{
	background:#C9A30E;
}
.send {
	padding: 0 1em;
}
.map iframe{
	border:none;
	width:100%;
	height:300px;
}
/*--single--*/
.single{
	background:url(../images/banner1.jpg)0px 0px;
	width:100%;
	min-height:500px;
	display:block;	
	padding: 3em 0;
}
.table-form form input[type="text"]{
	border: 1px solid rgba(192, 192, 192, 0.61);
	outline: none;
	padding: 12px;
	color: #333333;
	overflow: hidden;
	width: 30%;
	display: block;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	-webkit-appearance: none;
}
.table-form textarea{
	padding: 8px;
	outline:none;
	color: #333333;
	border: 1px solid rgba(192, 192, 192, 0.61);
	width:60%;
	height:180px;
	resize: none;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	-webkit-appearance: none;
}
.table-form form input[type="text"]:hover,.table-form textarea:hover{
	border: 1px solid #f5c506;
}
.table-form input[type="submit"]{
	color: #5a5a5a;
	padding: 0.8em 1.5em;
	background: #fff;
	text-decoration: none;
	text-shadow: none;
	border: 1px solid rgba(192, 192, 192, 0.61);
	display: block;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	cursor:pointer;
	font-size: 1em;
	outline:none;
}
.table-form input[type="submit"]:hover{
	background:#f5c506;
	border:1px solid #f5c506;
	color:#fff;
}
.table-form label{
	display: block;
	margin: 0.4em 0 0.5em;
}
.table-form div{
	margin:0.5em 0;
}
.table-form div {
	margin: 1em 0;
}
.leave-comment h3{
	color:#000;
	font-size:2.5em;
	padding: 0.5em 0 0;
}
ul.links{
	padding:8px 0px;	
	border-top: 1px solid rgba(120, 124, 127, 0.4);
	margin: 4em 0 0px 0;
}
ul.links li.last{
	float:right;
}
ul.links_middle{
	border-bottom:1px solid rgba(120, 124, 127, 0.4);
	border-top: 1px solid rgba(120, 124, 127, 0.4);
	margin:0;
}
ul.links_bottom{
	border-bottom:1px solid rgba(120, 124, 127, 0.4);
	margin:0;
	border-top:none;
}
ul.links li{
	display: inline-block;
	margin-right:25px;
}
span.icon_text {
	vertical-align: middle;
	font-size: 13px;
	color: #000;
}
ul.links li i {
	width:20px;
	height:20px;
	display:inline-block;
	background:url("../images/img-sprite.png") no-repeat;
	vertical-align:middle;
	margin-right:5px;
}
ul.links li i.date {
	background-position:-16px -87px;
}
ul.links li i.admin {
	background-position: -53px -90px;
}
ul.links li i.permalink {
	background-position: -149px -94px;
}
ul.links li i.title-icon {
	background-position:-118px -92px;
}
ul.links li i.tags {
	background-position:-183px -94px;
}
ul.links li i.comments {
	background-position:-87px -90px;
}
ul.links li i.views {
	background-position:-258px -93px;
}
ul.links li i.likes {
	background-position:-223px -93px;
}
.sed-in h4{
	font-size: 1.5em;
	color: #f5c506;
	font-weight: 600;
}
.sed-in p,p.at-in{
	color: #9A9898;
	font-size: 1.2em;
	line-height: 1.5em;
	padding-top:3px;
}
.blog-top-in {
	padding-top: 3em;
}
/*----*/
.footer{
	background: #4c4c4c;
	padding: 1em 0;
	box-shadow: 0px 4px 7px 7px #000;
}
.footer p{
	font-size: 1.3em;
	color:#fff;	
}
p.footer-grid{
	float: right;
	padding: 1.3em 0;
}
.footer a{
	color:#f5c506;
	text-decoration:none;
}
.footer a:hover{
	color:#fff;
}
.footer-left{
	float:left;
}
/*--responsive media-quries--*/
@media(max-width:1440px){
}
@media(max-width:1366px){
}
@media(max-width:1280px){
}
@media(max-width:1024px){
.number-in h6 {
	font-size: 1.3em;
}
span.number {
	font-size: 2em;
	margin-right:0;
}
h2.cool {
	font-size: 3.8em;
}
.number-in {
	width: 86%;
}
.parrot {
	padding: 0 0 0 1em;
}
.sed-in p {
	height: 203px;
	overflow: hidden;
}
}
@media(max-width:768px){
.parrot {
	padding: 0 0 0 2em;
}
.wmuSliderPrev, .wmuSliderNext {
	bottom: 10em;
}
.header{
	min-height:514px;
}
.banner-wrap iframe {
	min-height: 300px;
}
h2.cool {
	font-size: 2.8em;
	padding:3em 22px;
}
.banner {
	padding: 3em 0;
}
.design,.design:nth-child(1){
	border:none;
}
.sed-ut h3 {
	font-size: 2.8em;
}
.design-in {
	padding: 0 3em;
}
.about-in h6 {
	width: 90%;
}
.about-in p {
	width: 80%;
}
.mike-grid {
	margin: 0 auto;
}
.number-in {
	width: 90%;
}
.number-top {
	width: 58%;
	margin: 0 auto;
}
.contact-grid,p.message-para,.send,.contact-in {
	padding: 0;
}
.contact-left textarea {
	width: 100%;
	margin: 1em 0;
}
.contact-left h5{
	margin-top:0.5em;
}
.top-nav ul{
	padding:0;
}
.top-blog {
	padding: 0;
}
.sed-in{
	padding:1em 0 0;
}
 p.at-in{
	display:none;
}
.top-blog img{
	margin:0 auto;
}
}
@media(max-width:640px){
.design span{
	font-size:2em;
}
.design{
	padding:1em 0;
}
.sed-ut h3{
	font-size:2.4em;
}
.footer {
	text-align: center;
}
.footer-left,p.footer-grid {
	float: none;
}
.about-in h6 {
	font-size: 1.3em;
}
.about-in p {
	font-size: 1.1em;
	width:92%;
}
.number-top {
	width: 72%;
}
h2.cool {
	font-size: 2.3em;
}
.banner-wrap iframe {
	min-height: 240px;
}
.header {
	min-height: 458px;
}
p.footer-grid {
	padding: 0.5em 0;
}
.table-form form input[type="text"] {
	width: 45%;
}
}
@media(max-width:480px){
.parrot {
	padding: 0 3em;
	width:100%;
}
h2.cool {
	padding: 1em 22px;
	width:100%;
}
.sed-ut h3 {
	font-size: 2em;
}
.design-in ul li a {
	font-size: 1.3em;
}
.about h3 ,.services h3,.contact h3,.single h3,.leave-comment h3{
	font-size: 2em;
}
.sed-in h4 {
	font-size: 1.2em;
}
.about-in h6 {
	height: 67px;
	overflow: hidden;
}
.about-in p {
	height: 114px;
	overflow: hidden;
}
.about {
	min-height: 515px;
}
.design-free span {
	width: 100px;
	height: 100px;
	font-size: 1em;
	padding: 3em 0;
}
.number-top {
	width: 100%;
}
.sed-ut{
	padding:3em 0;
}
.contact {
	padding: 1em 0 3em;
}
.contact-left h5, .contact-inline h5 {
	font-size: 1.5em;
}
.contact-left input[type="submit"] {
	width: 25%;
	font-size: 1.2em;
}
.services{
	padding:2em 0;
}
.about {
	min-height: 473px;
	padding: 2em 0 1em;
}
.header {
	min-height: 546px;
}
.banner,.single {
	padding: 2em 0;
}
.footer p {
	font-size: 1em;
}
.blog-top-in {
	padding-top: 1em;
}
.table-form textarea {
	width: 80%;
}
.table-form form input[type="text"] {
	width: 60%;
}
}
@media(max-width:320px){
.logo {
	margin-top:1em;
	width: 77%;
}
.logo img{
	width: 100%;
}
.top-nav span.menu {
	padding: 0em 0em 0;
}
.top-nav {
	margin-top: 1.8em;
}
.header {
	min-height: 333px;
}
.parrot {
	padding: 0 2em;
}
h2.cool {
	padding: 0.5em 22px;
	font-size:1.8em;
}
.banner {
	padding: 1em 0;
}
.banner-wrap iframe {
	min-height: 125px;
}
.header {
	min-height: 333px;
}
.wmuSliderPrev, .wmuSliderNext {
	bottom: 4em;
}
.design span {
	font-size: 1.5em;
}
.free {
	padding: 0 0 1em;
}
.design {
	padding: 0em 0 0em;
}
.men {
	min-height: 358px;
	padding: 2em 0 1em;
}
.sed-ut h3 {
	font-size: 1.2em;
}
.design-free span {
	width: 65px;
	height: 65px;
	font-size: 0.6em;
	padding: 3em 0;
}
.design-in ul li a {
	font-size: 1em;
	vertical-align: top;
}
.design-in {
	padding: 0 0em 0 2em;
}
.sed-ut {
	min-height: 384px;
	padding: 2em 0 ;
}
.footer p{
	font-size:0.9em;
}
.about h3, .services h3, .contact h3,.single h3,.leave-comment h3 {
	font-size: 1.8em;
}
.about-in h6 {
	font-size: 1.2em;
	height:60px;
}
.about-in p {
	font-size: 1em;
	height:110px;
}
.about {
	min-height: 371px;
	padding: 1.5em 0 0em;
}
.about-in {
	padding: 1em 0 2em;
}
.header-in {
	min-height: 81px;
}
.grid_box a:hover .zoom-icon {
	top: 0%;
}
.services {
	padding: 1.5em 0;
}
.service-in {
	padding: 1em 0 0;
}
span.number {
	font-size: 1.5em;
}
.number-in {
	width: 80%;
	padding: 0.4em 0 1em;
}
.number-in h6 {
	font-size: 1em;
}
.number-in p {
	font-size: 0.9em;
}
.contact-left h5, .contact-inline h5 {
	font-size: 1.2em;
}
.contact-left input[type="submit"] {
	width: 32%;
	font-size: 1.1em;
}
.contact {
	padding: 1em 0 2em;
}
.map iframe {
	height: 160px;
}
.sed-in h4 {
	font-size: 1.1em;
}
.sed-in p {
	height: 111px;
	font-size:1em;
}
ul.links {
	margin: 1em 0 0px 0;
}
ul.links li{
	margin-right: 3px;
}
.table-form textarea {
	width: 90%;
	height:110px;
}
.table-form form input[type="text"] {
	width: 70%;
}
ul.links_middle,ul.links_bottom{
	margin:0;
}
.single {
	padding: 1.5em 0;
}
}

