.ch-item {
	width: 100%;
	height: 100%;
	position: relative;
	box-shadow: inset 0 0 0 0 rgba(118, 184, 82, 0.52), inset 0 0 0 16px rgba(118, 184, 82, 0.4), 0 1px 2px rgba(118, 184, 82, 0.38);
		
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	border-radius:50%;
}

.ch-img-1 { 
	background-image: url(../images/t1.jpg);
}

.ch-img-2 { 
	background-image: url(../images/t2.jpg);
}

.ch-img-3 { 
	background-image: url(../images/t3.jpg);
}
.ch-img-4 { 
	background-image: url(../images/t4.jpg);
}
.ch-info {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	-webkit-backface-visibility: hidden; /*for a smooth font */

}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 30px;
	padding: 65px 0 0 0;
	height: 110px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}

.ch-item:hover {
	  box-shadow: inset 0 0 0 110px rgba(118, 184, 82, 0.49), inset 0 0 0 16px rgba(255, 255, 255, 0.62), 0 1px 2px rgba(0, 0, 0, 0.2);
}

.ch-item:hover .ch-info {
	opacity: 1;
	
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);	
}
@media(max-width:1024px){
.ch-grid li {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 10px;
}
}
@media(max-width:768px){
.ch-grid li {
  width: 220px;
  height: 220px;
}
}