/*--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
---*/
html, body{
	font-family: 'Raleway', sans-serif;
	font-size: 100%;
	background:#fff; 
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
}
h1,h2,h3,h4,h5,h6,p,span{
	margin: 0;
	padding: 0;
}
/*--header--*/
.header{
	background: url(../images/header-banner.jpg) no-repeat 0px 0px;
	min-height: 865px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	text-align: center;
}
.logo {
	display: block;
	margin-top: 7em;
}
.social-icons li {
	display: inline-block;
}
.social-icons {
	margin-top: 3em;
}
.social-icons i {
	width: 20px;
	height: 40px;
	background: url("../images/img-sprites.png") no-repeat 0px 0px;
	display: inline-block;
		
}
.social-icons i.facebook {
	background-position: -3px 7px;
}
.social-icons i.twitter {
	background-position: -30px 7px;
}
.social-icons i.googlepluse {
	background-position: -59px 8px;
}
.social-icons i.pre {
	background-position: -87px 7px;
}
.social-icons i.dribble {
	background-position: -113px 8px;
}
.social-icons i.be {
	background-position: -143px 7px;
}
.header h1 {
	color: #fff;
	font-weight: 100;
	margin: 2em 0 2em;
	font-size: 3em;
}
.header h1 span {
	font-weight: 600;
}
.social-icons a {
	border: 3px solid rgba(48, 155, 151, 0);
	border-radius: 100%;
	width: 50px;
	height: 50px;
	display: block;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
}
.social-icons a:hover {
	border: 3px solid#fff;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	display: block;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition: 0.5s all;
}
span.countDays {
	border: 3px solid#fff;
	color: #fff;
	border-radius: 100%;
	padding: 38px;
	margin-right: 0px;
}
span.countHours {
	border: 3px solid#fff;
	border-radius: 50%;
	color: #fff;
	padding: 38px;
	margin-right: 0px;
}
span.countMinutes{
	border: 3px solid#fff;
	border-radius: 50%;
	color: #fff;
	padding: 38px;
	margin-right: 0px;
}
span.countSeconds{
	border: 3px solid#fff;
	border-radius: 50%;
	color: #fff;
	padding: 38px;
}

/*--/header--*/
span.timer {
	position: absolute;
	top: 84px;
	left: 72px;
	font-size: 16px;
	color: #fff;
}
span.timer-1 {
	position: absolute;
	top: 85px;
	left: 229px;
	font-size: 16px;
	color: #fff;
}
span.timer-2 {
	position: absolute;
	top: 87px;
	left: 392px;
	font-size: 16px;
	color: #fff;
}
span.timer-3 {
	position: absolute;
	top: 86px;
	left: 561px;
	font-size: 16px;
	color: #fff;
}
/*--*/
.work-bottom {
	margin-top: 3em;
}
#flexiselDemo1 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	width:90%;
	margin: 0 auto;
}
.nbs-flexisel-item {
	float: left;
	margin: 0px 2em;
	padding: 0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
}
/*---- Navigation ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
	width:40px;
	height:60px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
}
.nbs-flexisel-nav-left {
	left: 0px;
	background: url(../images/imgimg-sprite-1.png) no-repeat 13px 11px;
}
.nbs-flexisel-nav-right {
	right: 7px;
	background: url(../images/imgimg-sprite-1.png) no-repeat -35px 11px;
}
/*----*/
/*--about--*/
.about-info {
	margin-top: 8em;
}
.about-info-grid img {
	cursor: pointer;
}
.about-info-grid h3 {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 13px;
}
.about-info-grid p {
	margin: 15px 0;
	font-size: 13px;
	line-height: 1.8em;
}
.about-info-grid a {
	background: #262626;
	color: #fff;
	padding: 7px 11px 10px;
}
.about-info-grid a:hover{
	background: #51AA92;
	color:#fff;
	text-decoration: none;
}
/*--/about--*/
/*--services--*/
.services {
	background: #51AA92;
	min-height: 235px;
	margin-top: 6em;
}
.services-info {
	margin-top: 4em;
	color: #fff;
}
.services-info-left h3 {
	font-weight: bold;
	font-size: 1.8em;
}
.services-info-right p {
	width: 90%;
	margin: 0 auto;
	line-height: 1.8em;
	color: #D3E3DF;
}
.services-info-right-top {
	position: relative;
}
.services-info-right-bottom {
	position: absolute;
	width: 100%;
	top: 60px;
	left: 37px;
}
.services-info-right input.text {
	outline: none;
	border: none;
	padding: 26px 18px;
	width: 80%;
	color: #000;
	box-shadow: 0px 0px 13px 0px#7F7E7E;
  -moz-box-shadow:    0px 0px 13px 0px#7F7E7E;
  -webkit-box-shadow: 0px 0px 13px 0px#7F7E7E;
}
.services-info-right input[type="submit"] {
	background: #51AA92;
	position: absolute;
	top: 18px;
	left: 458px;
	outline: none;
	border: none;
	padding: 7px;
	border-bottom: 3px solid#309B97;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}
.services-info-right input[type="submit"]:hover {
	background: #309B97;
	border-bottom: 3px solid#51AA92;
}
.services-bottom-left {
	color: #999;
}
.services-bottom-right {
	color: #999;
}
ul.services-bottom-right {
	list-style: none;
	margin: 0;
	padding: 0;
}
li.services-top {
	float: left;
}
li.services-top-bottom {
	float: right;
	width: 82%;
}
li.services-top-bottom h5 {
	font-weight: 600;
	font-size: 1.3em;
	padding-bottom: 15px;
}
li.services-top-bottom p {
	line-height: 1.8em;
	width: 100%;
	font-size: 1em;
}
.col-md-6.services-top-left {
	margin-top: 25px;
}
.services-bottom-right img {
	float: left;
	cursor: pointer;
}
.services-bottom {
	background: url(../images/flash-banner.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	padding: 7em 0 5em;
}
.services-bottom-left h4 {
	font-weight: 600;
	font-size: 2em;
	padding-bottom: 15px;
}
.services-bottom-right-info {
	margin-top: 14px;
}
.services-bottom-left p {
	line-height: 1.8em;
	font-size: 1em;
}
.services-bottom-right-info h5 {
	font-weight: 600;
	font-size: 1.4em;
	padding-bottom: 13px;
}
.services-bottom-right-info p {
	line-height: 1.8em;
	font-size: 1em;
}
/*--/services--*/
/*--contact-us--*/
.contact-top {
	background: #51AA92;
	min-height: 295px;
	color: #fff;
	text-align: center;
}
.contact-top-info img {
	padding-top: 48px;
	cursor: pointer;
}
.contact-top-info img:hover {
	opacity: 0.4;
}
.contact-top-info p {
	text-align: center;
	padding-top: 25px;
	width: 74%;
	margin: 0 auto;
	font-size: 1.2em;
	line-height: 1.8em;
	font-weight: 400;
}
.contact-us{
	background: url(../images/footer-banner.jpg) no-repeat 0px 0px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height: 579px;
	color: #fff;
}
.contact-us-info {
	margin-top: 6em;
}
.contact-us-info h3 {
	font-weight: 600;
	margin-bottom: 90px;
	font-size: 2em;
}
.contact-us-info-left {
	padding-left: 0;
	padding-right: 0;
}
.contact-us-info-middle {
	padding-left: 0;
	padding-right: 0;
}
.contact-us-info-right {
	padding-left: 0;
	padding-right: 0;
}
.contact-us-info img {
	padding-bottom: 17px;
	cursor: pointer;
}
.contact-us-info img:hover {
	opacity: 0.4;
}
.contact-us-info-left h4 {
	margin-bottom: 17px;
	font-size: 1.4em;
	font-weight: 600;
}
.contact-us-info-middle  h4 {
	margin-bottom: 17px;
	font-size: 1.4em;
	font-weight: 600;
}
.contact-us-info-right h4 {
	margin-bottom: 17px;
	font-size: 1.4em;
	font-weight: 600;
}
.contact-us-info-left p {
	font-weight: 300;
	width: 90%;
	line-height: 1.8em;
	font-size: 16px;
}
.contact-us-info-middle p {
	font-weight: 300;
	width: 90%;
	line-height: 1.8em;
	font-size: 16px;
}
.contact-us-info-right input.text {
	background: #fff;
	outline: none;
	border: none;
	padding: 10px 10px;
	color: #999;
	margin-bottom: 17px;
	margin-right: 20px;
	width: 46%;
	font-size: 14px;
}
.contact-us-info-right textarea {
	resize: none;
	height: 40px;
	width: 96%;
	color: #999;
	padding: 10px 10px;
	outline: none;
	border: none;
	font-size: 14px;
}
.contact-us-info-right input[type="submit"] {
	background: #2E2E2E;
	outline: none;
	border: none;
	padding: 10px 19px 10px;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-o-transition: 0.2s;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	margin-top: 8px;
}
.contact-us-info-right input[type="submit"]:hover {
	background: #51AA92;
	color:#fff;
}
.footer {
	padding: 1em 0 1em;
}
.copy-rights p {
	color: #999;
}
.copy-rights p a:hover {
	color: #309B97;
}
/*--/contact-us--*/
/*--responsive design--*/
@media (max-width: 1024px){
	.logo {
			margin-top: 4em;
	}
	.header {
		min-height: 710px;
	}
	.social-icons {
		margin-top: 2em;
	}
	.header h1 {
		margin: 1em 0 1.2em;
	}
	.services-info-right input.text {
		top: -6px;
		left: 59px;
	}
	.services-info-right input[type="submit"] {
		top: 18px;
		left: 354px;
	}
	li.services-top-bottom {
		width: 77%;
	}
	.services-bottom-right-info h5 {
		font-size: 1.2em;
		padding-bottom: 4px;
	}
	.services-bottom-right-info {
		margin-top: 3px;
	}
	.contact-top-info p {
		width: 84%;
	}
	.contact-us-info-right input.text {
		width: 45%;
	}
	.contact-us-info {
		margin-top: 3em;
	}
	.contact-us-info h3 {
		margin-bottom: 50px;
	}
	.contact-us-info-left p {
		width: 94%;
		font-size: 14px;
	}
	.contact-us-info-middle p {
		width: 100%;
		font-size: 14px;
	}
	.contact-us {
		min-height: 415px;
	}
	.services-bottom-right {
		margin-top: 24px;
	}
	.services-bottom {
		padding: 3em 0 3em;
	}
	.services-info-right-bottom {
		top: 20px;
		left: 37px;
	}
}
@media (max-width: 768px){
	.logo {
		margin-top: 2em;
	}
	.social-icons {
		margin: 1em 0 1em;
	}
	.header h1 {
		margin: 0.5em 0 1em;
	}
	.header {
		min-height: 640px;
	}
	.nbs-flexisel-nav-left {
		background: url(../images/imgimg-sprite-1.png) no-repeat 2px 11px;
	}
	.nbs-flexisel-nav-right {
		background: url(../images/imgimg-sprite-1.png) no-repeat -28px 11px;
	}
	.about {
		text-align: center;
	}
	.about-info {
		margin-top: 4em;
	}
	.about-info-grid {
		padding-bottom: 3em;
	}
	.about-info-grid p {
		font-size: 16px;
		font-weight: 400;
	}
	.services {
		margin-top: 0em;
		text-align: center;
		min-height: 225px;
	}
	.services-info {
		margin-top: 2em;
	}
	.services-info-left h3 {
		margin-bottom: 1em;
	}
	.services-info-right p {
		padding-bottom: 1.5em;
	}
	.services-info-right-bottom {
		top: -6px;
		left: 9px;
	}
	.services-info-right input[type="submit"] {
			top: 19px;
			left: 467px;
	}
	.services-bottom-left {
		margin: 2em 0 3em;
	}
	.contact-top-info p {
		width: 100%;
		font-size: 1em;
	}
	.contact-top {
		min-height: 270px;
	}
	.contact-us {
		min-height: 723px;
		text-align: center;
	}
	.contact-us-info h3 {
		margin-bottom: 40px;
	}
	.contact-us-info-right input.text {
		width: 48.8%;
		margin-right: 3px;
	}
	.contact-us-info-right textarea {
		width: 99%;
	}
	.contact-us-info-left {
		margin-bottom: 15px;
	}
	.contact-us-info-middle {
		margin-bottom: 15px;
	}
	.contact-us-info-right {
		margin-bottom: 15px;
	}
	.footer {
		text-align: center;
	}
	.nbs-flexisel-item {
		margin: 0px 0em;
	}
@media (max-width: 640px){
	span.timer {
		left: 68px;
	}
	span.timer-1 {
		left: 187px;
	}
	span.timer-2 {
		left: 330px;
	}
	span.timer-3 {
		left: 470px;
	}
	.services-info-right input[type="submit"] {
		top: 19px;
		left: 384px;
	}
	.services-info-right input.text {
		top: -21px;
		left: 61px;
		width: 80%;
	}
	.logo {
		margin-top: 1em;
	}
	.social-icons {
		margin: 0.5em 0 0.5em;
	}
	.header h1 {
		margin: 0.5em 0 0.5em;
	}
	.header {
		min-height: 535px;
	}
	span.countDays {
		padding: 25px;
	}
	span.countHours {
		padding: 25px;
	}
	span.countMinutes {
		padding: 25px;
	}
	span.countSeconds {
		padding: 25px;
	}
	.services {
		min-height: 256px;
	}
	.services-info-right-bottom {
		top: -4px;
		left: 0px;
	}
	.nbs-flexisel-item {
		margin: 0px 0em;
	}
}
@media (max-width: 480px){
	.logo img {
		width: 30%;
	}
	.header h1 {
		font-size: 2.5em;
		margin: 0.5em 0 0.5em;
	}
	span.timer {
		font-size: 12px;
		font-weight: 600;
		left: 59px;
		top: 72px;
	}
	span.timer-1 {
		font-size: 12px;
		font-weight: 600;
		left: 149px;
		top: 71px;
	}
	span.timer-2 {
		font-size: 12px;
		font-weight: 600;
		left: 242px;
		top: 70px;
	}
	span.timer-3 {
		font-size: 12px;
		font-weight: 600;
		left: 338px;
		top: 70px;
	}
	span.countDays {
		padding: 9px 16px 9px 16px;
	}
	span.countHours {
		padding: 9px 16px 9px 16px;
	}
	span.countMinutes {
		padding: 9px 16px 9px 16px;
	}
	span.countSeconds {
		padding: 9px 16px 9px 16px;
	}
	.services-info-right input[type="submit"] {
		left: 278px;
	}
	.header {
		min-height: 460px;
	}
	.services-info-right p {
		width: 100%;
		line-height: 1.5em;
		padding-bottom: 51px;
		font-size: 14px;
	}
	
	.services-info {
		margin-top: 1.5em;
	}
	.services-info-right input.text {
		top: -21px;
		left: 0px;
		width: 100%;
	}
	.contact-top-info img {
		padding-top: 29px;
	}
	li.services-top-bottom {
		width: 75%;
	}
	li.services-top-bottom p {
		font-size: 15px;
	}
	.services-bottom-left p {
		font-size: 15px;
	}
	.nbs-flexisel-item {
		margin: 0px 0em;
	}
	.work-bottom {
		margin-top: 1em;
	}
}
@media (max-width: 320px){
	.social-icons a {
		width: 38px;
		height: 38px;
	}
	.social-icons a:hover {
		width: 38px;
		height: 38px;
	}
	.social-icons i.facebook {
		background-position: -3px 2px;
	}
	.social-icons i.twitter {
		background-position: -30px 2px;
	}
	.social-icons i.googlepluse {
		background-position: -59px 2px;
	}
	.social-icons i.pre {
		background-position: -87px 1px;
	}
	.social-icons i.dribble {
		background-position: -113px 2px;
	}
	.social-icons i.be {
		background-position: -143px 0px;
	}
	.header h1 {
		font-size: 1.7em;
		margin: 0.5em 0 0.5em;
	}
	span.countDays {
		padding: 1px 15px 1px 12px;
		margin-right: 4px;
	}
	span.countHours {
		padding: 1px 15px 1px 12px;
		margin-right: 4px;
	}
	span.countMinutes {
		padding: 1px 15px 1px 12px;
		margin-right: 4px;
	}
	span.countSeconds {
		padding: 1px 15px 1px 12px;
		margin-right: 4px;
	}
	span.timer {
		left: 25px;
		top: 71px;
		font-size: 10px;
	}
	span.timer-1 {
		font-size: 10px;
		font-weight: 600;
		left: 84px;
		top: 70px;
	}
	span.timer-2 {
		font-size: 10px;
		font-weight: 600;
		left: 146px;
		top: 68px;
	}
	span.timer-3 {
		left: 213px;
		top: 67px;
		font-size: 10px;
	}
	.header {
		min-height: 300px;
	}
	.about-info-grid {
		padding-left: 0;
		padding-right: 0;
	}
	.about-info-grid {
		padding-bottom: 1.5em;
	}
	.services-info-right input[type="submit"] {
		padding: 5px;
		font-size: 13px;
	left: 175px;
	top: 12px;
	}
	.services-info-right input.text {
		font-size: 13px;
	}
	.services-info-right {
		padding-right: 0;
		padding-left: 0;
	}
	.about-info {
		margin-top: 1em;
	}
	.services-bottom {
		text-align: center;
	}
	.services-bottom-left {
		padding-right: 0;
		padding-left: 0;
	}
	.services-bottom-left p {
		font-size: 14px;
	}
	.services-bottom-right img {
		float: none;
		cursor: pointer;
	}
	.services-bottom-right {
		padding-left: 0;
		padding-right: 0;
	}
	.services-bottom {
		padding: 1em 0 1em;
	}
	.services-bottom-left {
		margin: 4em 0 0em;
	}
	.contact-top-info p {
		font-size: 14px;
	}
	.contact-us-info-right input.text {
		width: 48%;
		margin-right: 3px;
	}
	.contact-us-info-right {
		margin: 15px 0 15px;
	}
	.nbs-flexisel-item > img {
		width: 30%;
	}
	.nbs-flexisel-nav-left {
		background: url(../images/imgimg-sprite-1.png) no-repeat -1px 30px;
	}
	.nbs-flexisel-nav-right {
		background: url(../images/imgimg-sprite-1.png) no-repeat -29px 28px;
	}
	.services-info-right-bottom {
		top: -36px;
		left: 0px;
	}
	.services-info-right input.text {
		padding: 18px 14px;
	}
	li.services-top img {
		margin-left: 78px;
		margin-bottom: 30px;
	}
	li.services-top-bottom {
		width: 100%;
	}
	.logo {
		margin-top: 1em;
	}
	.nbs-flexisel-item {
		margin: 0px 0em;
	}
	.social-icons {
		margin: 0;
	}
	.header h1 {
		font-size: 1.7em;
		margin: 0;
	}
	.about-info-grid p {
		font-size: 14px;
	}
	.work-bottom {
		margin-top: 1.5em;
	}
}
/*--/responsive design--*/