@font-face {
    font-family: 'Michroma';
    src:url(../fonts/Michroma.ttf) format('truetype');
}
@font-face {
	font-family: 'Asap-Regular';
    src:url(../fonts/Asap-Regular.ttf) format('truetype');
}
body{
	font-family: 'Asap-Regular';
	background:#fff;
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
 ul{
	padding: 0;
	margin: 0;
	
}
h1,h2,h3,h4,h5,h6,p,label{
	margin:0;
}
.header-top {
	padding: 1.5em 0;
	border-bottom: 1px solid #cecece;
}
.logo{
	float: left;
}
.top-nav ul li{
	display: inline-block;
	float: left;	
	padding: 15px 0;
	border-top: 1px solid #fff;	
}
.top-nav ul li a{
	font-size: 0.9em;
	text-decoration: none;
	color: #A9A9A9;
	padding:0 22px;
	display:block;
	border-right: 1px solid #cecece;
	font-family: 'Michroma';
	
}
.top-nav ul li a:hover,.top-nav ul li.active a{
	color: #FD4641;
}
.top-nav ul li:hover,.top-nav ul li.active {
	border-top: 1px solid #FD4641;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.top-nav span.menu{
	display: none;
}

/*----*/
.search {
	  margin-top: 4px;
	border:1px solid #cecece;
	position: relative;
	background: #fff;
	padding: 5px 0px;
	float: right;
}
.search input[type="text"] {
	outline: none;
	padding:0 10px;
	background:#fff;
	width: 88%;
	border: none;
	font-size: 0.9em;
	color: #A9A9A9;
	font-family: 'Michroma';
}
.search input[type="submit"] {	
	width: 20px;
	height: 20px;	
	background:url(../images/img-sprite.png)no-repeat -2px -4px;
	border: none;
	cursor: pointer;
	position: absolute;
	outline: none;
	padding:0;
}
/*--banner--*/
.banner-top{
	padding: 0;
	position:relative;
}
.top-banner,.top-banner1,.top-banner2 {
	position: absolute;
	top:0;
	left:0;
	width:86%;
	padding: 1.8em;
  	background: #37b48e;
}
.top-banner h3,.top-banner1 h3,.top-banner2 h3{
	color:#fff;
  	font-size: 2em;
}
.top-banner h3 span,.top-banner1 h3 span,.top-banner2 h3 span{
  	font-size: 39px;
  	display: block;
}
.top-banner1{
	bottom: 0;
	top:auto;
	background: #1da8b1;
}
.top-banner2{
	background: #fd4641;
}
/*--banner--*/
/*--welcome--*/
.welcome{
	 padding: 3em 0;
}
.welcome h1{
	font-size: 3em;
	color:#000;
	  font-family: 'Michroma';
	  text-align: center;
}
.welcome p{
	font-size: 1.2em;
	color:#A5A5A5;
	line-height: 1.5em;
  width: 80%;
  margin: 0.8em auto 1.5em;
  text-align: center;
}
.welcome-top ul li{
 	list-style: none;	
}
.welcome-top ul li a{
 	text-decoration: none;
 	color:#FD4641;
 	font-size:1.3em;
 	margin: 0.5em 0;
 	display: block;
}
.welcome-top ul li a:hover{
 	
 	color:#37b48e;
}
.welcome-top ul li i{
	vertical-align: middle;
	margin-right: 5px;
	background: url(../images/img-sprite.png) -30px -5px ;
	width:16px;
	height: 16px;
	display: inline-block;
}
/*--//welcome--*/
 /*--products--*/
.products-top{
	text-align: center;
	padding: 0em 0 2em;
}
.products-top h2{
	font-size: 3em;
	color:#000;
	  font-family: 'Michroma';
}
.products-top p{
	font-size: 1.1em;
	color:#A5A5A5;
	line-height: 1.5em;
 margin: 0.5em 0 0;
}
.bottom-products{
	text-align: center;
}
.bottom-products img {
  border-radius: 200px;
  border: 10px solid #fff;
  margin: 0 auto;
  box-shadow: 0px 0 6px #D3D2D2;
}
.bottom-products p{
	font-size: 1.5em;
	color:#000;
	margin: 0.3em 0 0;
}

/*--//products--*/
/*--news--*/
.six {
  padding: 2em 0;
}
.content-mid {
  padding: 4em 0;
}
.content-mid h3{
	font-size: 3em;
  	color: #000;
  	font-family: 'Michroma';
}
.six h4{
	float:left;
	color:#FD4641;
	font-size: 3em;
  text-transform: uppercase;
   position:relative;
  text-align: center;
  
}
.six h4:after{
    content: '';
  background: #FD4641;
  display: block;
  width: 89px;
  height: 2px;
  position: absolute;
  left: 89%;
  transform: rotate(118deg);
  top: 53%;
}
.six h4 span{
	display:block;
	  font-size: 20px;
}
.six h6{
	float:right;	
	font-size:1.5em;
	  margin-top: 7%;
  width: 77%;
}

.six h6 a{
	text-decoration:none;
	color:#FD4641;
}
.six h6 a:hover{
	color:#37b48e;
}
.new-more p {
  font-size: 1.1em;
  color: #A5A5A5;
  line-height: 1.5em;
  margin: 0 0 2em;
}
/* Bounce To Top */
.hvr-bounce-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  font-size: 1.1em;
  color: #fff;
  background-color: #FD4641;
  padding: 0.5em 1em;
}
.hvr-bounce-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #37B48E;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-top:hover, .hvr-bounce-to-top:focus, .hvr-bounce-to-top:active {
  color: white;
  text-decoration: none;
}
.hvr-bounce-to-top:hover:before, .hvr-bounce-to-top:focus:before, .hvr-bounce-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
/*--//news--*/
/*--footer--*/
/*--newsletter--*/
.newsletter{
	text-align: center;
	padding: 3em 0 3em;
	  border-top: 1px solid #D7D6D6;
}
.newsletter h3{
	font-size: 3em;
	color:#000;
	  font-family: 'Michroma';
}
.newsletter p{
	font-size: 1.1em;
	color:#A5A5A5;
	line-height: 1.5em;
 margin: 0.8em 0 0;
}
.newsletter form{
	width:50%;
	margin: 2em auto 0;
}
.newsletter input[type="text"], .newsletter input[type="submit"] {
  width: 60%;
  padding: 0.7em;
  outline: none;
  color: #B4B2B2;
  font-size: 1em;
  background: none;
  border: 1px solid #FD4641;
 }
.newsletter input[type="submit"] {
  width: 26%;
  color: #FFF;
  font-size: 1em;
  background:#FD4641 ;
  border: 1px solid #FD4641;
  outline:none;
  padding: 0.7em;
}
.newsletter input[type="submit"]:hover {
  background:#37b48e ;
  border: 1px solid #37b48e;
}
/*--//newsletter--*/

.footer-top-top {
  padding: 2em 0;
}
ul.social li{
	display: inline-block;	
}
ul.social li  i{
	background: url(../images/img-sprite.png)no-repeat -4px -36px ;
  width: 48px;
  height: 48px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 0;
}
ul.social li  i.twitter{
	background-position:  -64px -36px;
}
ul.social li i.google{
	background-position: -122px -35px;
}
ul.social li  i:hover{
	background-position:  -4px -93px;
}
ul.social li  i.twitter:hover{
	background-position:  -64px -94px;
}
ul.social li i.google:hover{
	background-position: -122px -92px;
}
.footer-top p{
	font-size: 1.2em;
	color:#A5A5A5;
	text-align: center;
}
p.footer-class {
	font-size: 1em;
}
 p.footer-class  a{
	text-decoration:none;
	color:#A5A5A5;
}
 p.footer-class a:hover{
	color:#FD4641;
}
/*--//fotter--*/
/*--products--*/
.about-top{
	text-align: center;
	padding: 0em 0 3em;
}
.about-top h1{
	font-size: 3em;
	color:#000;
	  font-family: 'Michroma';
}
.about-top p{
	font-size: 1.1em;
	color:#A5A5A5;
	line-height: 1.5em;
 	margin: 0.5em 0 0;
}
.mid-about p{
	font-size: 1.1em;
	color:#A5A5A5;
	line-height: 1.6em;
}
.our {
  padding: 1.6em 0 0;
}
.bottom-about h2,.use-bottom h3 {
  font-size: 2em;
  font-family:'Michroma'f;
  color: #000;
    padding: 0 15px;
}
.bottom-about h2{
	padding:0;
}
.bottom-about h4,.use-bottom h4{
  line-height: 1.5em;
  font-size: 1.4em;
  margin: 1em 0 0em 0; 
  color:#37B48E;
}
.bottom-about ul li{
	list-style: none;
}
.bottom-about ul li a{
	text-decoration: none;
	color:#A5A5A5;
	font-size:1em;
	margin: 0.5em 0;
	display: block;
}
.use-bottom p{
	  color: #B4B2B2;
  line-height: 1.5em;
  font-size: 1em;
  margin: 1em 0 ; 
}
.about-bottom {
  padding: 4em 0 0;
}
.about{
	padding: 3em 0 0;
}
.bottom-about ul li i{
	vertical-align: middle;
	margin-right: 5px;
	background: url(../images/img-sprite.png) -30px -5px ;
	width:16px;
	height: 16px;
	display: inline-block;
}
.bottom-about ul {
  margin-bottom: 1em;
}
.bottom-about ul li a:hover{
	color:#37B48E;
}
/*--//about--*/
/*--contact--*/
.contact {
  padding: 3em 0 ;
}
.contact-top{
	text-align: center;
}
.contact-top h1{
	font-size: 3em;
	  font-family: 'Michroma';
	color:#000;
	
}
.contact-top p {
  font-size: 1.1em;
  color: #A5A5A5;
  line-height: 1.5em;
  margin: 0.5em 0 0;
}
.map iframe{
	width: 100%;
	height:150px;
	border:none;
	padding: 0 15px;
}
.contact-grid input[type="text"],.contact-grid textarea{
	width: 100%;
	padding: 1em;
	margin: 0.5em 0;
	background:none;
	outline:none;
	  border: 1px solid #A09F9F;
	  font-size:1em;
	  color:#A09F9F;
	-webkit-appearance: none;
}
.contact-grid textarea{
	resize:none;
}
.send input[type="submit"]{
	width: 14%;
	font-size: 1.1em;
	background:#FD4641;
	padding: 0.4em 0.8em;
	text-align: center;
	color: #fff;
	border: none;
	outline:none;
	-webkit-appearance: none;
}
.send input[type="submit"]:hover{
	background:#37B48E;
}
.contact-form {
	padding: 3em 0;
}
.address-more {
  padding: 0 0 2em;
}
.contact-in p{
	font-size:1.1em;
	color: #A5A5A5;
	line-height: 1.5em;	
}
.address-more h4{
	color:#000;
	font-size:1.7em;
	margin: 0 0 0.3em;

}
.address-more p a{
	text-decoration:none;
	color: #A5A5A5;
}
.address-more p a:hover{
	color: #FD4641;
}
/*--//contact--*/
/*--gallery--*/
.b-link-stripe{
	position:relative;
	display:inline-block;
	vertical-align:top;
	font-weight: 300;
	
	width: 100%;
}
.b-link-stripe .b-wrapper{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	text-align:center;
	color:#ffffff;
	overflow:hidden;
}

.b-animate-go{
	text-decoration:none;
}
.b-animate{
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	visibility: hidden;
	font-size:1.1em;
	font-weight:700;
}
.b-animate img{
	margin-top: 4%;
	display: -webkit-inline-box;
}
.b-animate span{
	display:block;
	font-size: 2em;
	text-transform: uppercase;
	padding-top: 3.5em;
	display: block;
	font-weight: 500;
}

/* lt-ie9 */
.b-animate-go:hover .b-animate{
	visibility:visible;
}
.b-from-left{
	position: relative;
	left: -100%;
	background: rgba(253, 70, 65, 0.75);
  background-size: 100% 100%;
  top: 0px;
  margin: 0;
  min-height: 255px;
  border-radius: 200px;
}
.bottom-gallery:hover .b-from-left{
	left:0;
}
.gallery-top{
	text-align: center;
	padding: 0em 0 2em;
}
.gallery-top h1{
	font-size: 3em;
	color:#000;
	  font-family: 'Michroma';
}
.gallery-top p{
	font-size: 1.1em;
	color:#A5A5A5;
	line-height: 1.5em;
 margin: 0.5em 0 0;
}
.bottom-gallery{
	text-align: center;
	  margin: 1em 0;
}
.bottom-gallery img {
  border-radius: 200px;
  border: 10px solid #fff;
  margin: 0 auto;
  box-shadow: 0px 0 6px #D3D2D2;
}
.gallery {
  padding: 3em 0;
}
/*--//gallery--*/
.page-header h3{
	font-size: 3em;
	color:#000;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: none;
}
.grid1 {
  margin: 1.5em 0 0;
}
ul.nav.nav-pills {
  margin: 1.5em 0 0;
}
.grid2{
	margin: 1em 0 0;
}
.page {
  padding: 0 0 4em;
}
/*--responsive--*/
@media(max-width:1366px){
	
}
@media(max-width:1280px){
	
}
@media(max-width:1024px){
.top-banner h3, .top-banner1 h3, .top-banner2 h3 {
  font-size: 1.6em;
}	
.top-banner h3 span, .top-banner1 h3 span, .top-banner2 h3 span {
  font-size: 30px;
}
.six h6 {
  font-size: 1.4em;
}
.mid-about p {
  font-size: 1em;
  line-height: 1.5em;
}
.b-from-left {
  min-height: 205px;
}
.b-animate span {
  padding-top: 2.8em;
}
}
@media(max-width:768px){
.banner-top {
  float: left;
  width: 33.3%;
}
span.menu{
	display: inline-block;
	text-align: center;
	cursor: pointer;
	position: relative;
}

.top-nav ul{
	display: none;
	position:absolute;
	width: 100%;
	z-index: 9999;
	left: 0%;
	margin:0.3em 0em;
	background:#37B48E;
	border:0;
}
.top-nav span.menu{
	display:inline-block ;
}
.top-nav {
  padding: 0.5em 0;
    text-align: center;
}
.top-nav ul li{
	display: block;
	float:none;
	padding:  0 0;
	text-align: center;
	border: none;
}
.top-nav ul li a{
	color:#fff;
	display:block;
	margin:0;
	background: none;
	border:none;
	padding:0.7em 0;
}
.top-nav ul li.active ,.top-nav ul li:hover{	
	border: none;
}
.top-banner h3, .top-banner1 h3, .top-banner2 h3 {
  font-size: 1.4em;
}
.top-banner h3 span, .top-banner1 h3 span, .top-banner2 h3 span {
  font-size: 23px;
}
.content-mid {
  padding: 3em 0;
}
.welcome p {
  width: 100%;
}
.bottom-products {
  float: left;
  width: 50%;
}
.footer-top {
  float: left;
  width: 33.3%;
}
.mid-about p {
  margin-top: 1em;
}
.about-bottom {
  padding: 3em 0 0;
}
.use-bottom {
  padding: 1em 0 0;
}
.our-at {
  margin-bottom: 1em;
}
.bottom-gallery {
  float: left;
  width: 50%;
}
.b-from-left {
  min-height: 330px;
}
.bottom-gallery img {
  width: 100%;
}
.b-animate span {
  padding-top: 4.8em;
}

/*--page--*/
h1.grid2 {
  font-size: 2.3em;
}
.products p {
  font-size: 1.3em;
  margin: 0.3em 0;
}
}
@media(max-width:640px){
.top-banner, .top-banner1, .top-banner2 {
  padding: 1em;
}
.top-banner h3, .top-banner1 h3, .top-banner2 h3 {
  font-size: 1.1em;
}	
.top-banner h3 span, .top-banner1 h3 span, .top-banner2 h3 span {
  font-size: 20px;
}
.newsletter form {
  width: 58%;
}
.newsletter h3,.content-mid h3 ,.products-top h2,.welcome h1
,.about-top h1,.gallery-top h1,.contact-top h1{
  font-size: 2.5em;
}
.bottom-about h2, .use-bottom h3 {
  font-size: 1.7em;
}
.b-animate span {
  padding-top: 3.8em;
}
.b-from-left {
  min-height: 267px;
}
.b-from-left {
  min-height: 187px;
}
.b-animate span {
  padding-top: 2.5em;
}
/*--page--*/
button.btn.btn-lg {
  font-size: 1.1em;
}
h1.grid2 {
  font-size: 2em;
}
h2.grid2 {
  font-size: 1.9em;
}
}
@media(max-width:480px){
.logo {
  width: 37%;
}	
.logo img{
  width: 100%;
}	
.search {
  width: 44%;
}
.top-banner, .top-banner1, .top-banner2 {
  width:100%;
  padding: 0.7em ;
}
.top-banner h3, .top-banner1 h3, .top-banner2 h3 {
  font-size: 1em;
}
.top-banner h3 span, .top-banner1 h3 span, .top-banner2 h3 span {
  font-size: 18px;
}
.newsletter h3, .content-mid h3, .products-top h2, .welcome h1
,.about-top h1 ,.gallery-top h1,.contact-top h1{
  font-size: 2em;
}
.welcome p {
  font-size: 1em;
}
.about-top p {
  font-size: 1em;
}
.about-bottom {
  padding: 1em 0 0;
}
.bottom-about h2, .use-bottom h3 {
  font-size: 1.5em;
}
.about {
  padding: 2em 0 0;
}
ul.social {
  text-align: center;
}
.content-mid {
  padding: 1em 0;
}
.newsletter form {
  width: 80%;
}
.footer-top {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
}
.six h6 {
  font-size: 1.2em;
}
.six h4:after {
  left: 68%;
}
.welcome-top ul li a {
  font-size: 1.1em;
}
/*--page--*/
.page-header h3 {
  font-size: 2em; 
}
button.btn.btn-lg {
  font-size: 1em;
  padding: 7px;
}
button.btn.btn-1 {
  font-size: 0.9em;
  padding: 8px;
}
button.btn.btn-sm {
  font-size: 0.8em;
  padding: 9px;
}
h1#h1-bootstrap-heading {
  font-size: 2.2em;
}
h2#h2-bootstrap-heading {
  font-size: 2em;
}
h1.grid2 {
  font-size: 1.45em;
}
h2.grid2 {
  font-size: 1.35em;
}
h3.grid2 {
  font-size: 1.3em;
}
h4.grid2 {
  font-size: 1.2em;
}
.welcome {
  padding: 2.5em 0;
}
.newsletter {
  padding: 2em 0 ;
}
.about-top {
  padding: 0em 0 2em;
}
.gallery {
  padding: 2em 0;
}
.contact {
  padding: 2em 0;
}
}
@media(max-width:320px){
.top-banner, .top-banner1, .top-banner2 {
  padding: 0.5em;
}	
.top-banner h3, .top-banner1 h3, .top-banner2 h3 {
  font-size: 0.8em;
}
.top-banner h3 span, .top-banner1 h3 span, .top-banner2 h3 span {
  font-size: 11px;
}
.newsletter h3, .content-mid h3, .products-top h2, .welcome h1, .about-top h1, .gallery-top h1, .contact-top h1 {
  font-size: 1.5em;
}
.welcome p {
  font-size: 0.9em;
}
.col-md-6 {
  padding: 0;
}
.welcome-top ul li a {
  font-size: 1em;
}
.products-top p {
  font-size: 0.9em;
}
.products-top {
  padding: 0em 0 1em;
}
.bottom-products {
  padding: 0 5px;
}
.bottom-products img {
  border: 4px solid #fff;
}
.products p {
  font-size: 1em;
}
.six h4 {
  font-size: 1.8em;
}
.six h4 span {
  font-size: 15px;
}
.six h6 {
  font-size: 1em;
}
.six h4:after {
  left: 63%;
  width: 60px;
}
.new-more p {
  font-size: 0.9em;
  margin: 0 0 1em;
}
.six {
  padding: 1em 0;
}
.hvr-bounce-to-top {
  font-size: 1em;
  padding: 0.3em 1em;
}
.newsletter p {
  font-size: 0.9em;
 }
 .newsletter form {
  width: 100%;
  margin: 1em auto 0;
}
.footer-top-top {
  padding: 1em 0;
}
.footer-top p {
  font-size: 1em;
}
.newsletter input[type="text"], .newsletter input[type="submit"] {
  padding: 0.5em;
  font-size: 0.9em;
}
.newsletter input[type="submit"] {
  width: 32%;
  
}
.welcome {
  padding: 1em 0;
}
.about-top {
  padding: 0em 0 1em;
}
.about-top p {
  font-size: 0.9em;
}
.col-md-5 {
  padding: 0;
}
.mid-about,.bottom-about ,.use-bottom{
  padding: 0;
}
.mid-about p {
  margin-top: 0.9em;
}
.bottom-about h2, .use-bottom h3 {
  font-size: 1.3em;
  padding: 0;
}
.bottom-about h4, .use-bottom h4 {
  font-size: 1.1em;
}
.use-bottom p {
  font-size: 0.9em;
  margin: 0.3em 0 1em;
}
.content-mid h3{
	padding: 0;
}
.gallery {
  padding: 1em 0;
}
.gallery-top p{
	font-size: 0.9em;
}
.bottom-gallery {
  padding: 5px;
}
.bottom-gallery img {
  border: 4px solid #fff;
}
.b-from-left {
  min-height: 127px;
}
.b-animate span {
  padding-top: 2.3em;
  font-size: 1.5em;
}
.bottom-gallery {
  margin: 0em 0;
}
.contact {
  padding: 1em 0;
}
.contact-top p {
  font-size: 0.9em;
}
.address-more {
  padding: 0 0 1em;
}
.contact-in {
  padding: 0;
}
.contact-grid {
  padding: 0;
}
.contact-grid input[type="text"], .contact-grid textarea {
  padding: 0.7em;
}
.send input[type="submit"] {
  width: 23%;
}
.map iframe {
  padding: 0;
}
.contact-form {
  padding: 1em 0;
}
.logo {
  width: 45%;
  margin-top: 3px;
}
.search input[type="text"] {
  font-size: 0.8em;
}
.search input[type="submit"] {
  right: 7px;
}
.search {
  margin-top: 0px;
    padding: 3px 0px;
}
.header-top {
  padding: 1em 0;
}
.top-nav span.menu {
  width: 14%;
}
.top-nav span.menu img{
  width: 100%;
}
.gallery-top {
  padding: 0em 0 1em;
}
/*--pages--*/
h1#h1-bootstrap-heading {
  font-size: 1.6em;
}
h2#h2-bootstrap-heading {
  font-size: 1.5em;
}
h3#h3-bootstrap-heading {
  font-size: 1.4em;
}
button.btn.btn-lg {
  font-size: 0.9em;
  margin: 0 0 0.5em 0px;
  padding: 9px;
}
.grid1 {
  margin: 0.7em 0 0;
}
button.btn.btn-1 {
  font-size: 0.8em;
  margin: 0 0 0.5em;
}
button.btn.btn-sm {
  font-size: 0.7em;
  padding: 5px;
  margin: 0 0 0.5em;
}
button.btn.btn-xs {
  font-size: 0.7em;
}
ul.nav.nav-pills a{
	padding: 0.5em;
  font-size: 0.9em;
}
span.label {
  margin: 0 0 0.5em;
  display: inline-block;
}
.page {
  padding: 0 0 1em;
}
.page-header {
  margin: 16px 0 9px;
}
.grid2 {
  margin: 0.4em 0 0;
}
}