/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.2
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width:100%;
	margin:0 auto;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}
 .carousel-demo{
    	position:relative;
    }
#owl-demo .item{
        color: #FFF;     
}
 #carousel-demo{
  	position:relative;
}
.owl-theme .owl-buttons{
	position: absolute;
	top: -5em;
	right: 0;
}

/* Styling Next and Prev buttons */
.owl-prev,.owl-next {
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	width:32px;
	height:32px;
	background: url("../images/img-sprite.png") no-repeat;
	text-indent:-1000px;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}
.owl-prev{
	background-position:-44px 0px;
}
.owl-next{
	background-position:-76px -0px;
}
/* Styling Pagination*/
.owl-carousel1 .owl-pagination {
	position: absolute;
	right: 47%;
	bottom: -39px;
	display: inline-flex;
}
.owl-carousel1 .owl-theme .owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
}
.owl-carousel1 .owl-controls .owl-page, .owl-controls .owl-buttons div {
	cursor: pointer;
}
 .owl-theme .owl-controls .owl-page span {
	display: block;
	width: 18px;
	height: 18px;
	margin: 5px 6px;
	background: #a8a8a8;
	border-radius: 100px;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
background: #fff;
}
@media(max-width:320px){
.owl-theme .owl-buttons {
	top: -3.6em;
}
}
