/*
Free Html5 Responsive Templates
Author: Kimmy
Author URI: http://h2design.taobao.com/
*/
/* ---------------------Reset----------------------- */
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
input, textarea {border:0; padding:0; margin:0; outline: 0;}
iframe {border:0; margin:0; padding:0;}
input, textarea, select {margin:0; padding:0px;}

/* -------------------------------------------- */
/* ------------------Style---------------------- */
/* -------------------------------------------- */
html, body {width:100%; padding:0; margin:0;}
body {background-color: #2E2E2E;color: #292929;font: 14px/25px Arial, Helvetica, sans-serif;}

/*-------------------------*/
a{color: #006699;text-decoration: none;}
a:hover {text-decoration: none;}

a.button, input.button {	cursor: pointer;	color: #808080;	line-height: 12px;	font-family: Arial, Helvetica, sans-serif;	font-size: 12px;	font-weight: bold;	background: #E4E4E4;	border:1px solid #DFDFDF;}
a.button {	display: inline-block;	text-decoration: none;	padding: 6px 12px 6px 12px;}
input.button {	margin: 0;	border: 0;	height: 24px;	padding: 0px 12px 0px 12px;}
a.button:hover, input.button:hover {background: #006699;color:#ffffff;}

/*-------------container */
.container{width:960px; background-color:#1E1E1E; margin:0 auto;border-right:5px solid #252525;border-left:5px solid #252525;}
/*-------------header */
header {position:relative;height: 150px; background-color:#141414; border-bottom:5px solid #252525;}

header #logo {position:absolute; top:40px; left: 30px;}

header #search-box {position: relative;width: 300px;margin-top:30px;}
header #search-form {height: 25px;border: 1px solid #999;background-color: #fff;overflow: hidden;}
header #search-text {font-size: 14px;color: #ddd;background: transparent;}
header #search-box input[type="text"] {width: 80%;padding: 5px 0 5px 1em;color: #333;outline: none;}
header #search-button {position: absolute;top: 0;right: 0;height: 27px;width: 80px;font-size: 14px;color: #fff;text-align: center;line-height: 26px;background-color: #999;cursor: pointer;border:0px;}

/*------------menu */
header nav {position:absolute;top:50px; right:50px;height: 37px;background:#000000;}
header nav ul {list-style: none;margin: 0;padding: 0;}
header nav ul li {position: relative;float: left;padding: 6px 5px 0px 5px}
header nav ul li:hover {}
header nav ul li a {font-size: 13px; line-height:14px;color: #686868;display: block;padding: 6px 10px 6px 10px;margin-bottom: 5px;z-index: 6;position: relative;font-weight:bold;}
header nav ul li:hover a{color:#ffffff;}

/*-------------content */
#content {}

.block {background:#ffffff; border-bottom: 5px solid #252525;}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
.main-content{ padding:0 10px;}
.main-content article{overflow:hidden; margin:10px;}
.main-content .heading h2{ font-size:18px; line-height:25px; font-weight:normal; font-family: Georgia, Serif; margin:10px 0;}
.main-content .heading img{float:left; margin:3px 30px 0px 0; border:#000000 5px solid;}
.main-content .content{}
.main-content .footer{}
.main-content .footer .more{float:left;}
.main-content .footer .more a{ text-decoration:none; font-style:italic;}

.main-content .post{}
.main-content .post .heading h2{font-size: 22px;}
.main-content .post p{margin:10px 0;}

.sidebar {background:#F5F5F5;}
.sidebar section{}
.sidebar .heading{color:#747472; background:#EEEEEE; font-size:14px; font-weight:normal; padding: 10px; border:1px solid #E0E0E0;font-family: Georgia, Serif;}
.sidebar .content img{float:left; margin:5px; border:#000000 5px solid;}
.sidebar .content{padding:15px; background-color:#F5F5F5; border:1px solid #E0E0E0;}
.sidebar .content h4{font-family: Georgia, Serif; font-weight:normal; font-style:italic;}

.feature{margin: 20px; border:5px solid #000000;}

ul {margin:0; padding:0;list-style-image:none;}
ul.list li {padding:0px 0 5px 12px; line-height:25px; background:url(../images/marker-1.gif) 0 11px no-repeat;}
ul.list li a { font-size:14px; color:#292929; line-height:25px;}
ul.list li a:hover {color:#006699; text-decoration:none;}

/*------------footer */ 
footer {padding: 20px 10px;}
footer .heading{ color:#ffffff; padding-bottom:5px;font-size:20px; font-weight:normal; text-transform:uppercase;}
footer .content{color:#ffffff;}
footer .content img{float:left; margin:5px; border:#ffffff 5px solid;}
footer ul {margin:0; padding:0;list-style-image:none;}
footer ul li { list-style:circle;margin-left:20px;}
footer ul li a { font-size:14px; color:#ffffff;}
footer ul li a:hover {color:#006699; text-decoration:none; cursor:pointer;}

/*-------------copyright*/
#copyright{display:inline-block; width:100%; text-align: center; background:#141414;padding:8px 0px;color:#ffffff;border-top: 5px solid #252525;}