/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
  font-family: 'Lora', serif;
  background: #fff;
}
/*-- header --*/
.header {
	padding: 1.8em 0;
	background: #EEEFEF;
}
.head-logo{
	text-align: center;
	margin-top: 0.3em;
}
span.menu{
	display:none;
}
.top-nav{
	text-align: center;
	padding: 2em 0;
}
.top-nav ul{
	margin:0;
	padding:0;
}
.top-nav ul li{
	display:inline-block;
	margin-left: 45px;
}
.top-nav ul li a{
	padding: 0;
	display:inline-block;
	font-weight:600;
	font-size:1.2em;
	text-decoration:none;
	color:#999;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	font-family: 'Roboto', sans-serif;
}
.top-nav ul li a:hover,.top-nav ul li.active a{
	color:#D64A4A;
}
/*----slider----*/
.banner{
	background:url(../images/banner.jpg);
	background-size:cover;
	-webkit-background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	min-height: 400px;
}

/*-- slider-caption --*/
.slider-caption{
	text-align:center;
	padding: 6% 0px;
}
.slider-caption p{
	font-weight: 400;
	font-size: 2.5em;
	padding: 0;
	color: #FFF;
	font-family: 'Lora', serif;
	text-align: center;
	line-height: 1.5em;
	margin: 0;
}
.slider-caption h1{
	font-weight: 700;
	font-size:5em;
	margin: 0;
	padding: 0;
	color: #FFF;
	font-family: 'Lora', serif;
	text-align: center;
}
.slider-caption h1 span{
	color:#c1061b;
}
/*----*/
.slide-btn{
	padding: 0.5em 0.5em;
	text-decoration: none;
	font-family: 'Lora', serif;
	border: 2px solid#D64A4A;
	margin-top: 1em;
	display: inline-block;
	color: #D64A4A;
	font-size: 1.5em;
	text-align: center;
	-webkit-appearance: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	-o-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	background: #fff;
	width: 13%;
}
.slide-btn:hover{
	text-decoration:none;
	color:#C13838;
	border: 2px dashed #C13838;

}
div.slide-text-info {
	margin-top: 6em;
	margin-left: -3em;
}
/*----- responsive-design -----*/
@media (max-width:768px){
	span.menu {
	display: block;
	position: absolute;
	right: 7px;
	top: 30px;
	}
	span.menu:before{
		content:url(../images/nav-icon.png) no-repeat 0px 0px;
		cursor:pointer;
	}
	.top-nav ul{
		display:none;
		margin-top:0.7em;
	}
	.top-nav{
		position:relative;
		float:none;
		clear:both;
		padding-top: 10px;
	}
	.top-nav ul li {
		display:block;
		float: none;
	}
	.top-nav ul li a{
	margin: 1px 0;
	padding: 0.5em 0.5em;
		width:100%;
		border-bottom:1px solid #EEE;
	}
	.head-logo {
		margin-top: 0em;
	}
	.header {
		padding: 1.5em 0;
	}
}
/*----services------------*/
#services {
	padding: 6em 0 7.5em 0;
	background: #fff;
}
.service-img{
	float:left;
}
.service-text {
	float:right;
}
.service-text h3{
	font-size: 1.45em;
	font-weight: 400;
	margin: 0.5em 0;
	color: #D43E3E;
	line-height: 1.4em;
	font-family: 'Lora', serif;
}
.service-grid p{
	font-size: 1.1em;
	font-weight: 300;
	color: #999999;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	text-align: left;
	line-height: 1.5em;
	margin: 0;
	padding: 10px 0 21px 0;
}
a.more-btn{
	font-family: 'Lora', serif;
	padding: 0.4em 1em;
	text-decoration: none;
	border:2px solid#2A92E5;
	display: inline-block;
	color: #FFF;
	font-size: 1.1em;
	font-weight:700;
	text-align: center;
	-webkit-appearance: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	-o-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	background: #2A92E5;
	width:31%;
}
a.more-btn:hover{
	border:2px solid#2A92E5;
	color:#2A92E5;
	background: #fff;
}
i.icon1{
	width: 52px;
	height: 52px;
	background: url(../images/icons.png)no-repeat 4px -33px;
	display: inline-block;
	cursor: pointer;
	margin: 10px 0 0px -7px;
}
i.icon2{
	width: 52px;
	height: 52px;
	background: url(../images/icons.png)no-repeat -71px -33px;
	display: inline-block;
	cursor: pointer;
	margin: 10px 0 0px -7px;
}
i.icon3{
	width: 52px;
	height: 52px;
	background: url(../images/icons.png)no-repeat -153px -33px;
	display: inline-block;
	cursor: pointer;
	margin: 10px 0 0px -7px;
}
.service-grides {
text-align: center;
}
.service-grid {
text-align: left;
}
/*------portfolio----------*/
div#portfolio{
	padding:2em 0 4em 0;
	background: #EEEFEF;
}
.port-section {
	margin-top:0em;
}
.port-section p {
	text-align: center;
	color: #4B4B4B;
	font-size:2em;
	padding-top: 1em;
	margin:0;
	font-weight:400;
	font-family: 'Lora', serif;
}
.port-section h3 {
	text-align: center;
	color: #4B4B4B;
	font-size: 2.5em;
	padding-top: 1em;
	font-weight: 700;
	font-family: 'Lora', serif;
	margin: 0;
	padding: 0;
}
/*	Strip
/*-----------------------------------------------------------------------------------*/
.b-link-stripe{
	position:relative;
	display:inline-block;
	vertical-align:top;
	font-family: 'Lora', serif;
	font-weight: 400;
	overflow:hidden;
}
.b-link-stripe .b-wrapper{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	text-align:center;
	color:#ffffff;
	overflow:hidden;
}
.b-link-stripe .b-line{
	position:absolute;
	top:0;
	bottom:0;
	width:20%;
	background:rgba(15, 207, 140, 0.9);
	transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-ms-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	opacity:0;
	visibility:hidden; /* lt-ie9 */
}
/*-----------------------------------------------------------------------------------*/
/*	Animation effects
/*-----------------------------------------------------------------------------------*/
.b-animate-go{
	text-decoration:none;
}
.b-animate{
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	visibility: hidden;
	font-size:1.1em;
	font-family: 'Lora', serif;
	font-weight: 400;
	width:90%;
	margin:2% auto;
}
.b-animate img{
	margin-top: 23%;
	display: -webkit-inline-box;
}
/* lt-ie9 */
.b-animate-go:hover .b-animate{
	visibility:visible;
}
.b-from-left{
	position:relative;
	left:-100%;
}
.b-animate-go:hover .b-from-left{
	left:0;
}
span.m_4{
	font-size:25px;
	font-weight:400;
	font-family: 'Lato', sans-serif;
}
p.m_5 {
	margin: 2% auto 5%;
	width: 70%;
	color: #283A47;
	font-size: 1.1em;
	font-weight: 600;
	line-height: 1.5em;
	text-align: center;
}
ul#filters {
	padding: 0px;
	margin: 4% auto;
	text-align: center;
	width:66%;
}
/*--team--*/
.col_1_of_4:first-child {
	margin-left: 0;
}
.span_1_of_4 {
	width: 22.8%;
}
.col_1_of_4 {
	display: block;
	float: left;
	margin: 1% 0 1% 2.6%;
	background: #FFF;
}
/* lt-ie9 */
.b-link-stripe:hover .b-line{
	visibility:visible;
}
.b-link-stripe .b-line1{
	left:0;
}
.b-link-stripe .b-line2{
	left:20%;
	transition-delay:0.1s !important;
	-moz-transition-delay:0.1s !important;
	-ms-transition-delay:0.1s !important;
	-o-transition-delay:0.1s !important;
	-webkit-transition-delay:0.1s !important;
}
.b-link-stripe .b-line3{
	left:40%;
	transition-delay:0.2s !important;
	-moz-transition-delay:0.2s !important;
	-ms-transition-delay:0.2s !important;
	-o-transition-delay:0.2s !important;
	-webkit-transition-delay:0.2s !important;
}
.b-link-stripe .b-line4{
	left:60%;
	transition-delay:0.3s !important;
	-moz-transition-delay:0.3s !important;
	-ms-transition-delay:0.3s !important;
	-o-transition-delay:0.3s !important;
	-webkit-transition-delay:0.3s !important;
}
.b-link-stripe .b-line5{
	left:80%;
	transition-delay:0.4s !important;
	-moz-transition-delay:0.4s !important;
	-ms-transition-delay:0.4s !important;
	-o-transition-delay:0.4s !important;
	-webkit-transition-delay:0.4s !important;
}
.b-link-stripe:hover .b-line{
	opacity:1;
}
	#filters li {
	display: inline;
	float: left;
	position: relative;
	}
	#filters li span {
	color: #9C9C9C;
	padding: 0.84em 2em;
	font-size: 1.25em;
	font-weight: 400;
	text-align: center;
	position: relative;
	font-weight: 300;
	border-right: 1px groove #BDBCBC;
	background:#4B4B4B;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	font-family: 'Roboto', sans-serif;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	cursor: pointer;
	}
	#filters li span:hover {
		color: #FFF;
		background:#D43E3E;
		border-right: 1px groove #C53737;
	}
	#filters li.active {
		color:#fff;
	}
 	#portfoliolist .portfolio {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		width: 24%;
		display:none;
		float:left;
		overflow:hidden;
		margin:0 1% 1% 0;
		 border-radius: 0;
	}
	div#portfoliolist {
		padding:0px 0px;
}	
	.portfolio-wrapper {
		overflow:hidden;
		position: relative !important;
		cursor:pointer;
	}
	.portfolio img {
		max-width:100%;
		/*--position: relative;--*/
		transition: all 300ms!important;
		-webkit-transition: all 300ms!important;
		-moz-transition: all 300ms!important;
	}
	.portfolio .label {
		position: absolute;
		width: 100%;
		height:40px;
		bottom:-40px;
	}
	.portfolio .label-bg {
			background: #22B4B8;
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}
		.portfolio .label-text {
			color:#fff;
			position: relative;
			z-index:500;
			padding:5px 8px;
		}
			
			.portfolio .text-category {
				display:block;
				font-size:9px;
				font-size: 12px;
				text-transform:uppercase;
			}
/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.b-wrapper:hover {
   background: rgba(212, 62, 62, 0.61);
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	
}
.portfolio {
	text-align: center;
}
/*-----libnro-grids----------*/
div#libro {
	padding: 3em 0;
	background: #fff;
}
.libro-section p {
	text-align: center;
	color: #4B4B4B;
	font-size:2em;
	padding-top: 1em;
	margin:0;
	font-weight:400;
	font-family: 'Lora', serif;
}
.libro-section h3 {
	text-align: center;
	color: #4B4B4B;
	font-size: 2.5em;
	padding-top: 1em;
	font-weight: 700;
	font-family: 'Lora', serif;
	margin: 0;
	padding: 0;
}
.libro-grids {
	margin:4em 0;
}
.col-md-4.libro-grid{
	border: 1px solid #E2E2E2;
	margin: 0px 17px;
	width: 30%;
	position: relative;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	-o-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	cursor: pointer;
}
.libro-grid:hover{
	border: 1px dashed #2A92E5;
}
.libro-grid lable{
	position: absolute;
	height: 1px;
	background: #E2E2E2;
	top: 81%;
	width: 100%;
	left: 0px;
}
.libro-grid h4 {
	font-size: 1.45em;
	font-weight: 700;
	margin: 0.5em 0;
	color: #D43E3E;
	line-height: 1.4em;
	font-family: 'Lora', serif;
}
.libro-grid p {
	font-size: 1.1em;
	font-weight: 300;
	color: #999999;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	text-align: left;
	line-height: 1.5em;
	margin: 0;
	padding: 1px 0 25px 0;
}
.libro-grid img {
	width: 100%;
	margin-top: 15px;
}
/*---*/
.t-social{
	margin: 1.2em 0 1.2em;
}
.t-social li a {
	display: block;
}
ul.t-social {
	padding: 0;
}
ul.t-social li{
	display: inline-block;
	margin-left:2px;
	
}
.t-social li a span{
	width: 23px;
	height: 23px;
	display:inline-block;
	background:url(../images/icons.png) no-repeat 0px 0px;
}
.t-social li a span:hover{
	opacity: 0.5;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.t-social li a.facebook span{
	background-position: 0px 1px;
}
.t-social li a.twitter span{
	background-position: -30px 1px;
}
.t-social li a.in span{
	background-position: -59px 1px;
}
/*------contact------------*/
.contact{
	padding: 3em 0;
	background: #2A92E5;
}
.contact-section {
	text-align: center;
	margin: 2em 0;
}
.contact-section p {
	text-align: center;
	color: #fff;
	font-size:1.9em;
	padding-top: 1em;
	margin: 0;
	font-weight: 400;
	font-family: 'Lora', serif;
	padding: 0px 0px 10px 0;
}
.contact-section h3 {
	text-align: center;
	color: #fff;
	font-size:2.2em;
	padding-top: 1em;
	font-weight: 400;
	font-family: 'Lora', serif;
	margin: 0;
	padding: 0px 0px 10px 0;
}
.contact-section h4 {
	text-align: center;
	color: #fff;
	font-size: 1.35em;
	padding-top: 1em;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	padding: 0;
	width: 65%;
	line-height: 1.5em;
	border-top: 1px solid rgba(255, 255, 255, 0.46);
	border-bottom: 1px solid rgba(255, 255, 255, 0.46);
	padding:15px 0px;
}
.form_details {
	text-align: center;
	margin:5% auto;
}
.form_details input[type="text"],.form_details textarea {
	padding: 14px;
	width: 34%;
	font-size: 1.1em;
	margin: 10px 0px;
	border:1px solid #2484D0;
	color: #fff;
	background: none;
	-webkit-appearance: none;
	outline: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin: 2px 2px;
	background: #2484D0;
	border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	-o-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	box-shadow: inset 1px 1px 1px rgba(25, 97, 155, 0.38);
	-moz-box-shadow: inset 1px 1px 1px rgba(25, 97, 155, 0.38);
	-o-box-shadow: inset 1px 1px 1px rgba(25, 97, 155, 0.38);
	-webkit-box-shadow: inset 1px 1px 1px rgba(25, 97, 155, 0.38);
	
}
.form_details textarea {
	height: 200px;
	resize: none;
	width: 68.5%;
	margin-top: 10px;
}
.form_details input[type="submit"] {
	margin-top:1em;
	color: #2A92E5;
	font-size: 1.3em;
	padding: 0.6em 1em;
	-webkit-appearance:none;
	display: inline-block;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	font-weight:600;
	border:none;
	outline: none;
	cursor: pointer;
	font-family: 'Lora', serif;
	border:2px solid#fff;
	background: #fff;
	width: 16%;
	border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	-o-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	
}
form input[type="submit"]:hover {
 	text-decoration: none;
	color: #2A92E5;
	border:2px dashed  #2484D0;
	background: #fff;
}
/*---------About-section----------*/
.About-section {
 	padding: 4em 0;
	background: #EEEFEF;
}
.About-head,.service-head,.folio-head{
	text-align:center;
	padding: 2em 0;
	background: #D43E3E;
}
.About-head h3,.service-head h3,.folio-head h3 {
	text-align: center;
	color: #fff;
	font-size: 2em;
	padding-top: 1em;
	font-weight: 700;
	font-family: 'Lora', serif;
	margin: 0;
	padding: 0;
}
.About-section  h4 {
	color: #666161;
	text-align: left;
	font-size: 1.15em;
	padding-top: 1em;
	font-weight: 700;
	font-family: 'Lora', serif;
	margin: 0;
	padding: 0;
	line-height: 1.5em;
}
.About-section  p,.About-section  span {
	color: #999;
	text-align: left;
	font-size: 1em;
	padding-top: 1em;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	margin: 11px 0;
	padding: 0;
	line-height: 1.8em;
}
.about-pic img {
	width: 100%;
}
div#team {
	padding: 3em 0;
	background: #fff;
}
.team-section p {
	text-align: center;
	color: #4B4B4B;
	font-size:1.2em;
	padding-top: 1em;
	margin:0;
	font-weight:400;
	font-family: 'Lora', serif;
}
.team-section h3 {
	text-align: center;
	color: #4B4B4B;
	font-size: 2.5em;
	padding-top: 1em;
	font-weight: 700;
	font-family: 'Lora', serif;
	margin: 0;
	padding: 0;
}
.team-grids {
	margin:4em 0;
}
.col-md-4.team-grid{
	border: 1px solid #E2E2E2;
	margin: 0px 17px;
	width: 30%;
	position: relative;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	-o-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	cursor: pointer;
}
.team-grid:hover{
	border: 1px dashed #2A92E5;
}
.team-grid lable{
	position: absolute;
	height: 1px;
	background: #E2E2E2;
	top: 81%;
	width: 100%;
	left: 0px;
}
.team-grid h4 {
	font-size: 1.45em;
	font-weight: 700;
	margin: 0.5em 0;
	color: #D43E3E;
	line-height: 1.4em;
	font-family: 'Lora', serif;
}
.team-grid p {
	font-size: 1.1em;
	font-weight: 300;
	color: #999999;
	font-family: 'Roboto', sans-serif;
	width: 100%;
	text-align: left;
	line-height: 1.5em;
	margin: 0;
	padding: 1px 0 25px 0;
}
.team-grid img {
	width: 100%;
	margin-top: 15px;
}
.Services.part2 {
	padding: 5em 0;
	background: #EEEFEF;
}
/*-- clients --*/
.clients{
	padding: 4em 0 6em 0;
	text-align: center;
	background:#2A92E5;
}
.clients-section{
}
.client-list{
	margin-top:3em;
}
.client-section h3 {
	font-size: 2.5em;
	padding-top: 1em;
	font-weight: 700;
	font-family: 'Lora', serif;
	color: #fff;
	line-height: 1.4em;
	margin: 0;
	padding: 0;
}
.client-section p {
	font-size: 1.2em;
	font-weight: 400;
	color: #fff;
	font-family: 'Lora', serif;
	width: 100%;
	text-align:center;
	line-height: 1.5em;
	margin: 0;
	padding: 1px 0 25px 0;
}
.client-list ul{
	margin:0;
	padding:0;
}
.client-list ul li{
	display:inline-block;
}
.client-list ul li a{
	margin:0 3em;
}
.client-list ul li a:hover{
	opacity:0.8;
}
.contact-map iframe {
	min-height: 530px;
	width: 100%;
}
/*---------/footer-------*/
.footer {
	padding: 1em 0;
	background: #fff;
}
.copy-right {
	text-align:center;
	margin-top: 1.5em;
}
.copy-right p {
	font-size: 1.2em;
	color: #2A92E5;
	font-family: 'Lora', serif;
	font-weight: 400;
}
.copy-right p a{
	color:#D43E3E;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.copy-right p a:hover{
	color: #2A92E5;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 29px;
	right: 3%;
	overflow: hidden;
	width:38px;
	height:25px;
	border: none;
	text-indent: 100%;
	background: url("../images/move-up.png") no-repeat 0px 0px;
}
#toTopHover {
	width:38px;
	height:25px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*---- responsive-design -----*/
@media(max-width:1440px){
	.slider-caption h1 {
	font-size: 4.9em;
	}
	.contact-map iframe {
	min-height: 490px;
	}
	ul#filters {
	width: 66%;
	}
}
@media(max-width:1366px){
	.slider-caption h1 {
	font-size: 4.7em;
	}
	.slide-btn {
	padding: 0.45em 0.5em;
	margin-top: 1em;
	font-size: 1.5em;
	width: 14%;
	}
	.banner {
	min-height: 364px;
	}
}
@media(max-width:1280px){
	.banner {
	min-height: 312px;
	}
	.slider-caption h1 {
	font-size: 4.3em;
	}
	.slider-caption p {
	font-size: 1.7em;
	}
	.slide-btn {
	padding: 0.45em 0.5em;
	margin-top: 0.8em;
	font-size: 1.2em;
	width: 16%;
	}
	.service-text h3 {
		font-size: 1.38em;
	}
	#services {
		padding: 6em 0 6.5em 0;
	}
	.port-section h3,.libro-section h3 {
	font-size: 2.3em;
	}
	.port-section p,.libro-section p {
	font-size: 1.7em;
	}
	.contact-section p {
	font-size: 1.7em;
	}
	.contact-section h3 {
	font-size: 2.05em;
	}
	.contact-section h4 {
	font-size: 1.3em;
	padding-top: 1em;
	width: 65%;
	}
	.contact-map iframe {
	min-height: 450px;
	}
	ul#filters {
	margin: 4% auto;
	width: 79%;
	}
}
@media(max-width:1024px){
	.slider-caption {
	text-align: center;
	padding:6% 0px;
	}
	.slider-caption h1 {
	font-size: 3.5em;
	}
	.banner {
	min-height: 271px;
	}
	.slide-btn {
		padding: 0.45em 0.5em;
		margin-top: 1em;
		font-size: 1.2em;
		width: 16%;
	}
	.service-text h3 {
	font-size: 1.2em;
	overflow: hidden;
	height: 49px;
	}
	.slider-caption p {
	font-size: 1.4em;
	}
	i.icon1,i.icon2,i.icon3   {
	margin: 6px 0 0px -7px;
	}
	.service-grid p {
	font-size: 1em;
	line-height: 1.6em;
	margin: 0;
	padding: 4px 0 21px 0;
	}
	a.more-btn {
	padding: 0.4em 1em;
	font-size: 1.07em;
	width: 41%;
	}
	.port-section h3, .libro-section h3 {
	font-size: 2.15em;
	}
	.port-section p, .libro-section p {
	font-size: 1.5em;
	}
	.col-md-4.libro-grid {
		margin: 0px 14px;
		width: 30%;
	}
	.about-pic {
	margin-top: 4em;
	}
	.col-md-4.team-grid {
	width: 60%;
	margin: 1px 34% 3% 30%;
	}
}
@media(max-width:768px){
	.banner {
	min-height: 215px;
	}
	.header {
	padding: 0em 0 1em;
	}
	.slide-btn {
	padding: 0.45em 0.5em;
	margin-top: 1em;
	font-size: 1.15em;
	width: 20%;
	}
	.top-nav {
	text-align: center;
	padding:0 0 1em 0 ;
	margin-right: 42px;
	}
	#filters li {
	display: inline;
	float: left;
	position: relative;
	margin-right: -1px;
	}
	.contact-map iframe {
	min-height: 386px;
	}
	#filters li span {
	color: #9C9C9C;
	font-size: 1.2em;
	padding: 0.8em 2.055333em;
	}
	ul#filters {
	margin: 4% auto;
	width: 99%;
	}
	.About-head h3, .service-head h3, .folio-head h3 {
	color: #fff;
	font-size: 1.6em;
	}
	.about-pic {
	margin-top: 0em;
	}
	.about-pic img {
	width: 43%;
	margin-bottom: 1em;
	}
	.service-grid {
	text-align: center;
	}
	.service-img {
	float: none;
	text-align:center;
	}
	.service-text {
	float: none;
	}
	.service-grid p {
	font-size: 1.1em;
	line-height: 1.6em;
	margin: 0;
	padding: 0px 0 15px 0;
	text-align:center;
	}
	#services {
	padding: 2em 0 2.5em 0;
	}
	.service-text h3 {
	font-size: 1.4em;
	overflow: hidden;
	height: 26px;
	}
	i.icon1, i.icon2, i.icon3 {
	margin: 17px 0 0px 0px;
	}
	a.more-btn {
	padding: 0.4em 1em;
	font-size: 1.07em;
	width: 19%;
	}
	#portfoliolist .portfolio {
	width: 49%;
	margin: 2% -6% 1% 3%;
	}
	.col-md-4.libro-grid {
	margin: 0px 0% 3% 20%;
	width: 61%;
	}
	div#libro {
	padding: 3em 0 0em;
	}
	.team-grids {
	margin: 1em 0;
	}
	.contact-section h3 {
	font-size: 1.7em;
	}
	.contact-section p {
	font-size: 1.4em;
	}
	.contact-section h4 {
	font-size: 1.2em;
	padding-top: 1em;
	width: 81%;
	}
	.form_details input[type="submit"] {
	font-size: 1.2em;
	padding: 0.6em 1em;
	width: 24%;
	}
	.client-list ul li {
	display: inline-block;
	margin-left: -16px;
	}
		.Services.part2 {
	padding: 2em 0;
	}
	.col-md-4.team-grid {
	width: 60%;
	margin: 1px 0% 3% 34%;
	}
	.form_details input[type="text"] {
	padding: 12px;
	width: 43%;
	}
	.form_details textarea{
		width: 87.5%;
	}
}
@media(max-width:640px){
	.banner {
	min-height: 165px;
	}
	.slider-caption h1 {
		font-size: 3em;
	}
	.slide-btn {
	padding: 0.45em 0.5em;
	margin-top: 1em;
	font-size: 1.15em;
	width: 23%;
	}
	#filters li span {
	font-size: 1em;
	padding: 0.8em 2.035333em;
	}
	#portfoliolist .portfolio {
	width: 48%;
	margin: 2% -1% 0.5% 3%;
	}
	.client-list ul li {
	display: inline-block;
	margin-left: 18px;
	margin-bottom: 22px;
	}
	.clients {
		padding: 4em 0 4em 0;
	}
	.col-md-4.team-grid {
	width: 76%;
	margin: 1px 0% 3% 26%;
	}
	.contact-map iframe {
	min-height: 326px;
	}
	.contact-section p {
	font-size: 1.3em;
	}
	.contact-section h3 {
	font-size: 1.5em;
	}
	.contact-section h4 {
	font-size: 1.15em;
	padding-top: 1em;
	width: 88%;
	line-height: 1.5em;
	}
	.form_details input[type="submit"] {
	font-size: 1.15em;
	padding: 0.6em 1em;
	width: 27%;
	}
	.contact {
	padding: 2em 0;
	}
@media(max-width:480px){
	.head-logo img {
	width: 90%;
	}
	span.menu {
	display: block;
	position: absolute;
	right: 7px;
	top: 20px;
	}
	.top-nav {
	margin-right: 51px;
	}
	.banner {
	min-height: 123px;
	}
	.About-head h3, .service-head h3, .folio-head h3 {
	color: #fff;
	font-size: 1.4em;
	}
	.About-head, .service-head, .folio-head {
	text-align: center;
	padding: 1.2em 0;
	}
	.slider-caption h1 {
	font-size: 2.5em;
	}
	.slider-caption p {
	font-size: 1.2em;
	}
	.slide-btn {
	padding: 0.45em 0.5em;
	margin-top:0.5em;
	font-size: 1.1em;
	width: 28%;
	}
	.service-grid p {
	font-size: 1em;
	line-height: 1.6em;
	margin: 0;
	padding: 0px 0 15px 0;
	text-align: center;
	}
	a.more-btn {
	padding: 0.4em 0.5em;
	font-size: 1em;
	width: 24%;
	}
	#filters li {
	display: inline;
	float: left;
	position: relative;
	margin-right: -4px;
	}
	#filters li span {
	font-size: 1em;
	padding: 0.8em 1em;
	}
	.port-section p, .libro-section p {
	font-size: 1.3em;
	}
	.port-section h3, .libro-section h3 {
	font-size: 1.6em;
	}
	div#portfolio {
	padding: 1em 0 2em 0;
	}
	div#libro {
	padding: 1em 0 0em;
	}
	#portfoliolist .portfolio {
	width: 45%;
	margin: 2% -1% 0.5% 4%;
	}
	.libro-grids {
	margin: 1.7em 0;
	}
	.col-md-4.libro-grid {
	margin: 0px 0% 3% 10%;
	width: 80%;
	}
	ul#filters {
	margin: 6% auto;
	width: 97%;
	}
	.About-section h4 {
	font-size: 1.1em;
	}
	.About-section p, .About-section span {
	color: #999;
	text-align: left;
	font-size: 0.95em;
	}
	.About-section p{
	font-size: 0.95em;
	}
	.About-section span {
	display:none;
	}
	.About-section {
	padding: 3em 0;
	}
	.team-section h3 {
	font-size: 2em;
	}
	.team-section p {
	font-size: 1.15em;
	padding-top: 0.5em;
	margin: 0;
	}
	.col-md-4.team-grid {
	width: 76%;
	margin: 1px 0% 3% 12%;
	}
	.client-section h3 {
	font-size: 2em;
	}
	.clients {
	padding: 2em 0 2em 0;
	}
	.client-section p {
	font-size: 1.15em;
	}
	.contact-map iframe {
	min-height: 251px;
	}
	.contact-section p {
	font-size: 1.15em;
	}
	.contact-section h3 {
	font-size: 1.3em;
	}
	.contact-section h4 {
		font-size: 1.1em;
		padding-top: 1em;
		width: 91%;
		line-height: 1.5em;
	}
	.form_details input[type="text"] {
	padding: 10px;
	width: 47%;
	font-size: 1.05em;
	}
	.form_details textarea {
	width: 96.5%;
	height: 143px;
	}
	.form_details input[type="submit"] {
		font-size: 1.1em;
		padding: 0.6em 1em;
		width: 38%;
	}
	.contact {
	padding: 1.5em 0;
	}
	.copy-right p {
	font-size: 1.1em;
	}
	.copy-right {
	margin-top:10px;
	}
}
@media(max-width:320px){
	.head-logo img {
	width: 100%;
	}
	span.menu {
	display: block;
	position: absolute;
	right: -14px;
	top: 13px;
	}
	.banner {
	min-height: 110px;
	}
	.slider-caption {
	padding: 3% 0px;
	}
	.slider-caption p {
	font-size: 15px;
	}
	.slider-caption h1 {
	font-size: 1.5em;
	}
	.slide-btn {
	padding: 0.45em 0.5em;
	margin-top: 0.3em;
	font-size: 1em;
	width: 38%;
	}
	#services {
	padding: 0em 0 1em 0;
	}
	.About-head h3, .service-head h3, .folio-head h3 {
	font-size: 1.2em;
	}
	.About-head, .service-head, .folio-head {
	text-align: center;
	padding: 0.5em 0;
	}
	.service-text h3 {
	font-size: 1.2em;
	overflow: hidden;
	height: 18px;
	}
	.service-grid p {
	font-size: 15px;
	margin: 0;
	padding: 0px 0 10px 0;
	text-align: center;
	overflow: hidden;
	height: 79px;
	}
	a.more-btn {
	padding: 0.4em 0.5em;
	font-size: 13px;
	width: 40%;
	}
	i.icon1, i.icon2, i.icon3 {
	margin: 13px 0 -13px 0px;
	}
	.port-section p, .libro-section p {
	font-size: 15px;
	}
	.port-section h3, .libro-section h3 {
	font-size: 1.2em;
	}
	#filters li span {
	font-size: 15px;
	padding: 0.5em 0.5em;
	margin: 0 2px;
	}
	#filters li {
	display: inline;
	float: left;
	position: relative;
	margin-right: -4px;
	margin-bottom: 15px;
	}
	ul#filters {
	margin: 6% auto;
	width: 80%;
	}
	.b-animate img {
	margin-top: 19%;
	}
	.col-md-4.libro-grid {
	margin: 0px 0% 3% 2%;
	width: 97%;
	}
	.libro-grid p {
	font-size: 15px;
	}
	.libro-grid h4 {
	font-size: 1.15em;
	}
	div#team {
	padding: 2em 0 1em;
	}
	.team-grid h4 {
		font-size: 1.1em;
	}
	.About-section h4 {
	font-size: 1em;
	overflow: hidden;
	height: 61px;
	}
	.About-section p {
	font-size: 13px;
	}
	.team-section h3 {
	font-size: 1.2em;
	}
	.contact-section p {
	font-size: 15px;
	}
	.contact-section h3 {
	font-size: 1.2em;
	line-height: 1.4em;
	}
	.team-section p {
	font-size: 15px;
	padding-top: 0.5em;
	margin: 0;
	}
	.col-md-4.team-grid {
	width: 98%;
	margin: 1px 0% 3% 1%;
	}
	.contact-section h4 {
	font-size: 15px;
	padding-top: 1em;
	width: 100%;
	line-height: 1.5em;
	}
	.form_details input[type="text"]{
	padding: 8px;
	width: 94%;
	font-size: 13px;
	margin-bottom: 5px;
	}
	.form_details textarea {
		padding: 8px;
		width: 94%;
		font-size: 13px;
		height:100px;
		margin-top: 1px;
		}
	.form_details input[type="submit"] {
	font-size: 1.1em;
	padding: 0.4em 0.5em;
	width: 94%;
	margin-top: 4px;
	}
	.copy-right p {
	font-size: 14px;
	}
	.footer {
	padding: 0em 0;
	}
	.top-nav ul li a {
	margin: 1px 0;
	padding: 0.4em 0.4em;
	font-size: 1.15em;
	}
	.client-section h3 {
	font-size: 1.2em;
	}
	.Services.part2 {
	padding: 1em 0;
	}
	.client-section p {
	font-size: 15px;
	}
	.client-list {
	margin-top: 0em;
	}
	.clients {
	padding: 2em 0 0em 0;
	}
	.contact {
	padding: 1em 0;
	}
	.contact-map iframe {
	min-height: 183px;
	}
	.contact-section {
	margin: 1em 0;
	}
}