/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	margin:0;
	font-family: 'Raleway', sans-serif;
	background:#202429 !important;
}
body a{
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
/*--header--*/
.header{
	position:relative;
}
.social-icons {
	position: absolute;
	left: 3%;
	top: 33%;
}
.social-icons ul{
	display:block;
	padding: 0;
}
.social-icons ul li{
	list-style-type:none;
}
.social-icons ul li a{
	background:url(../images/social-icons.png) no-repeat 0px 0px;
	display: block;
	height: 47px;
	width:  47px;	
	transition:.5s all;
}
.social-icons ul li a:hover{
	background: url(../images/social-icons.png) no-repeat -54px 0px;
	display: block;
	height: 47px;
	width: 47px;
}
.social-icons ul li a.fb{
	background:url(../images/social-icons.png) no-repeat 0px -52px;
}
.social-icons ul li a.fb:hover{
	background:url(../images/social-icons.png) no-repeat -54px -52px;
}
.social-icons ul li a.in{
	background:url(../images/social-icons.png) no-repeat 0px -104px;
}
.social-icons ul li a.in:hover{
	background:url(../images/social-icons.png) no-repeat -54px -104px;
}
.social-icons ul li a.dott{
	background:url(../images/social-icons.png) no-repeat 0px -158px;	
}
.social-icons ul li a.dott:hover{
	background:url(../images/social-icons.png) no-repeat -54px -158px;	
}
.top-nav {
  margin-top: 3.5em;
}
span.menu {
	position: relative;
	cursor: pointer;
}
ul.nav1{
	display:none;
	position:absolute;
	left: 9.8%;
	right: 0;
	top: 0%;
	margin:0;
	padding:0;
}	
.top-nav ul li{
  list-style-type:none;
  display: inline-block;
  padding: 2.85em 0;
}	
.top-nav ul li a{
	background: #353a3f;
	color: #fff;
	text-decoration: none;
	padding: 3.3em 1.6em 2.8em 1.6em;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Raleway', sans-serif;
	transition:.5s all;
}
.top-nav ul li a:hover{
	color:#c05151;
}
.top-nav ul li a.active {
  color: #c05151;
}
/*--//header--*/
/*--services--*/
.services {
    margin: 7em 0 0 0;
  text-align: center;
}
.services h3{
  margin: 0;
  color: #fff;
  font-size: 17px;
  letter-spacing: 3px;
  font-weight: 400;
  border-bottom: 1px solid rgba(53, 58, 63, 0.55);
}
.services-grids {
  margin: 6em 0;
}
.srvs-image {
  float: left;
  width: 20%;
}
.img-title {
  float: right;
  width: 72%;
}
.srvs-image a {
	background: url(../images/services.png) no-repeat 0px 0px;
	display: block;
	width: 72px;
	height: 71px;
	transition:.5s all;
}
.srvs-image a:hover{
	background: url(../images/services.png) no-repeat -76px 0px;
	display: block;
	width: 72px;
	height: 71px;
}
.srvs-image a.active{
  background: url(../images/services.png) no-repeat -76px -78px;
}
.srvs-image a.support {
  background: url(../images/services.png) no-repeat 0px -150px;
}
.srvs-image a.support:hover{
  background: url(../images/services.png) no-repeat -76px -150px;
}
.img-title h4 {
  margin: 12px 0 0 0;
  color: #fff;
  font-size: 15px;
  text-align: left;
  line-height: 1.4;
}
.services-grids p {
  color: #858d94;
  margin: 10px 0 0 0;
  text-align: left;
  font-size: 13px;
  letter-spacing: 0.5px;
}
/*--portfolio--*/
.portfolio {
  margin-top: 2em;
}
.portfolio-info {
  margin: 7em 0;
}
.port-grids{
	position:relative;
}
.port-text {
  background: #353a3f;
  text-align:left;
  padding: 2em 3em;
  transition:.5s all;
}
.port-text h5 {
  color: #fff;
  margin: 0;
  font-size: 17px;
}
.port-text span {
  color: #fff;
  font-size: 13px;
  font-weight: 300;
}
.port-image img {
  width: 100%;
}
.port-caption {
	background: rgba(0, 0, 0, 0.86);
	width: 100%;
	position: absolute;
	top: 29%;
	left: 0%;
	display: none;
	padding: 7.4em 0;
}
.port-caption a {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 1em 2em;
  transition:.5s all;
}
.port-caption a:hover,.port-caption a:focus{
	color:#c05151;
	text-decoration:none;
}
.port-grids:hover div.port-text {
  background: #c05151;
}
.port-grids:hover div.port-caption {
	display:block;
}
/*--testimonial--*/
.portfolio {
  margin-top: 2em;
  text-align: center;
}
.portfolio h3 {
  margin: 0;
  color: #fff;
  font-size: 17px;
  letter-spacing: 3px;
  font-weight: 400;
  border-bottom: 1px solid rgba(53, 58, 63, 0.55);
}
/******** SAP ************/
.sap_tabs{
	clear:both;
	padding: 4em 0;
}
.tab_box{
	background:#fd926d;
	padding: 2em;
}
.top1{
	margin-top: 2%;
}
.resp-tabs-list {
	width: 35%;
	list-style: none;
	padding: 0;
	margin: 0 auto 3em;
}
.resp-tab-item{
	cursor: pointer;
	padding: 3px;
	display: inline-block;
	margin: 0 .5em;
	list-style: none;
	width: 22%;
	border: 1px solid rgb(32, 36, 41);
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.resp-tab-item:hover {
	text-shadow: none;
	color: #4fafa0;
}
.resp-tab-active{
	text-shadow: none;
	color:#fff;
	border: 1px solid gray;
}
.resp-tabs-container {
	padding: 0px;
	clear: left;
}
h2.resp-accordion {
	cursor: pointer;
	padding: 5px;
	display: none;
}
.resp-tab-content {
	display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}
@media only screen and (max-width:480px) {
	.resp-tabs-container{
		padding:10px;
	}
.resp-vtabs .resp-tabs-container {
	border: none;
	float: none;
	width: 100%;
	min-height: initial;
	clear: none;
}
.resp-accordion-closed {
	display: none !important;
}
}
.view.view-first {
  background: #353a3f;
  width: 71%;
  margin: 0 auto;
  padding: 2em;
}
.view.view-first h5 {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0 0 1em 0;
}
.view.view-first p {
  color: #858d94;
  font-size: 14px;
  margin: 0;
}
/*--footer--*/
.footer-right {
	text-align:center;
	border-top: 1px solid rgba(53, 58, 63, 0.55);
	padding: 2em 0;
}
.footer-right p {
  color: #858d94;
  margin: 0;
  font-size: 14px;
}
.footer-right a {
	color: #c05151;
	text-decoration:none;
	transition:.5s all;
}
.footer-right a:hover{
	color: #858d94;
	text-decoration:none;
	padding-left: 10px;
}
/*--slider-up-arrow--*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 9%;
	right: 3%;
	overflow: hidden;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../images/move-up.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*--about--*/
.about-info {
  padding: 5em 0;
}
.about-info h4 {
	text-align: left;
	color: #BEBEBE;
	font-size: 18px;
	margin: 0 0 1em;
}
.about-info p {
  color: #858d94;
  margin: 0 0 1.5em 0;
  text-align: left;
  font-size: 13px;
  letter-spacing: 1px;
}
.about-info-left img {
  width: 100%;
}
.about-info-left:nth-child(1){
  padding-left: 0;
}
.about-info-left {
  padding-left: 0 !important;
}
.about-text {
  text-align: left;
}
.about-text-info h4 {
  color: #BEBEBE;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}
.about-text-info h5 {
	color:#c05151;
	line-height: 1.5;
	width: 80%;
	font-size: 14px;
	margin:.5em 0;
}
.about-text-info p {
  color: #858d94;
  margin: 0 0 1em 0;
  text-align: left;
  font-size: 14px;
  letter-spacing: 1px;
}
.about-team {
  padding: 0em 0 3em 0;
}
.row {
  margin: 5em 0;
}
.caption h4 {
  font-size: 18px;
  margin: 0.5em 0;
}
.caption h4 a{
  font-size: 18px;
  text-decoration:none;
  transition:.5s all;
  color:#1B242F;
}
.caption h4 a:hover{
  color: #c05151;
  text-decoration:none;
}
.caption p {
  font-size: 14px;
  color: #858d94;
  margin:0;
}
/*-------Portfolio Part Starts Here ---------*/
.portfolio-filter {
  margin: 2em 0;
}
.product {
	padding: 7em 0;
}
ul#filters {
	padding: 0px;
}
#filters {
	margin: 0 0 5%;
	padding: 0;
	list-style: none;
	text-align: center;
}
#filters li {
	display:inline-block;
	display: -webkit-inline-box;
	display: -moz-inline-box;
	display: -o-inline-box;
	display: -ms-inline-box;
	padding: 0 1em;
}
#filters li.active span{
	padding: 10px 50px;
}
#filters li span {
	display: block;
	padding: 0;
	margin: 0 1em;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}
#filters li span:hover,#filters li span.active  {
	color:#c05151;
	transition:.5s all;
}
#portfoliolist .portfolio {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	  width: 23%;
	display: none;
	float: left;
	overflow: hidden;
	margin: 1%;
}
div#portfoliolist {
	padding: 0px 0px;
}	
.portfolio-wrapper {
	overflow:hidden;
	position: relative !important;
	cursor:pointer;	
	padding:  0;
}
.portfolio img {
	max-width:100%;
	transition: all 500ms!important;
	-webkit-transition: all 500ms!important;
	-moz-transition: all 500ms!important;
}
.portfolio .label {
	position: absolute;
	width: 100%;
	height:40px;
	bottom:-40px;
}
.portfolio .label-bg {
	background: #22B4B8;
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}
.portfolio .label-text {
	color:#fff;
	position: relative;
	z-index:500;
	padding:5px 8px;
}		
.portfolio .text-category {
	display:block;
	font-size:9px;
	font-size: 12px;
	text-transform:uppercase;
}
.portfolio-wrapper:hover ul.social-ic{
	display: block;
}
/*--sample-page--*/
.sample-page {
	padding: 0em 0 7em 0;
	background: #202429;
}
.sample-page h4 {
	margin: 2em 0 1em 0;
	color: #BEBEBE;
	font-size: 22px;
	font-weight: 500;
}
.sample-page-left {
  margin-top: 3em;
}
.sample-page-right {
  margin-top: 3em;
}
.sample-page-info h5 {
	font-size: 15px;
	font-weight: 600;	
	margin: 1.5em 0;
	color: #c05151;
	line-height: 1.7;
}
.sample-page-info p{
	color: #858d94;
  margin: 0 0 1.5em 0;
  text-align: left;
  font-size: 13px;
  letter-spacing: 1px;
}
.sample-page  img {
	box-sizing: border-box;
	height: auto;
	max-width: 100%;
}
img.zoom-img {
	webkit-transform: scale(1, 1);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: .5s;
	-moz-transform: scale(1, 1);
	-moz-transition-timing-function: ease-out;
	-moz-transition-duration: .5s;
}
img.zoom-img:hover {
	-webkit-transform: scale(1.05);
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-duration: 750ms;
	-moz-transform: scale(1.05);
	-moz-transition-timing-function: ease-in-out;
	-moz-transition-duration: 750ms;
	overflow: hidden;
}
.sample-page-info img {
  width: 100%;
}
.sample-page-info p {
color: #858d94;
  margin: 0 0 1.5em 0;
  text-align: left;
  font-size: 13px;
  letter-spacing: 1px;
}
.comment-icons {
	border-top: 1px dotted #858d94 ;
	border-bottom: 1px dotted #858d94;
	padding: 1.5em 0;
	margin: 4em 0;
}
.comment-icons ul{
	margin: 0;
	padding: 0;
}
.comment-icons ul li{
	list-style-type:none;
	display:inline-block;
	  margin: 12px 20px;
	color:#858d94;
}
.comment-icons ul li span{
	background: url(../images/icons-sprite.png) no-repeat 0px 0;
	margin-right: 10px;
	padding: 0px 6px;
}
.comment-icons ul li span.clndr{
	background: url(../images/icons-sprite.png) no-repeat -20px 0;
	  padding: 0px 8px;
}
.comment-icons ul li span.admin{
	background: url(../images/icons-sprite.png) no-repeat 0px -23px;
	padding: 0px 7px;
}
.comment-icons ul li span.cmnts{
	background: url(../images/icons-sprite.png) no-repeat -20px -23px;
	padding: 0px 8px;
	margin-right: 6px;
}
.comment-icons ul li span.like{
	background: url(../images/icons-sprite.png) no-repeat 0px -45px;
	padding: 0px 7px;
	margin-right: 6px;
}
.comment-icons ul li a{
	color: #858d94;
	font-size: 15px;
	font-weight: 500;
}
.comment-icons ul li a:hover{
	color:#c05151;
	text-decoration:none;
	transition:.5s all;
}
.read-more {
	margin: 1.8em 0 0 0;
}
.read-more a {
	color: #D7D8D9;
	font-size: 14px;
	font-weight: 500;
	padding: .5em .8em;
	border-radius: 3px;
	background: #c05151;
	border: 1px solid #c05151;
}
.read-more a:hover{
	text-decoration:none;
	background: none;
	transition: .5s all;
	outline: none;
	color: #c05151;
}
.category ul{
	margin: 0;
	padding: 0 0 0 2em;
}
.category ul li{
  list-style-type: disc;
  padding: 12px 0;
  color: #979292;
  font-size: 20px;
}
.category ul li a {
	font-size: 15px;
	font-weight: 500;
	color: #858d94;
	transition: .5s all;
}
.category ul li a:hover{
	transition:.5s all;
	color:#c05151;
	text-decoration:none;
	margin-left: 5px;
}
.recent-posts-info {
	margin-bottom: 4em;
}
.posts-left{
	float:left;
	width: 47%;
	margin-right: 14px;
}
.posts-right{
	float:right;
	width:49%;
}	
.posts-right lable {
	font-size: 14px;
	font-weight: 600;
	color: #BEBEBE;
}
.posts-right h5 {
	font-size: 15px;
	font-weight: 600;	
	margin: .5em 0;
}
.posts-right h5 a{	
	color: #c05151;
	transition:.5s all;
	text-decoration:none;
}
.posts-right h5 a:hover{	
	color: #BEBEBE;
	text-decoration:none;	
}
.posts-right p {
color: #858d94;
  margin: 0 0 1.5em 0;
  text-align: left;
  font-size: 13px;
  letter-spacing: 1px;
	line-height: 1.8;
}
.comments-info {
  margin: 3em 0;
}
.comments-info p {
	color: #858d94;
	margin: 1em 0 0 0;
	text-align: left;
	font-size: 13px;
	letter-spacing: 1px;
	line-height: 1.8;
}
.cmnt-icon-left {
	float: left;
	width: 30%;
}
.cmnt-icon-right {
	float: right;
	  width: 70%;
}
.cmnt-icon-right p {
	color: #858d94;
	margin: 0 0 .5em 0;
	text-align: left;
	font-size: 13px;
	letter-spacing: 1px;
}
.cmnt-icon-right p a {
  color: #858d94;
  text-decoration:none;
}
.cmnt-icon-right p a:hover{
  color: #c05151;
  text-decoration:none;
  transition:.5s all;
}
.admin-text {
	background:#c05151;
	padding: 2em;
}
.admin-text h5 {
	font-size: 15px;
	font-weight: 600;
	margin: 0 0 1em 0;
	color: #fff;
}
.admin-text-left {
	float: left;
	width: 11%;
}
.admin-text-right {
	float: right;
	width: 86%;
}
.admin-text-right p {
	color: #C8C8C8;
	margin: 0 0 1.5em 0;
	text-align: left;
	font-size: 13px;
	letter-spacing: 1px;
}
.admin-text-right span {
	color:#fff;
	font-weight: 600;
	font-size: 15px;
}
.admin-text-right span a {
  color: #fff;
  text-decoration:none;
}
.admin-text-right span a:hover{
  color: #BEBEBE;
  transition:.5s all;
}
.related-posts-grids {
	float: left;
	width: 30%;
	margin-left: 1em;
}
.related-posts-grids img{
	width:100%;
}
.related-posts-grids h5 {
	font-size: 15px;
	font-weight: 600;
	margin: .5em 0;
	color: #1C90F4;
}
.response-info {
	background: #c05151;
	padding: 2em;
	border-bottom: 1px dotted rgb(204, 200, 200);
}
.response-text h5 {
	font-size: 15px;
	font-weight: 600;
	margin: 0 0 1em 0;
	color: #fff;
}
.response-text-left h5 a {
  text-decoration: none;
  color: #fff;
}
.response-text-left h5 a:hover{
  text-decoration: none;
  color:#BEBEBE;
  transition:.5s all;
}
.response-text-left {
	float: left;
	width: 11%;
}
.response-text-left h5{
	color: #fff;
	font-weight: 600;
	font-size: 15px;
	margin: 1em 0 0 0;
}
.response-text-right {
	float: right;
	width: 86%;
}
.response-text-right p {
	color: #C8C8C8;
	margin: 0 0 1.5em 0;
	text-align: left;
	font-size: 13px;
	letter-spacing: 1px;
}
.response-text-right ul{
	padding:0;	
	text-align: right;
}
.response-text-right ul li{
	display:inline-block;	
	color:#fff;
	margin-right: 1em;
	font-size: 14px;
}
.response-text-right ul li a{
	color:#fff;	
	font-size: 14px;
}
.response-text-right ul li a:hover{
	color:#BEBEBE;
	transition:.5s all;
	text-decoration:none;
}
.coment-form input[type="text"] {
	display: block;
	background: none;
	border: 1px solid #696868;
	width: 75%;
	margin-bottom: 1em;
	outline: none;
	font-size: 17px;
	color: #9F9E9E;
	font-weight: 100;
	font-family: serif;
	padding: 8px 10px;
}
.coment-form input[type="email"] {
	display: block;
	background: none;
	border: 1px solid #696868;
	width: 75%;
	margin-bottom: 1em;
	outline: none;
	font-size: 17px;
	color: #9F9E9E;
	font-weight: 100;
	font-family: serif;
	padding: 8px 10px;
}
.coment-form textarea {
	background: none;
	border: 1px solid #696868;
	width: 100%;
	display: block;
	height: 150px;
	outline: none;
	font-size: 18px;
	color: #9F9E9E;
	font-weight: 500;
	font-family: serif;
	resize: none;
	padding: 8px 10px;
}
.coment-form input[type="submit"] {
  background: #c05151;
  padding: .5em 0;
  border: 1px solid #c05151;
  width: 22%;
  margin-top: 2em;
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.5px;
  outline: none;
}
.coment-form input[type="submit"]:hover{
	color: #c05151;
	background: none;
	transition: .5s all;
	outline: none;
}
/*--contact--*/
.contact h4 {
	color: #BEBEBE;
	font-size: 22px;
	font-weight: 500;
	margin: 0 0 1em 0;
	letter-spacing: 1px;
}
.map {
  margin: 5em 0;
}
.map iframe {
  width: 100%;
  height: 340px;
}
.contact-infom p {
  color: #858d94;
  margin: 0 0 1.5em 0;
  text-align: left;
  font-size: 14px;
  letter-spacing: 1px;
}
.address {
  margin-top: 5em;
}
.address-left{
	float:left;
	width:50%;
}
.address p {
	color: #858d94;
	margin: 0 0 .5em 0;
	text-align: left;
	font-size: 14px;
	letter-spacing: 1px;
}
.address a {
	color: #c05151;
	margin: 0 0 .5em 0;
	text-align: left;
	font-size: 14px;
	letter-spacing: 1px;
	transition: .5s all;
}
.address a:hover {
  color:#858d94;
  text-decoration: none;
  
}
.contact-form {
  margin: 5em 0;
}
.contact-form input[type="text"] {
	display: inline-block;
	background: none;
	border: 1px solid #A3A1A1;
	width: 32%;
	margin: 0 0 1.5em 0;
	outline: none;
	font-size: 16px;
	color: #747577;
	font-weight: 500;
	padding: 10px 15px 10px 15px;
}
.contact-form input[type="email"] {
	display: inline-block;
	background: none;
	border: 1px solid #A3A1A1;
	width: 32.5%;
	margin: 0 1em 1em 1em;
	outline: none;
	font-size: 16px;
	color: #747577;
	font-weight: 500;
	padding: 10px 15px 10px 15px;
}
.contact-form textarea {
	background: none;
	border: 1px solid #A3A1A1;
	width: 100%;
	display: block;
	height: 150px;
	outline: none;
	font-size: 16px;
	color: #747577;
	font-weight: 500;
	resize: none;
	padding: 10px 15px 10px 15px;
}
.contact-form input[type="submit"]{
	background: #c05151;
	border: 1px solid #c05151;
	padding: .6em 0;
	width: 14%;
	margin-top: 2em;
	font-size: 16px;
	color: #fff;
	font-weight: 400;
	letter-spacing: 1px;
	outline: none;
	transition: .5s all;
}
.contact-form input[type="submit"]:hover{
	color: #c05151;
  background: none;
}
/*---- responsive-design -----*/
@media(max-width:1280px){
span.menu {
  margin-left: 8em;
}
ul.nav1 {
  left: 23%;
}
}
@media(max-width:1024px){
span.menu {
  margin-left: 6em;
}
.top-nav ul li a {
  padding: 3.3em 1.5em 3em 1.5em;
  font-size: 13px;
}
.header-logo img {
  width: 100%;
}
ul.nav1 {
  left: 24%;
}
.srvs-image {
  width: 25%;
}
.img-title {
  width: 68%;
}
.img-title h4 {
  font-size: 14px;
}
.port-caption {
	padding: 6.3em 0;
}
.port-caption a {
  padding: 1em 1.5em;
}  
.resp-tab-item {
  width: 27%;
}
.about-info-right p {
  overflow: hidden;
  height: 15.2em;
  margin-bottom: 0;
}
.about-text-info h4 {
  font-size: 18px;
}
.about-text-info p.about-pgh {
  overflow: hidden;
  height: 82px;
}
.caption h4 a {
  font-size: 15px;
}
.about-team {
  padding: 0em 0 1em 0;
}
.product {
  padding: 6em 0;
}
.sample-page h4 {
  font-size: 20px;
} 
.category ul {
  padding: 0 0 0 1em;
}
.category ul li {
	font-size: 16px;
	overflow: hidden;
	height: 36px;
}
#portfoliolist .portfolio {
  width: 48%;
}
.posts-left {
	width: 42%;
	margin-right: 0;
}
.posts-right lable {
  font-size: 12px;
}
.posts-right h5 {
  font-size: 13px;
}
.posts-right p {
  margin: 0 0 0.5em 0;
  font-size: 13px;
  letter-spacing: 0px;
  line-height: 1.5;
}
.read-more {
  margin: 1em 0 0 0;
}
.read-more a {
  font-size: 12px;
  padding: .5em .6em;
}
.comments-info p {
  letter-spacing: 0px;
  line-height: 1.5;
}
.admin-text {
  padding: 1em 2em;
}
.admin-text h5 {
  font-size: 14px;
  font-weight: 500;
}
.admin-text-right span {
  font-weight: 400;
  font-size: 14px;
}
.response-text-right ul li {
  font-size: 13px;
}
.response-text-left h5 {
  font-size: 14px;
}
.coment-form input[type="text"] {
  font-size: 15px;
} 
.coment-form input[type="email"] {
  font-size: 15px;
}  
.coment-form textarea {
  font-size: 15px;
  height: 125px;
}
.coment-form input[type="submit"] {
  width: 24%;
  font-size: 14px;
}
.map iframe {
  height: 250px;
}
.address {
  margin-top: 4em;
}
.contact h4 {
  font-size: 20px;
}  
.contact-form input[type="text"] {
  width: 31.9%;
  margin: 0 0 1.5em 0;
  font-size: 15px;
}
.contact-form input[type="email"] {
  font-size: 15px;
  width: 32%;
}  
.contact-form textarea {
  font-size: 15px;
}
.contact-form input[type="submit"] {
	padding: .5em 0;
	width: 13%;
	font-size: 14px;
}
}
@media(max-width:768px){
span.menu {
  margin-left: 5em;
}
span.menu img {
    width: 12.5%;
}
.top-nav:nth-child(1) {
  padding: 0;
}
.top-nav {
  float: left;
 width: 75%;
}
.header-logo {
  float: right;
  width: 25%;
}
.header-logo:nth-child(2) {
    padding-left: 0;
}
.top-nav ul li {
 padding: 2.62em 0;
}
.top-nav ul li a {
   padding: 3em 1.1em;
}
ul.nav1 {
	left: 13%;
	top: initial;
}
.services {
  margin: 6em 0 0 0;
}
.services-grids-info {
  float: left;
  width: 33.33%;
}
.srvs-image {
  width: 34%;
}
.img-title {
  width: 59%;
}
.img-title h4 {
  font-size: 13px;
  margin: 15px 0 0 0;
}
.services-grids {
  margin: 5em 0;
}
.services-grids p {
  overflow: hidden;
  height: 5.5em;
}
.portfolio {
  margin-top: 0em;
}
.portfolio-info {
    margin: 5em 0 0 0;
}
.portfolio-grids {
  width: 33.33%;
  float:left;
}
.port-text h5 {
  font-size: 14px;
}
.port-text {
  padding: 1.2em 1.5em;
}
.port-caption {
  padding: 4.15em 0;
  top: 33%;
}
.port-caption a {
  font-size: 12px;
  padding: 1em;
}  
.resp-tabs-list {
  width: 45%;
}
.resp-tab-item {
  margin: 0 .2em;
}
.view.view-first {
  padding: 1.5em;
}
.view.view-first h5 {
  font-size: 14px;
} 
.view.view-first p {
  margin: 0;
} 
.footer-right p {
  font-size: 13px;
}
.about-info {
  padding: 4.5em 2em;
}
.about-info h4 {
  font-size: 17px;
}
.about-info p {
  letter-spacing: 0.5px;
}
.about-info-left {
  float: left;
  width: 45%;
}
.about-info-right {
  float: left;
  width: 55%;
}
.about-info-right p {
  height: 12.2em;
}
.about-text-info {
  float: left;
  width: 33.33%;
}
.about-text-info h4 {
  font-size: 17px;
}
.about-text-info h5 {
  width: 100%;
  font-size: 13px;
}
.about-text-info p.about-pgh {
  height: 35px;
  margin-bottom: .5em;
}
.about-text-info p {
  font-size: 13px;
  letter-spacing: 0.5px;
  margin: 0;
}
.about-team {
  padding: 0em 2em 1em;
}
.about-team-grids {
  float: left;
  width: 33.33% !important;
}
.row {
  margin: 5em 0 3em;
  overflow: hidden;
  height: 25em;
}
.caption p {
  font-size: 13px;
  letter-spacing: 0.5px;
}
#filters li span {
  margin: 0;
  font-size: 14px;
}
.product {
  padding: 6em 0 4em;
}
.sample-page h4 {
  font-size: 18px;
}
.sample-page-left {
  float: left;
  width: 70%;
}
.sample-page-right {
  float: left;
  width: 30%;
}
.category ul li a {
  font-size: 13px;
}
.sample-page-info h5 {
  font-size: 14px;
  margin: 1em 0;
}
.posts-left {
  width: 100%;
  float: none;
} 
.posts-right {
  float: none;
  width: 100%;
}
.posts-right p {
  letter-spacing: 0.5px;
}
.comment-icons ul li a {
  font-size: 13px;
}
.admin-text-left {
  width: 12%;
}
.admin-text-right {
  width: 85%;
}
.admin-text-right p {
  letter-spacing: 0.5px;
}
.cmnt-icon-right {
  width: 63%;
}
.recent-posts-info {
  margin-bottom: 3em;
}
.response-info {
  padding: 1.5em;
}
.comments-info {
  margin-bottom: 3em;
}
.comments-info p.cmmnt {
  overflow: hidden;
  height: 3em;
  margin: 0.5em 0 0 0;
}
.coment-form input[type="submit"] {
  width: 30%;
  font-size: 13px;
  padding: .6em 0;
}
.contact-infom p {
  font-size: 13px;
  margin: 0;
}
.contact-form input[type="email"] {
  width: 31%;
}
.contact-form input[type="submit"] {
  width: 15%;
}
.address p {
  font-size: 13px;
}
}
@media(max-width:640px){
ul.nav1 {
  left: 15.5%;
  width: 100%;
}
.top-nav ul li {
	padding: 1.9em 0;
	float: left;
}
.top-nav ul li a {
  padding: 2.2em .9em;
  font-size: 13px;
}
.services-grids-info:nth-child(1) {
  padding-right: 0;
}
.services-grids-info:nth-child(2) {
  padding-right: 0;
}
.services-grids-info:nth-child(3) {
  padding-right: 0;
}
.srvs-image {
  width: 38%;
}
.img-title {
  width: 55%;
}
.portfolio-grids:nth-child(1),.portfolio-grids:nth-child(3){
  padding: 0;
}
.portfolio-grids:nth-child(2){
	margin: 0 1em;
	padding: 0;
}
.portfolio-grids {
  width: 31.7%;
}
.port-text {
  padding: 1.2em 1em;
}
.port-text h5 {
  font-size: 12px;
}
.port-caption {
  padding: 3.65em 0;
  top: 35%;
}
.port-caption a {
  font-size: 11px;
  padding: 0.8em;
}
.resp-tabs-list {
  width: 72%;
}
.resp-tab-item {
  width: 21%;
}
.view.view-first {
  width: 75%;
} 
.about-info {
  padding: 4.5em 1em;
}
.about-info h4 {
  font-size: 16px;
}
.about-info-right p {
  height: 9.9em;
}
.about-text-info h4 {
  font-size: 16px;
}
.about-text-info:nth-child(1),.about-text-info:nth-child(2),.about-text-info:nth-child(3) {
  padding-right: 0;
} 
.about-text-info h5 {
  font-size: 12px;
}
.about-text-info p.about-pgh {
  height: 72px;
  margin-bottom: 0;
}
.about-text-info p {
  overflow: hidden;
  height: 71px;
}
.about-text-info:nth-child(2) h5 {
  overflow: hidden;
  height: 34px;
}
.row {
  margin: 4em 0 3em;
  overflow: hidden;
  height: 21em;
}
.col-sm-6.col-md-3.about-team-grids:nth-child(1) {
  padding-right: 0;
}
.col-sm-6.col-md-3.about-team-grids:nth-child(2) {
  padding-right: 0;
}
.col-sm-6.col-md-3.about-team-grids:nth-child(3) {
  padding-right: 0;
}
.col-sm-6.col-md-3.about-team-grids:nth-child(4) {
  padding-right: 0;
}
.thumbnail .caption {
  padding: 9px 5px !important;
}
.caption h4 {
  font-size: 13px;
}
.caption h4 a {
  font-size: 13px;
}
.caption p {
  letter-spacing: 0px;
}
.product {
  padding: 5em 0 3em;
}
#filters li span {
  font-size: 13px;
}
.sample-page-left {
  float: none;
  width: 100%;
}
.comment-icons {
  margin: 3em 0;
}
.admin-text {
  padding: 1em;
}
.admin-text-right p {
  margin: 0 0 1em 0;
}
.sample-page-info h5 {
  margin: 0 0 0.5em 0;
}
.response-text-right ul li a {
  font-size: 13px;
}
.coment-form input[type="submit"] {
  padding: .7em 0;
}
.sample-page-right {
  margin-top: 2em;
}
.sample-page-right {
  float: none;
  width: 100%;
} 
.category ul {
  padding: 0 0 0 2em;
}
.posts-left {
  width: 36%;
  float: left;
}
.posts-right {
  float: right;
  width: 58%;
}
.read-more {
  margin: 1.5em 0 0 0;
}
.comments-info {
  float: left;
  width: 33.33%;
  margin-bottom: 0em;
}
.sample-page {
  padding: 0em 0 5em 0;
}
.contact h4 {
  font-size: 19px;
}
.map {
  margin: 5em 0 3em;
}
.map iframe {
  height: 200px;
}
.contact-form {
  margin: 3em 0;
}
.contact-form input[type="text"] {
  width: 31%;
  font-size: 14px;
  margin: 0 0 1em 0;
}
.contact-form input[type="email"] {
  width: 31%;
  font-size: 14px;
  margin: 0 0 1em 0;
}
.contact-form textarea {
  font-size: 14px;
  height: 125px;
}
.contact-form input[type="submit"] {
  width: 20%;
}
}
@media(max-width:480px){
.social-icons {
  display: none;
}
span.menu img {
  width: 15.5%;
}
span.menu {
  margin-left: 1em;
}
.header {
  position: relative;
  padding-top: 1em;
}
.top-nav {
  width: 68%;
 margin-top: 0;
}
.header-logo {
  width: 32%;
}
ul.nav1 {
  left: 21%;
  top: 0%;
}
.top-nav ul li {
	padding: 0;
	width: 78%;
	border-bottom: 1px solid rgb(97, 93, 93);
	background: rgba(53, 58, 63, 0.94);
	text-align: center;
}
.top-nav ul li a {
	padding: .8em 0;
	font-size: 13px;
	width: 100%;
	background: none;
	display: block;
}
.services {
  margin: 4em 0 0 0;
}
.services-grids {
  margin: 3em 0 0 0;
}
.services-grids-info {
  width: 50%;
}
.services-grids-info:nth-child(3) {
  display: none;
}
.img-title h4 {
  font-size: 12px;
}
.img-title {
  width: 57%;
}
.portfolio-info {
  margin-top: 3em;
}
.portfolio-grids {
  width: 31.15%;
}
.port-text {
  padding: .8em 0.4em;
}
.port-text h5 {
  font-size: 11px;
}
.port-text span {
  font-size: 12px;
}
.port-caption {
  padding: 2.39em 0;
  top: 38.9%;
}
.port-caption a {
  font-size: 10px;
  padding: 0.7em;
}
.resp-tabs-list {
  width: 97%;
}
.sap_tabs {
  padding: 2em 0;
}
.resp-tabs-list {
  margin: 0 auto 1.5em;
}
.view.view-first {
  width: 100%;
  padding: 1em;
}
.view.view-first h5 {
  font-size: 13px;
  margin: 0 0 0.5em 0;
}
.view.view-first p {
  font-size: 13px;
}
.about-info {
  padding: 3em 1em;
}
.about-info h4 {
  font-size: 15px;
  overflow: hidden;
  height: 18px;
  margin: 0 0 0.5em;
}
.about-info-right p {
  height: 5.5em;
}
.about-info {
  padding: 3em 1em 2em;
}
.about-text-info {
  width: 50%;
}
.about-text-info:nth-child(3) {
  display: none;
}
.about-text-info h4 {
  font-size: 15px;
}
.about-text-info p {
  height: 38px;
}
.about-team {
  padding: 0em 1em 1em;
}
.row {
    margin: 3em 0 2em;
    height: 20em;
}
.caption h4 {
  overflow: hidden;
  height: 15px;
}
.portfolio-filter {
  margin: 1em 0;
}
.product {
  padding: 3em 0 2em;
}
#filters li span {
  font-size: 12px;
}
#filters li {
  padding: 0 0.4em;
}
#portfoliolist .portfolio {
	width: 47%;
	margin: 1.5%;
}
.sample-page {
  padding: 0em 0 3.5em 0;
}
.sample-page h4 {
  font-size: 16px;
}
.sample-page-info h5 {
  margin: 1em 0;
}
.sample-page-info h5 {
  font-size: 12px;
}
.sample-page-info p {
  margin: 0 0 1em 0;
  overflow: hidden;
  height: 8em;
}
.comment-icons {
  margin: 2em 0;
}
.comment-icons ul li {
  margin: 10px;
}
.admin-text-right p {
  margin: 0 0 1em 0;
  overflow: hidden;
  height: 4em;
}
.admin-text-right span {
  font-size: 13px;
}
.response-text-right p {
  overflow: hidden;
  height: 4em;
}
.response-text-right ul {
  margin: 0;
}
.response-text-right ul li {
  font-size: 12px;
}
.response-text-right ul li a {
  font-size: 12px;
}
.coment-form input[type="text"] {
  font-size: 14px;
  padding: 6px 10px;
}
.coment-form input[type="email"] {
  font-size: 14px;
  padding: 6px 10px;
}
.coment-form textarea {
  font-size: 14px;
  height: 100px;
  padding: 6px 10px;
}
.coment-form input[type="submit"] {
  width: 35%;
  font-size: 12px;
  padding: .6em 0;
}
.posts-left {
  width: 42%;
}
.posts-right {
  width: 55%;
}
.posts-right p {
  margin: 0;
}
.read-more {
  margin: 1em 0 0 0;
}
.comments {
  overflow: hidden;
  height: 13.5em;
}
.comments-info {
  width: 50%;
   margin-top: 1em;
}
.recent-posts-info {
  margin: 3em 0;
}
.map {
  margin: 3em 0;
}
.contact h4 {
  font-size: 16px;
}
.map iframe {
  height: 180px;
}
.address {
  margin-top: 3em;
}
.contact-form {
  margin: 2em 0;
}
.contact-form input[type="text"] {
  width: 100%;
  font-size: 13px;
  padding: 8px 10px;
}
.contact-form input[type="email"] {
  width: 100%;
  font-size: 13px;
  padding: 8px 10px;
}
.contact-form textarea {
  font-size: 13px;
}
.contact-form input[type="submit"] {
  width: 25%;
  font-size: 13px;
  margin-top: 1em;
}
}
@media(max-width:320px){
span.menu {
  margin-left: 0em;
}
.header-logo:nth-child(2) {
  padding: 0;
}
span.menu img {
  width: 22%;
}
.top-nav {
  width: 60%;
}
.header-logo {
  width: 40%;
}
ul.nav1 {
  left: 22%;
  top: 0%;
}
.top-nav ul li {
  width: 76%;
}
.top-nav ul li a {
  padding: .6em 0;
  font-size: 12px;
}
.services h3 {
  font-size: 14px;
  letter-spacing: 2px;
    line-height: 1.6;
}
.img-title h4 {
  font-size: 12px;
  line-height: 1.5;
}
.services-grids-info {
  width: 100%;
  float: none;
}
.img-title {
  width: 62%;
}
.services-grids-info:nth-child(1) {
 margin-bottom: 2em;
}
.portfolio-grids {
  width: 100%;
  float:none;
}
.port-text {
  padding: 1em;
}
.port-text h5 {
  font-size: 12px;
}
.portfolio-grids:nth-child(2) {
  margin: 2em 0;
  padding: 0;
}
.port-caption {
    padding: 5.55em 0;
  top: 25.9%;
}
.resp-tabs-list {
  width: 100%;
}
.resp-tab-item {
  width: 32%;
  margin: 0;
}
.resp-tabs-container {
  padding: 0;
}
.view.view-first p {
  overflow: hidden;
  height: 4em;
}
.about-info {
    padding: 2em 0 1em 0;
}
.about-info p {
  letter-spacing: 0;
  margin: 0 0 1em 0;
}
.about-info-left {
  width: 55%;
}
.about-info-right:nth-child(4) {
  padding: 0;
}
.about-info-right {
  width: 44%;
}
.about-info-right p {
  height: 4em;
  margin: 0;
}
.about-text-info {
  float: none;
  width: 100%;
}
.about-text-info h4 {
  margin: 1em 0;
}
.about-text-info:nth-child(1), .about-text-info:nth-child(2), .about-text-info:nth-child(3) {
  padding: 0;
}
.about-text-info h5 {
  overflow: hidden;
  height: 14px;
}
.about-text-info:nth-child(2) h5 {
  overflow: hidden;
  height: 14px;
}
.about-team-grids {
    width: 48% !important;
}
.about-team-grids:nth-child(1){
  padding: 0;
  margin-right: 0.5em;
}
.about-team-grids:nth-child(2){
  padding: 0;
}
.thumbnail .caption {
  padding: 9px 2px !important;
}
.row {
  height: 19em;
  margin: 3em 0 1em;
}
#filters li {
  padding: 0 0.9em;
}
#filters li:nth-child(1) {
  text-align: left;
  margin-bottom: 0.5em;
}
#filters li:nth-child(2) {
  padding: 0 0 0 5em;
}
.portfolio-filter {
  margin: 0;
}
.product {
  padding: 2em 0 2em;
}
#filters {
  margin: 0 0 7%;
} 
.sample-page {
  padding: 0em 0 2em 0;
}
.sample-page-left:nth-child(2) {
  padding: 0;
}
.sample-page-info h5 {
  overflow: hidden;
  height: 36px;
  margin: 0.7em 0;
}
.sample-page-info p {
  height: 6.6em;
  letter-spacing: 0px;
}
.sample-page h4 {
  font-size: 15px;
}
.comment-icons {
  padding: 0.5em 0;
}
.comment-icons ul li:nth-child(1) {
  margin: 8px 0 8px 10px;
}
.comment-icons ul li {
  margin: 8px 12px;
  font-size: 13px;
}
.admin-text h5 {
  height: 17px;
    margin: 0 0 .7em;
}
.admin-text-left {
  width: 20%;
}
.admin-text-right {
  width: 77%;
}
.admin-text-right p {
  height: 4.2em;
  margin: 0 0 0.5em 0;
}
.admin-text-right span {
  font-weight: 300;
}
.response-text-left {
  width: 22%;
}
.response-text-right {
  width: 74%;
}
.response-text-left h5 {
  height: 17px;
  margin: 0.7em 0 0;
}
.response-text-right p {
  height: 4em;
}
.response-text-right ul li {
  font-size: 11px;
}
.coment-form input[type="text"] {
  padding: 6px 10px;
  width: 100%;
}
.coment-form input[type="email"] {
  padding: 6px 10px;
  width: 100%;
}
.coment-form input[type="submit"] {
  width: 48%;
}
.sample-page-right:nth-child(3) {
  padding: 0;
}
.category ul {
  padding: 0 0 0 1em;
}
.recent-posts-info {
  margin: 2em 0;
}
.posts-left {
  width: 100%;
}
.posts-right {
  width: 100%;
  margin: 1em 0 2em;
}
.comments {
  overflow: hidden;
  height: 30.5em;
}
.cmnt-icon-right {
  width: 69%;
}
.comments-info {
  width: 100%;
  margin-top: 1em;
  float: none;
}
.map {
  margin: 2em 0;
}
.contact h4 {
  font-size: 15px;
}
.map iframe {
  height: 125px;
}
.contact-infom p {
  letter-spacing: 0px;
  overflow: hidden;
  height: 5.5em;
}
.address {
  margin-top: 2em;
}
.address-left {
  float: none;
  width: 100%;
  margin-bottom: 1.5em;
}
.contact-form {
  margin: 1em 0;
}
.contact-form textarea {
  height: 100px;
}
.contact-form input[type="submit"] {
  width: 30%;
  font-size: 12px;
  margin-top: 1em;
  padding: .4em 0;
}
}